<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AzureSDK" value="C:\Program Files\Microsoft SDKs\Windows Azure\"/>

    <add key="Orchard.Azure.Settings.StorageConnectionString" value="UseDevelopmentStorage=true"/>
    <add key="Orchard.Azure.Media.StorageConnectionString" value="UseDevelopmentStorage=true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
