<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net48" />
  <package id="log4net" version="3.3.1" targetFramework="net48" />
  <package id="Microsoft.Azure.KeyVault.Core" version="3.0.5" targetFramework="net48" />
  <package id="Microsoft.Data.Edm" version="5.8.4" targetFramework="net48" />
  <package id="Microsoft.Data.OData" version="5.8.4" targetFramework="net48" />
  <package id="Microsoft.Data.Services.Client" version="5.8.4" targetFramework="net48" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.24" targetFramework="net48" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.19" targetFramework="net48" />
  <package id="Moq" version="4.5.30" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="NUnit" version="2.7.1" targetFramework="net48" />
  <package id="System.Spatial" version="5.8.4" targetFramework="net48" />
  <package id="WindowsAzure.Storage" version="9.3.3" targetFramework="net48" />
</packages>