@{
    Script.Require("Ajaxify");

    var contentItemId = (int)Model.ContentItem.Id;
}
<div class="widget-ajax-placeholder" data-widget-ajax-url="@Url.Action("Display", "Ajax", new { id = contentItemId, area = "IDeliverable.Widgets" })">
    @Display.AjaxWidgetPartLoading()
    @Display.AjaxWidgetPartError()
</div>