@model Orchard.Tags.ViewModels.TagsIndexViewModel

<h1 class="page-title">@Html.TitleForPage(T("Tags").ToString())</h1>
@Html.UnorderedList(
    Model.Tags,
    (t, i) => Html.ActionLink(
        t.TagName,
        "Search",
        new { tagName = t.TagName },
        new { @class = "" /* todo: (heskew) classify according to tag use */ }
        ),
    "tagCloud")