@model Orchard.ImportExport.ViewModels.ExportViewModel
@{ Layout.Title = T("Export").ToString(); }
<div class="or-panel-main panel-default">
    @using (Html.BeginFormAntiForgeryPost(Url.Action("Export", new { area = "Orchard.ImportExport" }), FormMethod.Post, new { enctype = "multipart/form-data" })) {
        Html.ValidationSummary();
        <div class="panel-body">
            @foreach (var action in Model.Actions) {
                <div class="export-action">
                    @Display(action.Editor)
                </div>
            }
        </div>
        <div class="panel-footer">
            <button type="submit" class="primaryAction"><i class="fa fa-upload" aria-hidden="true"></i> @T("Export")</button>
        </div>
    }
</div>