@model Orchard.ImportExport.ViewModels.ImportViewModel
@{
    Layout.Title = T("Import").ToString();
}
<div class="or-panel-main panel-default">
    @using (Html.BeginFormAntiForgeryPost(Url.Action("Import", new { area = "Orchard.ImportExport" }), FormMethod.Post, new { enctype = "multipart/form-data" })) {
        @Html.ValidationSummary();
        <div class="panel-body">
            @foreach (var action in Model.Actions) {
                <div class="import-action">
                    @Display(action.Editor)
                </div>
            }
        </div>
        <div class="panel-footer">
            <button type="submit" class="primaryAction"><i class="fa fa-download" aria-hidden="true"></i> @T("Import")</button>
        </div>
    }
</div>