@model Orchard.ImportExport.ViewModels.ImportViewModel
@{ 
    Layout.Title = T("Import").ToString();
}
@using (Html.BeginFormAntiForgeryPost(Url.Action("Import", new { area = "Orchard.ImportExport" }), FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.ValidationSummary();
    foreach(var action in Model.Actions) {
        <div class="import-action">
            @Display(action.Editor)
        </div>
    }
    <button type="submit" class="primaryAction">@T("Import")</button>
}
