form.search {
    float:left;
}
form.search input {
    display:inline;
    width:20em;
}
.search-summary {
    float:right;
    font-style:italic;
    margin-top:0;
}
.search-summary em {
    font-weight:bold;
}
.search-results {
    clear:both;
}