/*========= SETUP =========*/

/*- Reset -*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/*- Clear Fix -*/

.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.group {display: inline-block;}  /* for IE/Mac */


/*========= General Typography =========*/

/* Default font settings. 
   The font-size percentage is of 16px. (0.75 * 16px = 12px) */
body { 
  font-size: 75%;
  color: #67747a; 
  background: #fff;
  font-family: Tahoma, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #111; }

h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 1.3em; margin-bottom: 0.75em; color: #444d51; }
h3 { font-size: 1.2em; line-height: 1; margin-bottom: 1em; color: #444d51; }
h4 { font-size: 1.1em; line-height: 1.25; margin-bottom: 1.25em; color: #444d51; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; color: #444d51; }
h6 { font-size: 1em; font-weight: bold; }

h1 img, h2 img, h3 img, 
h4 img, h5 img, h6 img {
  margin: 0;
}

/* Text elements
-------------------------------------------------------------- */

p           { margin: 0 0 1.5em; line-height: 175%; }
p img.left  { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }

a:focus, 
a:hover     { color: #85b35c; }
a           { color: #5f97af; text-decoration: none; }

blockquote  { margin: 1.5em; color: #666; font-style: italic; }
strong      { font-weight: bold; }
em,dfn      { font-style: italic; }
dfn         { font-weight: bold; }
sup, sub    { line-height: 0; }

abbr, 
acronym     { border-bottom: 1px dotted #666; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:#666; }

pre 				{ margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }

/* Lists
-------------------------------------------------------------- */

li ul, 
li ol       { margin:0 1.5em; }
ul, ol      { margin: 0 1.5em 1.5em 1.5em; }

ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }

dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}

/* Tables
-------------------------------------------------------------- */

table       { margin-bottom: 1.4em; width:100%; }
th          { font-weight: bold; }
thead th 		{ background: #c3d9ff; }
th,td,caption { padding: 4px 10px 4px 5px; }
tr.even td  { background: #e5ecf9; }
tfoot       { font-style: italic; }
caption     { background: #eee; }

/* Misc classes
-------------------------------------------------------------- */

.small      { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large      { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.hide       { display: none; }

.quiet      { color: #666; }
.loud       { color: #000; }
.highlight  { background:#ff0; }
.added      { background:#060; color: #fff; }
.removed    { background:#900; color: #fff; }

.first      { margin-left:0; padding-left:0; }
.last       { margin-right:0; padding-right:0; }
.top        { margin-top:0; padding-top:0; }
.bottom     { margin-bottom:0; padding-bottom:0; }


/*========= FORMS =========*/

/* -------------------------------------------------------------- 
   
   forms.css
   * Sets up some default styling for forms
   * Gives you classes to enhance your forms
   
   Usage:
   * For text fields, use class .title or .text
   
-------------------------------------------------------------- */

label       { font-weight: normal; }
fieldset    { padding:0em; margin: 0 0 0em 0; border: 0px solid #ccc; }
legend      { font-weight: bold; font-size:1.2em; }


/* Form fields
-------------------------------------------------------------- */

input[type=text],
input.text, input.title, 
textarea, select { 
  background-color:#fff; 
  border:1px solid #bbb; 
}
input[type=text]:focus, 
input.text:focus, input.title:focus, 
textarea:focus, select:focus { 
  border-color:#a5cc7a;
  background-color: #fbfff7;
}

input[type=text], 
input.text, input.title,
textarea, select {
  margin:0.5em 0;
}

input.text, 
input.title   { width: 300px; padding:5px; }
input.title   { font-size:1.5em; }
textarea      { width: 390px; height: 250px; padding:5px; }

input[type=checkbox], input[type=radio], 
input.checkbox, input.radio { 
  position:relative; top:.25em; 
}

form.inline { line-height:3; }
form.inline p { margin-bottom:0; }

/*- Login Control -*/

.login-form { border: solid 1px #e2e2e2; padding: 20px; font-size: 1.2em; font-weight: normal; }
.login-form div { padding: 5px 0px 5px 0px; }
.login-form input[type=submit] { margin: 5px 0px 5px 0px; }
.validation-summary-errors { padding: 20px 20px 0px 20px; border: solid 1px #fff54f; background-color: #fffcca; margin-bottom: 20px; }

.edit-form { display: none; }
.static_text_div { border: dashed 1px #CCCCCC; display:block; color: inherit; }
.static_text_div:hover { border: dashed 1px red; color: inherit; }



/* Success, notice and error boxes
-------------------------------------------------------------- */

.error,
.notice, 
.success    { padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error      { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notice     { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.success    { background: #E6EFC2; color: #264409; border-color: #C6D880; }
.error a    { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }




/*========= GENERAL =========*/

body { background: #f3f4f4 url('../Content/Images/bkg.jpg') repeat-x; }

#container { width: 962px; margin: 0px auto 0px auto; }



/*========= HEADER =========*/

.header {}

/*- Brand -*/

.brand { width: 962px; }
.brand .title { padding: 20px 0px 15px 0px; font-size: 1.6em; font-family: Segoe UI, Segoe, Arial, Sans-Serif; color:#4c5c64; float: left;  }

/*- Page Navigation -*/

#nav { background: transparent url('../Content/Images/menu-left.png') no-repeat left top; margin: 0px 0px 20px 0px; }
#nav .menu { margin: 0px; padding: 0px; height: 40px; background: transparent url('../Content/Images/menu-right.png') no-repeat right top; }
#nav .menu li { float:left; list-style: none; background: transparent url('../Content/Images/menu-divider.png') repeat-y right top; }
#nav .menu li a { display:block; margin: 0px 2px 1px 0px; padding: 11px 39px 4px 39px; height: 24px; color: #FFF; font-size: 1.2em; text-decoration: none; text-shadow: 0px -1px 0px #535550; }
#nav .menu li a:hover { background: #9dc975 url('../Content/Images/menu-hover.png') repeat-x right top; }
#nav .menu li:first-child a:hover { margin: 0px 2px 1px 0px; background: #9dc975 url('../Content/Images/menu-hover-left.png') no-repeat left top;  }

#nav .menu li.current a { background: #9dc975 url('../Content/Images/menu-hover.png') repeat-x right top; }
#nav .menu li.current:first-child a { margin: 0px 2px 1px 0px; background: #9dc975 url('../Content/Images/menu-hover-left.png') no-repeat left top;  }

.admin { float: right; margin: 0px; padding: 25px 0px 0px 0px; }
.admin li { float:left; list-style: none; padding: 0px 0px 5px 20px; }
.admin li a {}



/*========= Footer =========*/

.footer { width: 962px; border-top: solid 1px #e2e2e2; padding: 20px 0px 40px 0px; margin: 20px 0px 0px 0px; }
.footer ul { margin: 0px; padding: 0px; float: right; }
.footer ul li { float:left; list-style: none; color: #98bac8; padding: 0px 0px 0px 20px; }
.footer a { color: #4c5c64; }
.footer a:hover { color: #85b35c; }


/*========= Home =========*/

.home-hero-container { width: 962px; padding: 0px 0px 5px 0px; margin: 0px 0px 20px 0px; background: transparent url('../Content/Images/feature-bkg-bottom.png') no-repeat left bottom; }
.home-hero { width: 922px; position: relative; min-height: 317px; padding: 20px; background: transparent url('../Content/Images/feature-bkg-top.png') no-repeat left top; }
.home-hero .hero-content { width: 329px; margin: 40px 0px 0px 60px; color: #ffffff; float: left; }
.home-hero .hero-content p { font-size: 1.2em; line-height: 150%; }
.home-hero .hero-content h1 { color: #ffffff; font-size: 2em; line-height: 1.2em; text-shadow: 0px -1px 0px #558599; }
.home-hero .hero-content a { color: #ffffff; }

.home-hero .hero-gallery { float:left; position: relative; margin: 0px 0px 0px 40px; }
.home-hero .hero-gallery #slider { position: relative; border: solid 1px #4d8298; }

    

/*========= Page =========*/

.content-container { background: transparent url('../Content/Images/content-bottom.png') no-repeat left bottom; padding: 0px 0px 0px 0px; }
.content { position: relative; background: transparent url('../Content/Images/content-top.png') no-repeat left top; padding: 20px 0px 20px 0px; }
.content-items { width: 882px; padding: 20px 40px 0px 40px; background: transparent url('../Content/Images/content-bkg.png') repeat-y left top; }
.content-items .item { width: 421px; float: left; }
.content-items .item:first-child {margin: 0px 40px 0px 0px; }
.content-items h1 { font-size: 1.3em; margin-bottom: 0.75em; color: #444d51; }

/*- Content Pages -*/
.content .page-title { display: none; }
.sub .page-title { display: block; background: transparent url('../Content/Images/sub-header.png') no-repeat left top; width: 962px; height: 48px; position: absolute; top: 1px; left: 1px; color: #ffffff; font-size: 2em; text-shadow: 0px -1px 0px #5f8b9e; padding: 15px 0px 15px 40px; }
.content-items .main { float: left; width: 574px; margin: 0px 60px 20px 0px; padding: 50px 0px 0px 0px; }
.content-items .sidebar { float: left; width: 232px; padding: 45px 0px 0px 0px; }
.content-items .side-block { float: left; width: 232px; border-bottom: solid 1px #e2e2e2; padding: 20px 0px 0px 0px; }
.content-items .archives { float: left; width: 232px; border-bottom: solid 1px #e2e2e2; padding: 20px 0px 0px 0px; }
.content-items .archives .archiveMonthList { padding: 20px 0px 20px 0px; list-style: none; }


/*- Highlight Area -*/
.hightlights { width: 882px; padding: 40px 40px 0px 40px; }
.hightlights .one { float: left; width: 266px; margin-right: 40px; }
.hightlights .two { float: left; width: 266px; margin-right: 40px; }
.hightlights .three { float: left; width: 266px; }
.hightlights h3 { margin: 0px 0px 0.75em 0px; }
.hightlights img { float: left; padding: 0px 0px 0px 0px; }


/*========= BLOGS =========*/

.blogPosts, .taggedPosts { margin: 0px; padding: 0px; }
.blogPosts li, .taggedPosts li { padding: 30px 0px 0px 0px; list-style: none; border-top: solid 1px #e2e2e2; } 
.blogdescription { font-size: 1.3em; line-height: 150%; color: #6da8c0; }

#comments { padding-top: 20px; border-top: dashed 1px #d8d8d8; padding-bottom: 10px; margin-top: 30px; }
.comments { position: relative;  padding: 0px 0px 20px 0px; margin: 0px; clear: both; }
.comments li { display: block; position: relative; list-style: none; background-color: #fbfff7; border: solid 1px #ebf4e3; border-bottom-color: #d5ebbd; border-right-color: #d5ebbd; padding: 20px 20px 0px 20px; margin: 0px 0px 50px 0px; }
.comments .commentauthor {position: absolute; bottom: -27px; left: 20px; color: #a5cc7a; background: transparent url('../Content/Images/comment-arrow.png') no-repeat 20px 0px; padding: 15px 0px 0px 0px; }

.comment-form { border: solid 1px #d8d8d8; padding: 20px; }
.comment-form h2 { border-bottom: dashed 1px #d8d8d8; padding-bottom: 10px; }
.comment-form .who {}
.comment-form .who label { float: left; text-align: right; width: 50px; padding: 12px 10px 0px 0px; }
.comment-form .what { padding: 10px 0px 0px 60px;}
.comment-form .what label[for=CommentText] { float: none; display:block; }
.comment-form .what input[type=submit] { margin: 10px 0px; }

.posted { margin: 0px 0px 10px 0px; color: #999999; }

.tags span { display: block; float: left; padding: 3px 10px 5px 0px; }
.tags a { display: block; float: left; padding: 3px 5px 5px 5px; background-color: #d7e6ed; color: #95a5ac; text-shadow: 1px 1px 0px #FFF; -moz-border-radius: 5px;
-webkit-border-radius: 5px; margin: 0px 10px 0px 0px; }
.tags a:hover { display: block; float: left; padding: 3px 5px 5px 5px; background-color: #a5cc7a; color: #668b3e; text-shadow: 1px 1px 0px #c8e6a6; -moz-border-radius: 5px;
-webkit-border-radius: 5px; margin: 0px 10px 0px 0px; }

/*- Archive List -*/

.archive-trail { padding: 0px 0px 20px 0px; }

/*- Tag Cloud */

.tagCloud { list-style: none; margin: 20px 0px 0px 0px; }
.tagCloud li { display: block; float: left; padding: 3px 10px 5px 0px; }
.tagCloud a { display: block; float: left; padding: 3px 5px 5px 5px; background-color: #d7e6ed; color: #95a5ac; text-shadow: 1px 1px 0px #FFF; -moz-border-radius: 5px;
-webkit-border-radius: 5px; margin: 0px 10px 0px 0px; }
.tagCloud a:hover { display: block; float: left; padding: 3px 5px 5px 5px; background-color: #a5cc7a; color: #668b3e; text-shadow: 1px 1px 0px #c8e6a6; -moz-border-radius: 5px;
-webkit-border-radius: 5px; margin: 0px 10px 0px 0px; }

/*========= PLUGINS =========*/

/*- Easy Slider -*/

#slider ul, #slider li {
	margin:0;
	padding:0;
	list-style:none;
}
#slider, #slider li { 
	/* 
		define width and height of container element and list item (slide)
		list items must be the same size as the slider area
	*/ 
	width:471px;
	height:319px;
	overflow:hidden; 
}

span#prevBtn a { display: block; width: 29px; height: 29px; position: absolute; top: 135px; left: -40px; background: transparent url('../Content/Images/nav-arrow-left.png') no-repeat; }
span#nextBtn a { display: block; width: 29px; height: 29px; position: absolute; top: 135px; left: 485px; background: transparent url('../Content/Images/nav-arrow-right.png') no-repeat; }					

/* // Easy Slider */

/*

.manage {
 position: absolute;
 width: 100%;
 height: 100%;
}

.manage a {
 display: block;
 width: 100%;
 height: 100%;
 background-color: Yellow;
}

*/