@using Orchard.Layouts.ViewModels;
<div class="layout-element-wrapper" ng-class="{'layout-container-empty': getShowChildrenPlaceholder()}">
    <ul class="layout-panel layout-panel-main">
        <li class="layout-panel-item layout-panel-label">Canvas</li>
        @Display()
        @Display(New.LayoutEditor_Template_Properties(ElementTypeName: "canvas"))
    </ul>
    <div class="layout-container-children-placeholder">
        @T("This layout canvas is empty. To get started, drag a grid element from the toolbox and drop it here.")
    </div>
    @Display(New.LayoutEditor_Template_Children())
</div>