body {
background-color:#000;
font-size:0.85em;
min-width:900px;
color: #ebe6e6;
font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
color: #eee;
font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

#header {
 background: #000 url('/Content/Images/HeaderBackground.gif') repeat-x top left;
 border: 1px solid #151313;
}

#header h1 {
border:medium none;
color:#fff;
font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
font-size:24px !important;
font-weight:bold;
line-height:2em;
margin:0px;
padding:8px 0px 0px 10px;
}

#page
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#main {
 margin:0px;
 padding:10px 0px 0px 0px;
 background-color:#151313;
}

#main li {
 list-style:none;
}

#sideBar1, #sideBar2, #contentMain {
float:left;
}

#sideBar2 {
float:right;
}

#sideBar1, #sideBar2 {
width:20%;
padding:8px;
}

#contentMain {
width:54%;
padding:8px 4px 0px 4px;
}

#menu
{
    background: #000 url('/Content/Images/HeaderBackground.gif') repeat-x bottom left;
    border: 1px #312e2e solid;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    border-bottom: none;
    padding:2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li a
{
    padding: 6px 16px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background: #333 url('/Content/Images/HeaderBackground.gif') repeat-x top left;
    color: #fff;
}

ul#menu li a:hover
{
    background-color: #333;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #333;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #333;
    color: #fff;
}