@using Orchard.ContentManagement
@{
    Style.Include("admin.css");
    Script.Require("ShapesBase");
    Script.Include("~/Themes/TheAdmin/scripts/admin.js").AtFoot();
    Script.Include("audit-trail-admin.js").AtFoot();

    var contentItem = (ContentItem)Model.ContentItem;
    Layout.Title = T("{0} - (version {1})", contentItem.ContentType, contentItem.Version);
}
<div class="content-disabled">
    @Display(Model)
    <div class="overlay"></div>
</div>