@using Orchard.Tags.Models
<ul class="tag-cloud">
    @if (((IEnumerable<object>)Model.TagCounts).Any()) {
        foreach (TagCount tagCount in Model.TagCounts) {
            <li class="tag-cloud-tag tag-cloud-tag-@tagCount.Bucket">
                @Html.ActionLink(tagCount.TagName, "Search", "Home", new {
                       area = "Orchard.Tags",
                       tagName = tagCount.TagName
                   }, null
                  )
            </li>
        }
    }
    else {
        <li>
            @T("There are no tags to display.")
        </li>
    }
</ul>
