@using Orchard.Core.Contents
@using Orchard.MediaLibrary.Fields
@using Orchard.Utility.Extensions;

@{
    var field = (MediaLibraryPickerField) Model.ContentField;
    string name = field.DisplayName;
    var mediaParts = field.MediaParts;
}
@if (mediaParts.Any()) {
<span class="name">@name:</span>
<p class="media-@name.HtmlClassify()">    
        @foreach (var contentItem in mediaParts) {
                @Display(BuildDisplay(contentItem, "Thumbnail"))
        }
</p>
}