{
    "groups": [
        {
            "name": "Colors",
            "settings": [
                {
                    "name": "BaseColor",
                    "type": "Color",
                    "default": "#777c00",
                    "description": "The base color of the site."
                },
                {
                    "name": "TopAccentColor",
                    "type": "Color",
                    "default": "#d6d7b2",
                    "description": "The top accent color of the site."
                },
                {
                    "name": "BottomAccentColor",
                    "type": "Color",
                    "default": "#ebebd9",
                    "description": "The bottom accent color of the site."
                },
                {
                    "name": "TextColorMenu",
                    "type": "Color",
                    "default": "#fff",
                    "description": "The color of the text on the main menu items. (first level)"
                },
                {
                    "name": "TextColorSubItem",
                    "type": "Color",
                    "default": "#000",
                    "description": "The color of the text on the subnav items. (second level)"
                }
            ]
        }
    ]
}