.navicon-media-url:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: '\f01a';
    font-size: 14px;
    color: black;
    padding-right: 5px;
}
