.navicon-my-computer:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: '\f015';
    font-size: 14px;
    color: black;
    padding-right: 5px;
}

/* RTL */

.dir-rtl .navicon-my-computer:before {
    padding-right: inherit;
    padding-left: 5px;
}