.navicon-media {
background-image:url(images/menu.media.png) !important;
}
.navicon-media:hover {
background-position:0 -30px !important;
}
.summary .media-thumbnail {
display: inline-block;
}

.summary .media-thumbnail-image {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAABhGlDQ1BJQ0MgcHJvZmlsZQAAKJF9kT1Iw0AcxV9TRSkVB6sUcchQnSyIijhKFYtgobQVWnUwufQLmjQkKS6OgmvBwY/FqoOLs64OroIg+AHi5Oik6CIl/i8ptIjx4Lgf7+497t4BQqPCVLNrAlA1y0jFY2I2tyr2vEJAGAEMYVBipp5IL2bgOb7u4ePrXZRneZ/7c/QpeZMBPpF4jumGRbxBPLNp6Zz3iUOsJCnE58TjBl2Q+JHrsstvnIsOCzwzZGRS88QhYrHYwXIHs5KhEk8TRxRVo3wh67LCeYuzWqmx1j35C4N5bSXNdZojiGMJCSQhQkYNZVRgIUqrRoqJFO3HPPzDjj9JLplcZTByLKAKFZLjB/+D392ahalJNykYA7pfbPtjFOjZBZp12/4+tu3mCeB/Bq60tr/aAGY/Sa+3tcgR0L8NXFy3NXkPuNwBwk+6ZEiO5KcpFArA+xl9Uw4YuAUCa25vrX2cPgAZ6mr5Bjg4BMaKlL3u8e7ezt7+PdPq7wdPt3KZgxNbzAAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAuIwAALiMBeKU/dgAAAPFJREFUeNrt3LENhDAQRcHlsExA/03SAMjY5mI6YKV5HXxPsJmX4zieSF6tNfZ9j1JK6h3XdcUv9KmAABEQIAICRECACAgQAREQIAICRECACAgQAREQIAICRECACAgQAREQIAICRECACAgQAREQIAICRECACAgQAdGrUmtNP2Jd15hzRu89/Zblvu/0P8rNOaO1FmOM1Du2bYuS/Vu8iIjee4wxorWWHsQNcdQFBIiAABEQIAICREAEBIiAABEQIAICREAEBIiAABEQIAICREAEBIiAABEQIAICREAEBIiAABEQIAICRED0ajnP8/EM3+kPz+EneeiZXCUAAAAASUVORK5CYII=");
    background-size: 15%;
    background-repeat: repeat;
}