@{
    Style.Include("dialog-mode.css");
    Style.Include("orchard-medialibrary-admin.css");
    Style.Include("orchard-mediaproviders-admin.css");
    Html.AddPageClassNames("media-library-modal-window");
}
@Html.ValidationSummary()
@using (Html.BeginFormAntiForgeryPost(Url.Action((string)Request.RequestContext.RouteData.Values["action"], new { folderPath = (string)Model.FolderPath }), FormMethod.Post, new { enctype = "multipart/form-data" })) {
    <div id="content-editor">
        @Display(Model.Editor)
    </div>
}