.widgetsbag-editor h5 {
    color:#4c4c4c;
    font-weight:bold;
}

.widgets-availableWidgets {
    float: left;
    width: 30%;
}

.widgets-availableLayers {
    float: left;
    margin: 0 0 0 2em;
    width: 45%;
}

.widgets-layerZones {
    font-size: 1.4em;
    float: left;
    width: 70%;
    border: 1px solid #eaeaea;
    background: #fff;
}

.widgets-layerZones .widgets-zone {
	background:#f5f5f5;
	border: 1px solid #f1f1f1;
	padding: 1em 2em 1em 2em;
	margin: 0 0 1em 0;
}

.widgets-layerZones .widgets-zoneWidget {
    margin: 0 0 1em 0;
    padding: 1em 2em 1em 3em;
	background:#ffffff;
	border: 1px solid #f1f1f1;
	vertical-align: middle;
}

.widgets-layers {
    font-size: 1.4em;
    margin: 1em 0 0 0;
    float: left;
}

.widgets-layers ul {
	background: #f5f5f5;
	border: 1px solid #f1f1f1;
}

.widgets-layers ul li {
    padding: .6em .4em;
    border:1px solid #F1F1F1;
}

.widgets-layers .widgets-currentLayer {
	background: #c3d9ff;
}

.widgets-layers .widgets-editLayer img {
    float: right;
    margin: 0 0 0 1em;
}

.widgets-layerZones ul li ul {
	margin: 0;
	padding: 0;
}