#layout-widgets-placement {
float:left;
width:65%;
}
#widgets-placement { }
#layout-widgets-assistance {
float:right;
width:35%;
}
.widgets-container {
padding:10px;
}

#widgets-layers-control {
margin-bottom:-20px;
}
#widgets-layers-control form, #widgets-layers-control fieldset {
display:inline;
}
#widgets-layers-control select, #widgets-layers-control a {
vertical-align:middle;
}
#widgets-layers-control a {
margin-left:10px;
}

#widgets-zones {
background:#F3F4F5;
border:1px solid #E4E5E6;
padding:0 5px;
}
#widgets-zones ol {
list-style:decimal inside;
}
#widgets-zones li {
background:#FFF;
color:#AEC3CE;
border:1px solid #EAEAEA;
margin:5px 0;
padding:0 10px;
}
#widgets-zones h2 {
font-size:1.077em;
}
#widgets-zones h2, #widgets-zones li li {
color:#333;
}
#widgets-zones li li {
background:#F3F4F5;
border:0;
margin:10px 0;
padding:5px 10px 5px 25px;
}
#widgets-zones .widgets-mover {
margin-left:-18px;
vertical-align:-2px;
}
