.contentItems {
    border:1px solid #D3D2D2;
}

button, .button, .button:link, .button:visited {
    cursor:pointer;
    padding: 4px 14px 4px 14px;
    text-align:center;
}

.button {
    line-height:inherit;
}

.group {
zoom:1;
}