@model IDeliverable.Slides.ViewModels.SlideEditorViewModel
@{
    Layout.Title = T("Create Slide");
}
@using (Html.BeginFormAntiForgeryPost()) {
    @Html.EditorForModel()
    <fieldset>
        <button type="submit" name="submit.Save" value="submit.Save">@T("Create")</button>
        <a class="button" href="@Url.ItemEditUrl(Model.Content)">@T("Cancel")</a>
    </fieldset>
}