[submodule "src/Orchard.Web/ThirdParty/Themes/PJS.Bootstrap"]
	path = src/Orchard.Web/ThirdParty/Themes/PJS.Bootstrap
	url = D:/PROYECTOSXK/Orchard/src/Orchard.Web/ThirdParty/Themes/PJS.Bootstrap
	branch = Master_XK
[submodule "src/Orchard.Web/ThirdParty/Modules/Contrib.ImportExportBindings"]
	path = src/Orchard.Web/ThirdParty/Modules/Contrib.ImportExportBindings
	url = https://github.com/xkproject/Orchard-ImportExportBindings.git
