[submodule "src/Orchard.Web/ThirdParty/Themes/PJS.Bootstrap"]
	path = src/Orchard.Web/ThirdParty/Themes/PJS.Bootstrap
	url = D:/PROYECTOSXK/Orchard/src/Orchard.Web/ThirdParty/Themes/PJS.Bootstrap
	branch = Master_XK
