@model IDeliverable.Slides.ViewModels.SlideshowProfileViewModel
@{
    Layout.Title = T("Create Slide Show Profile");
}
@Html.ValidationSummary()
@using (Html.BeginFormAntiForgeryPost()) {
    @Html.EditorForModel()
    <fieldset>
        <button type="submit">@T("Create")</button>
        @Html.ActionLink(T("Cancel").Text, "Index", "SlideshowProfile", new { area = "IDeliverable.Slides" }, new { @class = "button" })
    </fieldset>
}