@model IDeliverable.Slides.ViewModels.SlideshowProfileViewModel
@{
    Layout.Title = T("Edit Slide Show Profile");
}
@Html.ValidationSummary()
@using (Html.BeginFormAntiForgeryPost()) {
    @Html.EditorForModel()
    <fieldset>
        <button type="submit">@T("Save")</button>
        @Html.ActionLink(T("Back").Text, "Index", "SlideshowProfile", new { area = "IDeliverable.Slides" }, new { @class = "button" })
    </fieldset>
}