.dropdown-menu .dropdown-menu {
    left: 100% !important;
    top: 0;
}

.dropdown .dropdown:hover > .dropdown-menu,
.dropdown .dropdown .dropdown:hover > .dropdown-menu,
.dropdown .dropdown .dropdown .dropdown:hover > .dropdown-menu,
.dropdown .dropdown .dropdown .dropdown .dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu i {
    line-height: @line-height-base;
}

@media (min-width: 768px) {
  .navbar > #layout-navigation .navbar-brand {
    margin-left: -15px;
  }
}