/* Common
   Common imports needed in every PGBBT LESS file.
***************************************************************/
/* Structure
   Only structure-related styles, mainly applying Bootstrap's grid system to Orchard's default markup.
***************************************************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  width: 100%;
}
#layout-wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#layout-wrapper #layout-header {
  margin-left: -15px;
  margin-right: -15px;
}
#layout-wrapper #layout-header #header {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 57.8em) {
  #layout-wrapper #layout-header #header {
    width: 100%;
  }
}
#layout-wrapper #layout-navigation {
  margin-left: -15px;
  margin-right: -15px;
}
#layout-wrapper #layout-navigation .zone-navigation {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 57.8em) {
  #layout-wrapper #layout-navigation .zone-navigation {
    width: 100%;
  }
}
#layout-wrapper #layout-featured {
  margin-left: -15px;
  margin-right: -15px;
}
#layout-wrapper #layout-featured .zone-featured {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 57.8em) {
  #layout-wrapper #layout-featured .zone-featured {
    width: 100%;
  }
}
#layout-wrapper #layout-before-main {
  margin-left: -15px;
  margin-right: -15px;
}
#layout-wrapper #layout-before-main .zone-before-main {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 57.8em) {
  #layout-wrapper #layout-before-main .zone-before-main {
    width: 100%;
  }
}
#layout-main-container {
  margin-left: -15px;
  margin-right: -15px;
}
#layout-main-container #layout-content {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 57.8em) {
  #layout-main-container #layout-content {
    width: 100%;
  }
}
#layout-main-container #layout-content #messages,
#layout-main-container #layout-content #before-content,
#layout-main-container #layout-content #content,
#layout-main-container #layout-content #after-content {
  margin-left: -15px;
  margin-right: -15px;
  margin-left: 0;
  margin-right: 0;
}
.aside-1 #layout-main-container #aside-first,
.aside-2 #layout-main-container #aside-first,
.aside-1 #layout-main-container #aside-second,
.aside-2 #layout-main-container #aside-second {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 57.8em) {
  .aside-1 #layout-main-container #aside-first,
  .aside-2 #layout-main-container #aside-first,
  .aside-1 #layout-main-container #aside-second,
  .aside-2 #layout-main-container #aside-second {
    width: 33.33333333%;
  }
}
.aside-1 #layout-main-container #layout-content,
.aside-2 #layout-main-container #layout-content {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 57.8em) {
  .aside-1 #layout-main-container #layout-content,
  .aside-2 #layout-main-container #layout-content {
    width: 66.66666667%;
  }
}
.aside-12 #layout-main-container #aside-first,
.aside-12 #layout-main-container #aside-second {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 57.8em) {
  .aside-12 #layout-main-container #aside-first,
  .aside-12 #layout-main-container #aside-second {
    width: 25%;
  }
}
.aside-12 #layout-main-container #layout-content {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 57.8em) {
  .aside-12 #layout-main-container #layout-content {
    width: 50%;
  }
}
#layout-after-main {
  margin-left: -15px;
  margin-right: -15px;
}
#layout-after-main .zone-after-main {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 57.8em) {
  #layout-after-main .zone-after-main {
    width: 100%;
  }
}
#layout-tripel-container {
  margin-left: -15px;
  margin-right: -15px;
}
#layout-tripel-container #tripel-first,
#layout-tripel-container #tripel-second,
#layout-tripel-container #tripel-third {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 57.8em) {
  #layout-tripel-container #tripel-first,
  #layout-tripel-container #tripel-second,
  #layout-tripel-container #tripel-third {
    width: 100%;
  }
}
.tripel-123 #layout-tripel-container #tripel-first,
.tripel-123 #layout-tripel-container #tripel-second,
.tripel-123 #layout-tripel-container #tripel-third {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 57.8em) {
  .tripel-123 #layout-tripel-container #tripel-first,
  .tripel-123 #layout-tripel-container #tripel-second,
  .tripel-123 #layout-tripel-container #tripel-third {
    width: 33.33333333%;
  }
}
.tripel-12 #layout-tripel-container #tripel-first,
.tripel-13 #layout-tripel-container #tripel-first,
.tripel-23 #layout-tripel-container #tripel-first,
.tripel-12 #layout-tripel-container #tripel-second,
.tripel-13 #layout-tripel-container #tripel-second,
.tripel-23 #layout-tripel-container #tripel-second,
.tripel-12 #layout-tripel-container #tripel-third,
.tripel-13 #layout-tripel-container #tripel-third,
.tripel-23 #layout-tripel-container #tripel-third {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 57.8em) {
  .tripel-12 #layout-tripel-container #tripel-first,
  .tripel-13 #layout-tripel-container #tripel-first,
  .tripel-23 #layout-tripel-container #tripel-first,
  .tripel-12 #layout-tripel-container #tripel-second,
  .tripel-13 #layout-tripel-container #tripel-second,
  .tripel-23 #layout-tripel-container #tripel-second,
  .tripel-12 #layout-tripel-container #tripel-third,
  .tripel-13 #layout-tripel-container #tripel-third,
  .tripel-23 #layout-tripel-container #tripel-third {
    width: 50%;
  }
}
#layout-footer #footer-quad {
  margin-left: -15px;
  margin-right: -15px;
}
#layout-footer #footer-quad #footer-quad-first,
#layout-footer #footer-quad #footer-quad-second,
#layout-footer #footer-quad #footer-quad-third,
#layout-footer #footer-quad #footer-quad-fourth {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 57.8em) {
  #layout-footer #footer-quad #footer-quad-first,
  #layout-footer #footer-quad #footer-quad-second,
  #layout-footer #footer-quad #footer-quad-third,
  #layout-footer #footer-quad #footer-quad-fourth {
    width: 100%;
  }
}
.split-12 #layout-footer #footer-quad #footer-quad-first,
.split-13 #layout-footer #footer-quad #footer-quad-first,
.split-14 #layout-footer #footer-quad #footer-quad-first,
.split-23 #layout-footer #footer-quad #footer-quad-first,
.split-24 #layout-footer #footer-quad #footer-quad-first,
.split-34 #layout-footer #footer-quad #footer-quad-first,
.split-12 #layout-footer #footer-quad #footer-quad-second,
.split-13 #layout-footer #footer-quad #footer-quad-second,
.split-14 #layout-footer #footer-quad #footer-quad-second,
.split-23 #layout-footer #footer-quad #footer-quad-second,
.split-24 #layout-footer #footer-quad #footer-quad-second,
.split-34 #layout-footer #footer-quad #footer-quad-second,
.split-12 #layout-footer #footer-quad #footer-quad-third,
.split-13 #layout-footer #footer-quad #footer-quad-third,
.split-14 #layout-footer #footer-quad #footer-quad-third,
.split-23 #layout-footer #footer-quad #footer-quad-third,
.split-24 #layout-footer #footer-quad #footer-quad-third,
.split-34 #layout-footer #footer-quad #footer-quad-third,
.split-12 #layout-footer #footer-quad #footer-quad-fourth,
.split-13 #layout-footer #footer-quad #footer-quad-fourth,
.split-14 #layout-footer #footer-quad #footer-quad-fourth,
.split-23 #layout-footer #footer-quad #footer-quad-fourth,
.split-24 #layout-footer #footer-quad #footer-quad-fourth,
.split-34 #layout-footer #footer-quad #footer-quad-fourth {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 57.8em) {
  .split-12 #layout-footer #footer-quad #footer-quad-first,
  .split-13 #layout-footer #footer-quad #footer-quad-first,
  .split-14 #layout-footer #footer-quad #footer-quad-first,
  .split-23 #layout-footer #footer-quad #footer-quad-first,
  .split-24 #layout-footer #footer-quad #footer-quad-first,
  .split-34 #layout-footer #footer-quad #footer-quad-first,
  .split-12 #layout-footer #footer-quad #footer-quad-second,
  .split-13 #layout-footer #footer-quad #footer-quad-second,
  .split-14 #layout-footer #footer-quad #footer-quad-second,
  .split-23 #layout-footer #footer-quad #footer-quad-second,
  .split-24 #layout-footer #footer-quad #footer-quad-second,
  .split-34 #layout-footer #footer-quad #footer-quad-second,
  .split-12 #layout-footer #footer-quad #footer-quad-third,
  .split-13 #layout-footer #footer-quad #footer-quad-third,
  .split-14 #layout-footer #footer-quad #footer-quad-third,
  .split-23 #layout-footer #footer-quad #footer-quad-third,
  .split-24 #layout-footer #footer-quad #footer-quad-third,
  .split-34 #layout-footer #footer-quad #footer-quad-third,
  .split-12 #layout-footer #footer-quad #footer-quad-fourth,
  .split-13 #layout-footer #footer-quad #footer-quad-fourth,
  .split-14 #layout-footer #footer-quad #footer-quad-fourth,
  .split-23 #layout-footer #footer-quad #footer-quad-fourth,
  .split-24 #layout-footer #footer-quad #footer-quad-fourth,
  .split-34 #layout-footer #footer-quad #footer-quad-fourth {
    width: 50%;
  }
}
.split-123 #layout-footer #footer-quad #footer-quad-first,
.split-124 #layout-footer #footer-quad #footer-quad-first,
.split-134 #layout-footer #footer-quad #footer-quad-first,
.split-234 #layout-footer #footer-quad #footer-quad-first,
.split-123 #layout-footer #footer-quad #footer-quad-second,
.split-124 #layout-footer #footer-quad #footer-quad-second,
.split-134 #layout-footer #footer-quad #footer-quad-second,
.split-234 #layout-footer #footer-quad #footer-quad-second,
.split-123 #layout-footer #footer-quad #footer-quad-third,
.split-124 #layout-footer #footer-quad #footer-quad-third,
.split-134 #layout-footer #footer-quad #footer-quad-third,
.split-234 #layout-footer #footer-quad #footer-quad-third,
.split-123 #layout-footer #footer-quad #footer-quad-fourth,
.split-124 #layout-footer #footer-quad #footer-quad-fourth,
.split-134 #layout-footer #footer-quad #footer-quad-fourth,
.split-234 #layout-footer #footer-quad #footer-quad-fourth {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 57.8em) {
  .split-123 #layout-footer #footer-quad #footer-quad-first,
  .split-124 #layout-footer #footer-quad #footer-quad-first,
  .split-134 #layout-footer #footer-quad #footer-quad-first,
  .split-234 #layout-footer #footer-quad #footer-quad-first,
  .split-123 #layout-footer #footer-quad #footer-quad-second,
  .split-124 #layout-footer #footer-quad #footer-quad-second,
  .split-134 #layout-footer #footer-quad #footer-quad-second,
  .split-234 #layout-footer #footer-quad #footer-quad-second,
  .split-123 #layout-footer #footer-quad #footer-quad-third,
  .split-124 #layout-footer #footer-quad #footer-quad-third,
  .split-134 #layout-footer #footer-quad #footer-quad-third,
  .split-234 #layout-footer #footer-quad #footer-quad-third,
  .split-123 #layout-footer #footer-quad #footer-quad-fourth,
  .split-124 #layout-footer #footer-quad #footer-quad-fourth,
  .split-134 #layout-footer #footer-quad #footer-quad-fourth,
  .split-234 #layout-footer #footer-quad #footer-quad-fourth {
    width: 33.33333333%;
  }
}
.split-1234 #layout-footer #footer-quad #footer-quad-first,
.split-1234 #layout-footer #footer-quad #footer-quad-second,
.split-1234 #layout-footer #footer-quad #footer-quad-third,
.split-1234 #layout-footer #footer-quad #footer-quad-fourth {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 57.8em) {
  .split-1234 #layout-footer #footer-quad #footer-quad-first,
  .split-1234 #layout-footer #footer-quad #footer-quad-second,
  .split-1234 #layout-footer #footer-quad #footer-quad-third,
  .split-1234 #layout-footer #footer-quad #footer-quad-fourth {
    width: 25%;
  }
}
#layout-footer #footer-sig {
  margin-left: -15px;
  margin-right: -15px;
}
#layout-footer #footer-sig .zone-footer {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 57.8em) {
  #layout-footer #footer-sig .zone-footer {
    width: 100%;
  }
}
#layout-footer #footer-sig .zone-footer .user-display {
  text-align: center;
}
.zone {
  padding: 1rem;
}
/* Breadcrumbs
   Some LESS variables that you can configure from your derived theme.
***************************************************************/
/* Theme Overide Variables
***************************************************************/
/* Colors */
/* Media queries */
/* Setting Bootstrap vars */
/* General
***************************************************************/
@media only screen and (min-width: 68.6em) {
  body {
    font-size: 16px;
  }
}
@media only screen and (min-width: 87.4em) {
  body {
    font-size: 18px;
  }
}
@media only screen and (min-width: 99.9em) {
  body {
    font-size: 20px;
  }
}
@media only screen and (min-width: 68.6em) {
  #layout-wrapper {
    width: 95%;
  }
}
@media only screen and (min-width: 87.4em) {
  #layout-wrapper {
    width: 85%;
  }
}
@media only screen and (min-width: 99.9em) {
  #layout-wrapper {
    width: 80%;
  }
}