//Begin Talavera.AEFC:Site

@import "../../Talavera.Base/Styles/site.less";

@import "../../Talavera.Base/Content/bootswatch/darkly/bootswatch";
@import "../../Talavera.Base/Content/bootswatch/darkly/variables";

//Begin billionthemes-2608975
@import (inline) "../Content/sources/billionthemes/billionthemes-2608975.css";

@import "variables";
@import "general";
@import "forms";

@charset "UTF-8";

@font-face {
    font-family: 'Billion Web Font';
    src: url("../Content/sources/billionthemes/BillionWebFonts.woff") format('woff'), url("../Content/sources/billionthemes/BillionWebFonts.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Minor Changes Theme for AEFC */
html {
    /* This image will be displayed fullscreen */
    background: url('../Images/fitnesscenteratnight.jpg') no-repeat center center;
    /* Ensure the html element always takes up the full height of the browser window */
    min-height: 100%;
    /* The Magic */
    background-size: cover;
    background-attachment: fixed;
}

body {
    /* Workaround for some mobile browsers */
    min-height: 100%;
    background-color: inherit;
    padding-bottom: 125px;
}

.affix {
    bottom: 0;
}

.navbar {
    -webkit-backface-visibility: hidden;
}

.element-shade {
    background-color: rgba(0,0,0, 0.61);
    color: inherit;
}

li.bd-linkbutton-1 > a,
li.bd-linkbutton-2 > a {
    color: #fff;
}

.bd-affix-1 {
    position: inherit;
}

.navbar-brand > img {
    max-height: 50px;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-default {
    background-color: #043F77;
    border-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #ff0000;
}

.bd-responsivemenu-1 .bd-menuitem-4 > a:before,
.bd-responsivemenu-1 .bd-menuitem-4 > a:link:before,
.bd-responsivemenu-1 .bd-menuitem-4 > a:visited:before,
.bd-hmenu-1 .collapse-button .bd-menuitem-4 > a:before,
.bd-hmenu-1 .collapse-button .bd-menuitem-4 > a:link:before,
.bd-hmenu-1 .collapse-button .bd-menuitem-4 > a:visited:before {
    content: url(../Content/sources/billionthemes/menubig.png);
    font-size: 0 !important;
    line-height: 0 !important;
}

.widget-menu-widget .menu > li > a:hover,
.widget-menu-widget .menu > li > a:focus,
.widget-menu-widget .menu > li.current > a,
.widget-menu-widget .menu li.dropdown > ul .widget-menu-widget .menu .dropdown-menu > li > a:hover,
.widget-menu-widget .menu .dropdown-menu > li > a:focus {
    background-color: transparent;
}

.widget-menu-widget .menu-main-menu li.dropdown > ul {
    background-color: transparent;
}

.widget-menu-widget .menu-main-menu .dropdown-menu > li > a:hover,
.widget-menu-widget .menu-main-menu .dropdown-menu > li > a:focus {
    background-color: transparent;
}

/*#layout-navigation .menu-main-menu li+li {
    border-left: 2px solid #33add6; 
}*/

.bd-section-1 {
    margin-top: 17vh;
}

.bd-slide-1 {
    background: none;
}

.bd-slide-1:before {
    background-color: transparent;
}

.bd-slider-1 {
    height: inherit;
}

.bd-layoutbox-7 {
    position: relative;
    transform: inherit;
    -webkit-transform: inherit;
}

.bd-textblock-4 * {
    color: white;
}

.social-media-icons img {
    height: 48px;
    width: 48px;
    max-width: 48px;
    max-height: 48px;
}

.social-media-icons .link-text {
    color: white;
}

.bd-section-1 h2 {
    font-size: 100px;
}

.zone-content ul.menu-button-menu {
    padding-left: inherit;
}

#layout-wrapper {
    min-height: 100%;
    width: 100%;
}

#layout-main-container {
    background-color: transparent;
}

.standard-text {
    color: @text-color;
}
.orchard-layouts-root > .container-fluid > .row  {
    background-color: @gray;
}

.orchard-layouts-root > .container-fluid > .row > * > .container-fluid > .row hr {
    border-top: 2px solid #33add6; 
}

.orchard-layouts-root > .container-fluid > .row .well-lg
{
    border-radius: unset;
}

.shadow-dark {
    background-color: @shadow-dark-background-color;
}

.shadow-gray {
    background-color: @shadow-light-background-color;
}

.active-icon-color {
    color: @active-icon-color;
}


//Icons Begin:
.bwf:before {
  font-family: 'Billion Web Font';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  text-transform: none;
  width: 1em;
}

.bwf-icon-enevlope:before {
  content: '\0157';
}
.bwf-icon-enevlope {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

.bwf-icon-earphone:before {
  content: '\0288';
}
.bwf-icon-earphone {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}
//Icons End.

#navigation-toTop {
    position: fixed;
    right: 5px;
    bottom: 10px;
    cursor: pointer;
    display: none;
    text-align: center;
    z-index: 500;
}

#navigation-toTop:hover {
    opacity: .7;
}

#badgeofhonor {
    background-color: transparent;
}

@media (max-width: @screen-sm-min) {
    body {
        padding-bottom: 350px;
    }

    .bd-menu-3.nav-pills .bd-menuitem-6 > a,
    .bd-menu-3.nav-pills .bd-menuitem-6 > a:link,
    .bd-menu-3.nav-pills .bd-menuitem-6 > a:visited {
        color: inherit;
    }

    .bd-section-1 {
        margin-top: inherit;
    }

    .bd-section-1 h2 {
        font-size: 58px;
    }
}
