/*#region Talavera.AEFC site.less */

@import "../../Talavera.Base/Styles/site";

@import "reset";

@import "variables";
@import "mixins";
@import "forms";


@charset "UTF-8";

@font-face {
    font-family: 'Billion Web Font';
    src: url("../Content/sources/billionthemes/BillionWebFonts.woff") format('woff'), url("../Content/sources/billionthemes/BillionWebFonts.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
html {
    font-size: 62.5%;
}

body {    
    .display-flex;
    .flex-direction-column;
}

#navigation-toTop {
    position: fixed;
    right: 5px;
    bottom: 10px;
    cursor: pointer;
    display: none;
    text-align: center;
    z-index: 500;
}

#navigation-toTop:hover {
    opacity: .7;
}

/*#region Layers */
html.layer-default > body {
    background-color: @aefc-dark-blue;
    overflow: auto;
    width: 100%;
}

html.layer-default > body #badgeofhonor
{
    background: url('../Images/fitnesscenteratnight.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

html.layer-thehomepage > body {
    /*Begin: Background */
    background: url('../Images/fitnesscenteratnight.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    /*End: Background */
    overflow: auto;
}
/*#endregion Layers */

/*#region Layouts */

#layout-main-container #layout-content
{
    padding-left: 0;
    padding-right: 0;
}

#layout-wrapper {
    min-height: 100vh;
    min-width: 100%;
    .display-flex;
    .flex-direction-column;
}

#layout-main-container {
    background-color: transparent;
    .flex(1);
}

.orchard-layouts-root {
    min-height: 20px;
    clear: both;
    z-index: 1;
}

.orchard-layouts-root > .container-fluid hr {
    border-top: 2px solid #33add6;
}

.orchard-layouts-root > .layout-homepage-canvas-top > h2 {
    color: @aefc-xl-text-color;
    text-transform: uppercase;
    font-weight: 800;
}

.orchard-layouts-root .layout-homepage-canvas-bottom-wrapper-upper {
    font-size: 2.4rem;
}

.orchard-layouts-root > .layout-homepage-canvas-bottom {
    background-color: @aefc-background-black;
    text-align: center;
    padding: 3.2rem;
}

//sets text from content author's to white
.page.content-item{
    color: @aefc-white;
}
/*#endregion Layouts */

/*#region Bubbles*/
.bubble .container-fluid {
    padding-left: 0;
    padding-right: 0;
}
/*#endregion Bubbles*/

/*#region Navigation*/

/*#region Top Navbar*/
.navbar-default .zone-navigation,
.navbar-default .zone-navigation ul.nav > li > a {
    color: @aefc-dark-blue;    
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {    
    background-color: transparent;
}

.navbar > .container-fluid .navbar-brand  {
    margin-left: 0;
    padding: 0;
}

.navbar-brand > img {
    max-height: @aefc-navbar-brand-size;    
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
}

//top navigation
.zone-navigation .widget-navigation .menu-main-menu.nav-pills > li > a:focus,
.zone-navigation .widget-navigation .menu-main-menu.nav-pills > li > a:hover,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: black;
    color: @aefc-white;
}

.zone-navigation .widget-navigation .menu-main-menu.nav-pills .dropdown-menu > li > a,
.zone-navigation .widget-navigation .menu-main-menu.nav-pills .dropdown-menu > li > a:focus,
.zone-navigation .widget-navigation .menu-main-menu.nav-pills .dropdown-menu > li > a:hover {
    .navbar-styling;
    margin-left: 15px;
}

.zone-navigation .widget-navigation .menu-main-menu.nav-pills > li > a,
.zone-navigation .widget-navigation .menu-main-menu.nav-pills > li > a:link,
.zone-navigation .widget-navigation .menu-main-menu.nav-pills > li > a:visited {
    .navbar-styling;
}

.zone-navigation .widget-navigation .menu-main-menu.nav-pills > li > a.active {    
    color: @aefc-light-blue;
}
/*#endregion Top Navbar*/

.zone-navigation .widget-navigation.widget-menu-widget.widget {
    //keeps brand image from overlapping menu
    padding-left: 50px;
}
/*#endregion Navigation */

/*#region menu-button-menu*/
.menu-button-menu {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .flex-direction-column;
}

.btn-toolbar.menu-button-menu > .btn-group {
    padding-bottom: 1rem;
}

.menu-button-menu > .btn-group > .btn-default {
    transition: all 300ms ease-in-out;
    padding: 1rem 2rem;
    border: 1px solid @aefc-light-blue;
    background-color: @aefc-background-black;
    border-radius: 5px;
    color: @text-color;
    letter-spacing: 1px;
    vertical-align: central;
}

.menu-button-menu .btn-group .btn-default.bwf:hover {
    background-color: @aefc-light-blue;
    color: @text-color;
}

.menu-button-menu > .btn-group:last-child > .btn-default {
    background-color: @aefc-light-blue;
    color: @aefc-light-blue;
}

.menu-button-menu .btn-group .btn-default.bwf {
    color: @aefc-light-blue;
}

.menu-button-menu .btn-group:last-child .btn-default,
.menu-button-menu > .btn-group > .btn-default.bwf > a {    
    color: @aefc-white;
    text-decoration: none;
}

/*#endregion menu-button-menu*/

/*#endregion Navigation*/

/*#region Icons */
.bwf:before {
    display: inline;
    font-family: 'Billion Web Font';
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 18.57142858px;
    line-height: 13px;
    text-decoration: inherit;
    text-align: center;
    text-transform: none;
    vertical-align: middle;
    visibility: inherit;
    width: 1em;
    width: auto;
}

.active-icon-color:before {
    color: @aefc-light-blue;
}

/*#region Icon enevelope */
.bwf-icon-enevelope {
    text-decoration: inherit;
    display: @aefc-icon-display;
    speak: none;
}

.bwf-icon-enevelope:before {
    content: '\0157';
}

.bwf-icon-enevelope:hover.active:before,
.bwf-icon-enevelope.active:before {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}
/*#endregion Icon enevelope */

/*#region Icon Earphone */
.bwf-icon-earphone {
    text-decoration: inherit;
    display: @aefc-icon-display;
    speak: none;
}

.bwf-icon-earphone:before {
    content: '\0288';
}

.bwf-icon-earphone:hover.active:before,
.bwf-icon-earphone.active:before {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}
/*#endregion Icon Earphone */

/*#region Icon Map Pin */
.bwf-icon-mappin {
    text-decoration: inherit;
    display: @aefc-icon-display;
    speak: none;
}

.bwf-icon-mappin:before {
    content: '\0129';
}

.bwf-icon-mappin:hover.active:before,
.bwf-icon-mappin.active:before {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}
/*#endregion Icon Map Pin */

/*#region icon-nothing */
.bwf-icon-nothing {
    text-decoration: inherit;
    display: @aefc-icon-display;
    speak: none;
}

.bwf-icon-nothing:before {
    content: '';
}

.bwf-icon-nothing:hover.active:before,
.bwf-icon-nothing.active:before {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}
/*#endregion icon-nothing */

/*#region Icon Information */
.bwf-icon-information {
    text-decoration: inherit;
    display: inline-block;
    speak: none;
}

.bwf-icon-information:before {
    content: '\27a';
}

.bwf-icon-information:hover.active:before,
.bwf-icon-information.active:before {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}
/*#endregion Icon Information */

/*#endregion Icons */

/*#region Widgets*/
article.widget-content {
    padding-top: 1rem;
}
/*#endregion Widgets*/

/*#region Footer*/
#badgeofhonor,
#badgeofhonor a,
#badgeofhonor a:hover {
    color: @aefc-dark-blue;
    text-decoration: none;
}

#badgeofhonor {
    padding-top: 1rem;
    background-color: rgba(255, 255, 255, 0.75);
}

#badgeofhonor .social-media-icons {
    .display-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#badgeofhonor .social-media-icons > a {
    vertical-align: middle;
    padding: 1rem;
    .flex-direction-row;
}

#badgeofhonor > .row {
    margin-left: 0;
    margin-right: 0;
}

#badgeofhonor .social-media-icons img {
    height: 48px;
    width: 48px;
    max-width: 48px;
    max-height: 48px;
    margin: 0 auto;
}

#badgeofhonor .credits .copyright {
    .font-size(1.5);
    padding-left: 1rem;
}
/*#endregion footer*/

/*#region Media Queries */
@media (max-width: @screen-sm-max) {
    /*body {
        .font-size(1.0);
        .font-size-line-height(1.0);
    }

    .zone-navigation .widget-navigation.widget-menu-widget.widget {
        max-width: none;
        padding-left: 10px;
        padding-right: 10px;
    }*/

    .orchard-layouts-root > .layout-homepage-canvas-top > h2 {
        .font-size(5);
        .font-size-line-height(5);
    }
}

@media (min-width: @screen-sm-min) {
    /*body {
        .font-size(1.2);
        .font-size-line-height(1.2);
    }

    .zone-navigation .widget-navigation.widget-menu-widget.widget {
        max-width: @screen-sm-max - 20;
    }*/    

    .orchard-layouts-root > .layout-homepage-canvas-top > h2 {
        .font-size(7);
        .font-size-line-height(7);
    }
}

@media (min-width: @screen-md-min) {
    /*body {
        .font-size(1.6);
        .font-size-line-height(1.6);
    }

    .zone-navigation .widget-navigation.widget-menu-widget.widget {
        max-width: @screen-md-max - 10;
    }*/

    .orchard-layouts-root > .layout-homepage-canvas-top > h2 {
        .font-size(9);
        .font-size-line-height(9);
    }
}

@media (min-width: @screen-lg-min) {
    /*body {
        .font-size(2);
        .font-size-line-height(2);
    }
    .zone-navigation .widget-navigation.widget-menu-widget.widget {
        max-width: 1160px;
    }*/

    html.layer-thehomepage .orchard-layouts-root {
        padding-top: 14vh;
    }

    .orchard-layouts-root > .layout-homepage-canvas-top > h2 {
        .font-size(11);
        .font-size-line-height(11);
    }

    .menu-button-menu {
        .flex-direction-row;
    }

    .menu-button-menu > .btn-group > .btn-default {
        //bigger buttons
        padding: 2rem 3rem;
    }
}

@media (max-width: @screen-sm-min) {

    /*#region Force hamburger to hide until @screen-sm-min*/
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /*#endregion Force hamburger to hide until @screen-sm-min*/
}
/*#endregion Media Queries */

/*#endregion Talavera.AEFC */
