//Begin: Talavera.AEFC

@import "../../Talavera.Base/Styles/site.less";

//@import "../../Talavera.Base/Content/bootswatch/darkly/bootswatch";
//@import "../../Talavera.Base/Content/bootswatch/darkly/variables";

//Begin billionthemes-2608975
//@import (inline) "../Content/sources/billionthemes/billionthemes-2608975.css";

@import "variables";
@import "general";
@import "forms";

@charset "UTF-8";

@font-face {
    font-family: 'Billion Web Font';
    src: url("../Content/sources/billionthemes/BillionWebFonts.woff") format('woff'), url("../Content/sources/billionthemes/BillionWebFonts.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Minor Changes Theme for AEFC */
html {
    height: 100%;
    font-size: 62.5%;    
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#layout-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#layout-main-container {
    background-color: transparent;
    flex: 1;
}

#navigation-toTop {
    position: fixed;
    right: 5px;
    bottom: 10px;
    cursor: pointer;
    display: none;
    text-align: center;
    z-index: 500;
}

#navigation-toTop:hover {
    opacity: .7;
}

#badgeofhonor {
    padding-top: 1rem;
    background-color: white;
    color: @footer-link-text-color;
}

#badgeofhonor > .row {
    margin-left: 0;
    margin-right: 0;
}

/*#region Layers */
.layer-default {
    background-color: @aefc-dark-blue;    
    overflow: auto;
    width: 100%;
}

.layer-thehomepage {
    //Begin: Background
    background: url('../Images/fitnesscenteratnight.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    //End: Background
    overflow: auto;
    min-height: 100%;
    height: 100%;    
}
.layer-thehomepage > .layout-header {
    
}
/*#endregion Layers */

/*#region Layouts */
.orchard-layouts-root > .layout-homepage-canvas-top > h2 {
    color: @aefc-xl-text-color;
    text-transform: uppercase;
    font-weight: 800;
}

.orchard-layouts-root .layout-homepage-canvas-bottom-wrapper-upper {
    font-size: 2.4rem;
}

.orchard-layouts-root > .layout-homepage-canvas-bottom
{
    background-color: @aefc-background-black;
    text-align: center;
    padding: 3.2rem;
}
/*#endregion Layouts */

/*#region Top Navigation */
.zone-navigation .widget-navigation .menu-main-menu.nav-pills > li > a,
.zone-navigation .widget-navigation .menu-main-menu.nav-pills > li > a:link,
.zone-navigation .widget-navigation .menu-main-menu.nav-pills > li > a:visited {
    -webkit-transition: all 500ms;
    transition: all 500ms;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: #d6d6d6;    
    margin-right: 15px;
    padding: 10px 0px 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    border-radius: 0px;    
    display: block;
    white-space: nowrap;
    .font-size(1.3);
}

.zone-navigation .widget-navigation .menu-main-menu.nav-pills > li > a.active {
    color: #ffffff;
    border-bottom: 2px solid #33add6;
    display: block;
}

.zone-navigation .widget-navigation.widget-menu-widget.widget {
    position: relative;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    float: right;    
}
/*#endregion Top Navigation */

/*#region menu-button-menu*/
.menu-button-menu
{
    padding-top: 2rem;
}

.menu-button-menu > .btn-group > .btn-default
{
    transition: all 300ms ease-in-out;
    padding: 1em 2em;
    border: 1px solid @aefc-light-blue;
    background-color: @aefc-background-black;
    border-radius: 5px;   
    color: @text-color; 
    letter-spacing: 1px;
    vertical-align: central;
}

.menu-button-menu .btn-group  .btn-default.bwf:hover
{    
    background-color: @aefc-light-blue;        
    color: @text-color;
}

.menu-button-menu > .btn-group:last-child > .btn-default
{
    background-color: @aefc-light-blue;
    color: @aefc-light-blue;
}

.menu-button-menu .btn-group .btn-default.bwf
{    
    color: @aefc-light-blue;
}

.menu-button-menu .btn-group:last-child .btn-default,
.menu-button-menu > .btn-group > .btn-default.bwf > a
{    
    color: @text-color;
    text-decoration: none;
}

/*#endregion menu-button-menu*/


.affix {
    bottom: 0;
}

.navbar {
    -webkit-backface-visibility: hidden;
}

.element-shade {
    background-color: @aefc-dark-blue-shade;
    color: inherit;
}

li.bd-linkbutton-1 > a,
li.bd-linkbutton-2 > a {
    color: #fff;
}

.bd-affix-1 {
    position: inherit;
}

.navbar-brand > img {
    max-height: 50px;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
}

.bd-responsivemenu-1 .bd-menuitem-4 > a:before,
.bd-responsivemenu-1 .bd-menuitem-4 > a:link:before,
.bd-responsivemenu-1 .bd-menuitem-4 > a:visited:before,
.bd-hmenu-1 .collapse-button .bd-menuitem-4 > a:before,
.bd-hmenu-1 .collapse-button .bd-menuitem-4 > a:link:before,
.bd-hmenu-1 .collapse-button .bd-menuitem-4 > a:visited:before {
    content: url(../Content/sources/billionthemes/menubig.png);
    font-size: 0 !important;
    line-height: 0 !important;
}

.widget-menu-widget .menu > li > a:hover,
.widget-menu-widget .menu > li > a:focus,
.widget-menu-widget .menu > li.active > a,
.widget-menu-widget .menu li.dropdown > ul .widget-menu-widget .menu .dropdown-menu > li > a:hover,
.widget-menu-widget .menu .dropdown-menu > li > a:focus {
    background-color: transparent;
}

.widget-menu-widget .menu-main-menu li.dropdown > ul {
    background-color: transparent;
}

.widget-menu-widget .menu-main-menu .dropdown-menu > li > a:hover,
.widget-menu-widget .menu-main-menu .dropdown-menu > li > a:focus {
    background-color: transparent;
}

.social-media-icons img {
    height: 48px;
    width: 48px;
    max-width: 48px;
    max-height: 48px;
    margin: 0 auto;
}

.social-media-icons .link-text {
    color: @footer-link-text-color;
}

.orchard-layouts-root {
    min-height: 20px;
    clear: both;
    z-index: 1;
}

.standard-text {
    color: @text-color;
}

.orchard-layouts-root > .shadow-gray > .container-fluid > .row > * > .container-fluid > .row > * > hr {
    border-top: 2px solid #33add6;
}

.orchard-layouts-root .text-center hr {
    border-top: 2px solid #33add6;
    width: 300px;
}

.orchard-layouts-root > .container-fluid > .row .well-lg {
    border-radius: unset;
}

.shadow-dark {
    background-color: @shadow-dark-background-color;
}

.shadow-gray {
    background-color: transparent;
}

/*#region Icons */
.bwf:before {
    display: inline-block;
    font-family: 'Billion Web Font';
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 18.57142858px;
    line-height: 13px;
    text-decoration: inherit;
    text-align: center;
    text-transform: none;
    vertical-align: middle;
    visibility: inherit;
    width: 1em;
    width: auto;
}

/*#region Icon enevelope */
.bwf-icon-enevelope {
    text-decoration: inherit;
    display: inline-block;
    speak: none;
}

.bwf-icon-enevelope:before {
    content: '\0157';
}

.bwf-icon-enevelope:hover.active:before,
.bwf-icon-enevelope.active:before {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}
/*#endregion Icon enevelope */

/*#region Icon Earphone */
.bwf-icon-earphone {
    text-decoration: inherit;
    display: inline-block;
    speak: none;
}

.bwf-icon-earphone:before {
    content: '\0288';
}

.bwf-icon-earphone:hover.active:before,
.bwf-icon-earphone.active:before {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}
/*#endregion Icon Earphone */

/*#region Icon Map Pin */
.bwf-icon-mappin {
    text-decoration: inherit;
    display: inline-block;
    speak: none;
}

.bwf-icon-mappin:before {
    content: '\0129';
}

.bwf-icon-mappin:hover.active:before,
.bwf-icon-mappin.active:before {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}
/*#endregion Icon Map Pin */

/*#region Icon Information */
.bwf-icon-information {
    text-decoration: inherit;
    display: inline-block;
    speak: none;
}

.bwf-icon-information:before {
    content: '\27a';
}

.bwf-icon-information:hover.active:before,
.bwf-icon-information.active:before {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}
/*#endregion Icon Information */

/*#endregion Icons */

/*#region Media Queries */
@media (max-width: @screen-sm-max) {
    body {
        .font-size(1.0);
    }

    /*.zone-navigation .widget-navigation.widget-menu-widget.widget {
        max-width: none;
        padding-left: 10px;
        padding-right: 10px;
    }*/

    .orchard-layouts-root > .layout-homepage-canvas-top > h2 {
        .font-size(5);
    }
}

@media (min-width: @screen-sm-min) {
    body {
        .font-size(1.2);
    }

    /*.zone-navigation .widget-navigation.widget-menu-widget.widget {
        max-width: @screen-sm-max - 20;
    }*/

    .orchard-layouts-root > .layout-homepage-canvas-top > h2 {
        .font-size(7);
    }
}

@media (min-width: @screen-md-min) {
    body {
        .font-size(1.6);
    }

    /*.zone-navigation .widget-navigation.widget-menu-widget.widget {
        max-width: @screen-md-max - 10;
    }*/

    .orchard-layouts-root > .layout-homepage-canvas-top > h2 {
        .font-size(9);
    }
}

@media (min-width: @screen-lg-min) {
    body {
        .font-size(2);
    }
    /*.zone-navigation .widget-navigation.widget-menu-widget.widget {
        max-width: 1160px;
    }*/

    .orchard-layouts-root > .layout-homepage-canvas-top > h2 {
        .font-size(11)
    }
}

/*#endregion Media Queries */

//End: Talavera.AEFC
