 @import "../../Talavera.Base/Styles/variables";

/* Theme Overide Variables
***************************************************************/
@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Colors */
// We tend to declare the main branding colors here too.
@aefc-dark-blue: rgb(3,10,39);
@aefc-dark-blue-shade: rgba(3,10,39, 0.61);
@aefc-background-black: rgba(0,0,0,.83);
@aefc-light-blue: #33add6;
@aefc-xl-text-color: @aefc-light-blue;

@font-size-base: 2.0rem;

@sample-grey: #4d4948;
@sample-white: #fff; 
@sample-blue: #0093DD;
@footer-link-text-color: @aefc-dark-blue;

/* Media queries */
// Media queries are commonly used in responsive design. It's nice to declare them as variables too so it's simple to re-use them.
@screen-sm-min: 47.95em; // ~768px
@screen-md-min: 57.8em; // ~940px in Chrome, more in FF...
@screen-lg-min: 68.6em; // ~1100px
@screen-xl-min: 87.4em; // ~1400px
@screen-xxl-min: 99.9em; // ~1600px

// The tilde is needed so the quotes won't be printed
@media-sm: ~"only screen and (min-width: @{screen-sm-min})";
@media-md: ~"only screen and (min-width: @{screen-md-min})"; 
@media-lg: ~"only screen and (min-width: @{screen-lg-min})";
@media-xl: ~"only screen and (min-width: @{screen-xl-min})"; 
@media-xxl: ~"only screen and (min-width: @{screen-xxl-min})";

/* Setting Bootstrap vars */
// Here we configure some of Bootstrap's variables. This way you can change the resulting CSS directly, you don't have to write your own
// body background colour declaration from a CSS selector for example, the CSS will only contain one body background color.
@body-bg: @sample-grey;
@text-color: @sample-white;
@link-color: @sample-blue;
@link-hover-color: @link-color;
@input-border-radius: 0;
@border-radius-base: 0;
@grid-float-breakpoint: @screen-md-min;
@well-bg: transparent;

@shadow-dark-background-color: rgba(0, 0, 0, 0.83);
@shadow-light-background-color: @gray;

@navbar-default-bg: transparent;
@nav-link-hover-bg: transparent;
