@model Orchard.Blogs.Models.BlogArchivesPart
<fieldset>
    <div>
        @Html.LabelFor(m => m.ForBlog)
	    @Html.TextBoxFor(m => m.ForBlog)
        <span class="hint">@T("The blog's slug to display the archives for.")</span>
    </div>
</fieldset>