@model dynamic
        <section style="background:#AAA;color:#000;padding:10px;">
            <h1>HomePage shape template</h1>
            <h2>I am the home page</h2>
            <dl>
                <dt>content item id</dt>
                <dd>@Display(Model.Id)</dd>
                <dt>the hard way to get at the raw body text</dt>
                <dd>@Display(Model.Parts[3].Text)</dd>
            </dl>
        </section>