@using Orchard.ContentManagement
@using Orchard.MediaLibrary.Models
@using Orchard.Utility.Extensions
@model dynamic
           
@{
    ContentItem contentItem = Model.ContentItem;
    var media = contentItem.As<MediaPart>();
    var image = contentItem.As<ImagePart>();
}

<div class="media-thumbnail media-thumbnail-@contentItem.ContentType.HtmlClassify() mime-type-@media.MimeType.HtmlClassify()">
    <img src="@Display.ResizeMediaUrl(Width: 200, Height: 200, Mode: "crop", Alignment: "middlecenter", Path: media.MediaUrl)" />
</div>