@model Orchard.Environment.Configuration.ShellSettings
@using Orchard.MultiTenancy.Extensions;

@using(Html.BeginFormAntiForgeryPost(Url.Action("Disable", new {area = "Orchard.MultiTenancy"}), FormMethod.Post, new {@class = "inline link"})) { 
    @Html.HiddenFor(ss => ss.Name)
    <button type="submit">@T("Suspend")</button>
}
