@using Orchard.ContentManagement
@using Orchard.MediaLibrary.Models
@{
    DocumentPart documentPart = Model.ContentPart;
}           

<div class="audio-length">
    <em>@T("Size:")</em>
    <span>@T("{0} (KB)", documentPart.Length / 1024)</span>
</div>