/*Blog specific styles
----------------------------------------------------------*/

.posted, div.comment {
    margin: 0 0 8px 0;
}

.meta, .manage {
    float:right;
    margin:6px 6px 0 0;
}

.manage {
    margin:12px 6px 0 0;
}

.bloginfo h1 ,.blogPosts h3, .blogs h3 {
    float:left;
}

.blogdescription, .postsummary {
    clear:both;
 }
 
 .comments li {
    margin:20px 20px 20px 10px;
    padding:8px;
    border-bottom:1px solid #eef2ed;

 }
 
 span.who {
    font-weight:700;
 }