/*Blog specific styles
----------------------------------------------------------*/

.posted {
    margin: 0 0 8px 0;
}

.meta, .manage {
    float:right;
    margin:-16px 6px 0 0;
}

.blogdescription, .postsummary {
    clear:both;
    /*border-bottom:1px solid #cacec6;*/
 }
 
 .comments li {
    margin:0 10px 0 0;
    padding:8px;
 }
 
 div.comment {
	padding:8px 8px 8px 16px;
	color: #000;
	min-width:200px;
	background:#fff;
	border:1px solid #CACEC6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-moz-box-shadow: 2px 2px 2px #ccc;
}

.commentauthor {
	background-position: 20px 0px;
	padding: 16px 0 0 8px;
	margin: 0 0 10px 0;
	background: url(../Content/Images/commentpointer.gif) no-repeat;
	position:relative;
	top:-1px;
	left:10px;
}
 
 span.who {
    font-weight:700;
 }
 
 