
/* Site CSS
----------------------------------------------------------*/


/* Common */

.floatLeft {float: left;} /*Use this class to float anything to the left*/

.floatRight {float: right;}  /*Use this class to float anything to the right*/

.floatNone {float: none;}

.centered {margin:0 auto;}  /*Center*/

.textRight {text-align:right;}

.textCentered {text-align:center;}

.textJustified {text-align:justify;}

.displayText {display:none;}

.clearLayout {clear:both;}  /*Use this class clear layout*/

.disabled {color:#CCC;}

.alert {color:#FF0000;}


/* Headings and defaults
----------------------------------------------------------*/

html {height: 100%; background-color: #eaf0e8;}

body {
	font-family: "Tahoma", "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
	font-style:normal;
	background:url(../Content/Images/bodyBackground.png) top center no-repeat #eaf0e8;
	text-align:left;
	color:#3a4138;
	height:100%;
}


/* Headings */

h1 {font-size: 197%;} /*26px*/
h2 {font-size: 182%;} /*24px*/
h3 {font-size: 167%;} /*22px*/
h4 {font-size: 153.9%;} /*20px*/
h5 {font-size: 138.5%;} /*18px*/
h6 {font-size: 123.1%;} /*16px*/

.productWidget h5 {border-bottom:1px solid #d3d4d7; padding:0 0 10px 0;}


/* Paragraphs and lists */

p {line-height:20px; padding:2px 8px;}
.small {font-size: 85%; line-height:16px;}

strong {font-weight:700;}

ul {line-height:22px;}
ul.bullet li {list-style:square inside;}


/* Links */

a, a:visited {color:#006699; text-decoration:none;}
a:hover {text-decoration: underline;}
a:active {color:#006699; text-decoration:none;}

#topNav a, #topNav a:visited{color: #1c3c21; text-decoration: none;}
#topNav a:hover {text-decoration: underline;}
#topNav a:focus {text-decoration: underline;}

#innerft a, #innerft a:visited {color:#525e50; text-decoration: none;}
#innerft a:hover {text-decoration: underline;}
#innerft a:active {color:#525e50; text-decoration: none;}


/* Forms
----------------------------------------------------------*/

fieldset, #CommentText, input.text {
    border:1px solid #DDDEDF;
    -moz-border-radius:6px;
	-webkit-border-radius:6px;
}

fieldset {
    margin: 20px;
    padding: 10px;
    }

label {
    display: block;
    font-weight:600;
    }

#CommentText, input.text {
    border-color:#cacec6;
    padding:2px;
    margin:2px 0;
    width:80%;
    }

.button {
    padding:2px 14px;
    margin:6px 0;
    font-weight:600;
    }



/* Tables
----------------------------------------------------------*/

table {
	border-collapse: collapse;
	width: 100%;
	border-spacing: 0px;
}

tbody 
{
	border-spacing: 0px;
	vertical-align: middle;
}

thead, th {
    font-size:104%;
	font-weight:600;
	text-align:left;
	background:#dbe2db;
	overflow:hidden;
}


th, td {
	padding: 10px 12px;
	border-spacing: 0px;
	display:table-cell;
	vertical-align: middle;
	border-bottom:1px dotted #DDDEDF;
}

caption {
	text-indent: 0px;
	font-size:80%;
	margin:8px 0;
	caption-side: bottom;
}

col {
	border-spacing: 0px;
	display: table-column;
	}
	
colgroup 
{
	border-spacing: 0px;
	display: table-column-group;
}

.divider {border-bottom:1px solid #4E6886;}


/* Layout
----------------------------------------------------------*/

#doc4 {
    width:73.846em; /* 960/13=73.846 -set custom doc width */
    *width:72.001em; /* 960/13.333=72.001 -set custom doc width for ie */
    }
    
#bd {
    min-height:500px;
    background:#fff;
    -webkit-border-top-left-radius: 6px;    /* for Safari */
    -webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;       /* for Firefox */
	-moz-border-radius-topright: 6px;
    }

#hd  h1 a {
	background:url(../Content/Images/logo.png) no-repeat top left;
	display: block;
	float:left;
	width:270px;
	height:80px;
	top:0px;
	margin: 0px;
	position:relative;
	z-index:0;
}

#branding {
    height:80px;
}

#logIn {
	margin:33px 2px 0 0;
	font-size:104%;
	float:right;
}

#mainColumn {margin:10px 0 0 20px;}

#subColumn1 {
    margin:43px 10px 10px 10px;
    padding:4px 0 12px 0;
    border:1px solid #e1e7df;
    background:#fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    }

/* contentItems is the generic class for all content items - e.g. blogs uses this for the unordered lists to display posts */
    
.contentItems li {
    margin:12px 0 12px 0;
}

#ft {
	background:#CED5CE;
	-webkit-border-bottom-left-radius: 6px;    /* for Safari */
    -webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomleft: 6px;       /* for Firefox */
	-moz-border-radius-bottomright: 6px;
}

#innerft {
	padding:20px 8px 8px 8px;
}


/* Top navigation pane
----------------------------------------------------------*/

#menucontainer {
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	font-size:104%;
}

#menucontainer ul li {
	float:left;
	margin:0 2px;
	background:url(../Content/Images/tabRightOff.gif) no-repeat top right;
}

#menucontainer ul li a {
	display:block;
	padding:.4em 1.4em .6em 1.4em;
	background:url(../Content/Images/tabLeftOff.gif) no-repeat top left;
	text-decoration:none;
	float:left;
}
