@using Orchard.Utility.Extensions;
@{
    string name = Model.Name;
    string value = Model.Value;
}
@if (HasText(name) && HasText(value)) {
<p class="text-field"><span class="name">@name.CamelFriendly():</span> <span class="value">@value</span></p>
}