<div class="sections">
    <div class="primary">
        @Display(Model.Primary)
    </div>
    <div class="secondary">
        @Display(Model.secondary)
        <fieldset>
            <input class="button primaryAction" type="submit" name="submit.Save" value="@T("Save")"/>
        </fieldset>
    </div>
</div>
