.layout-editor .canvas .x-form {
    background: none repeat scroll 0 0 #fafafa;
    border: 1px solid #bdbcbc;
    margin: 0 0 0.3em;
    padding: 4.3em 0.4em 2.5em 0.4em;
    position: relative;
}

    .layout-editor .canvas .x-form .form-toolbar {
        padding: 0 0.5em 0 0.5em;
        height: 27px;
    }

    .layout-editor .canvas .x-form .drag-handle {
        background: none repeat scroll 0 0 #e4e4e4;
        cursor: move;
        left: -1px;
        position: absolute;
        right: -1px;
        top: -1px;
        z-index: 25;
        border: 1px solid #bdbcbc;
        height: 27px;
    }

        .layout-editor .canvas .x-form .drag-handle .name {
            line-height: 1.5em;
        }

    .layout-editor .canvas .x-row .x-column .x-form .x-holder,
    .layout-editor .canvas .x-form .x-holder {
        min-height: 5em;
        border: none;
    }

.layout-editor .hidden-field {
    background: #e5e5e5;
    padding: 0.5em;
    -ms-opacity: .5;
    opacity: .5;
}

input.text.design,
textarea.text.design {
    width: 99%;
}