.activity-user-task div {
    width: 36px;
    height: 36px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAWCAYAAADTlvzyAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAJVJREFUSEvtk80JwCAMRi099NgROoQLuIJzOIJze/KQasASJFQFTS8VHog/eSj5lPcetNYiOOdAWWvZzRUYY+YKc8EQAqShKDFG9KwUHiLCFigUb5r6+RUns9bDRrgSj6M+yJEPlwulSNnbybyLP4cIaXf2m1oMx0JcOAsUfpFDUdjFlfw5fKU3LtNiIS4cBYWyTePgBu7f4tblZVaYAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
}

.toolbox-user-task {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAWCAYAAADTlvzyAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAJVJREFUSEvtk80JwCAMRi099NgROoQLuIJzOIJze/KQasASJFQFTS8VHog/eSj5lPcetNYiOOdAWWvZzRUYY+YKc8EQAqShKDFG9KwUHiLCFigUb5r6+RUns9bDRrgSj6M+yJEPlwulSNnbybyLP4cIaXf2m1oMx0JcOAsUfpFDUdjFlfw5fKU3LtNiIS4cBYWyTePgBu7f4tblZVaYAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

.toolbox-timer div {
    margin-left: 36px;
}
