@using Orchard.Mvc.Html;
@{
    Html.AddTitleParts((string)Model.Title);
}
@Display(Model.Primary)
@Display(Model.Secondary)
<fieldset><button class="primaryAction" type="submit">@T("Save")</button></fieldset>