@model Orchard.Modules.ViewModels.ModulesIndexViewModel
@using Orchard.Localization;
@using Orchard.Modules.Models;
@using Orchard.Modules.Extensions;
@using Orchard.Mvc.Html;
@using Orchard.Utility.Extensions;

@{
    Style.Require("ModulesAdmin");

    Layout.Title = T("Modules").ToString();
}

@if (Model.InstallModules) {
    <div class="manage">@Html.ActionLink(T("Install a module").ToString(), "AddModule", "PackagingServices", new { area = "Orchard.Packaging", returnUrl = HttpContext.Current.Request.RawUrl }, new { @class = "button primaryAction" })</div>
}

@if (Model.Modules.Count() > 0) {
    <ul class="contentItems">
        @foreach (ModuleEntry module in Model.Modules.OrderBy(m => m.Descriptor.Name)) {
            <li>@Display.ModuleEntry(ContentPart: module)</li>
        }
    </ul>
}