/*Yahoo browser reset
----------------------------------------------------------*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,
blockquote,th,td {margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
ol,ul { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
abbr,acronym { border:0; }
q:before,q:after {content:'';}
abbr,acronym { border:0;}

/*Defaults
----------------------------------------------------------*/

html {height: 100%;}

body {
    font: normal 100% Segoe UI,Trebuchet,Arial,Sans-Serif;
    height: 100%;
    text-align:left;
    color:#333;
}

/* ---------- Headings and defaults ---------- */

h1,h2,h3,h4,h5,h6,legend {font-weight:normal; font-style: normal;}

h1 {font-size: 160%;}
h2 {font-size: 145%;}
h3 {font-size: 130%;}
h4 {font-size: 120%;}
h5 {font-size: 105%;}

.hint {
    font-size:60%;
    font-style:italic;
}

#header {
    background:#2d2f25 url(images/backgroundHeader.gif) no-repeat bottom right;
    width:100%;
    height:50px;
    margin-bottom:40px;
}

#branding{
    background:url(images/orchardLogo.gif) no-repeat;
    display:block;
    height:60px;
    margin:0 0 0 20px;
}


#branding h1{
    font-size: 140%;
    color:#fff;
    padding:8px 0 0 40px;
}


#main {
    margin:0 auto 40px;
    width:600px;
}


/* Forms
----------------------------------------------------------*/

input[type="text"], 
input[type="password"] {
    border:1px solid #DDDEDF;
    display: block;
}

form {
    border:1px solid #DDDEDF;
    padding:10px 0;
    background:transparent url(images/backgroundVines.gif) no-repeat right bottom;
}

form h2 {
    font-size: 105%;
    margin:20px 20px 0;
}

fieldset.data {
    margin-bottom:16px;
}

fieldset div {
    margin:20px 20px 32px 20px;
}
fieldset.data div {
    margin:10px 20px 16px 20px;
}
    
legend {
    font-size: 105%;
    font-weight:500;
    border:none;
    padding:10px 20px 0;
}
fieldset.data legend {
    padding-bottom:10px;
}

label {
    display:block;
}

label.forcheckbox {
    display:inline;
}

fieldset.data span label {
    margin-top:8px;
}

input[type="text"],
input[type="password"] {
    border-color:#ccc;
    padding:4px;
    width:98%;
}
    
button, .button, .button:link, .button:visited {
    font-size: 102%;
    font-weight:600;
    background:#F5F5F5;
    background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#cbcbcb));
    background:-moz-linear-gradient(top , #F5F5F5, #cbcbcb);
    border:1px solid #999999;
    color:#2D2F25;
    cursor:pointer;
    margin:0 0 20px 20px;
    padding:.2em 1.4em;
    text-align:center;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    box-shadow: 0 4px 4px rgba(231,231,231,.2) inset;
    -webkit-box-shadow: 0 4px 4px rgba(231,231,231,.2) inset;
    -moz-box-shadow: 0 4px 4px rgba(231,231,231,.2) inset;
}

button:hover, .button:hover,
button:active, .button:active,
button:focus, .button:focus {
    border-color:#bb8b2d;
    color:#fff;
    text-decoration:none; 
    background: #ffac40;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffac40), to(#f06015));
    background: -moz-linear-gradient(top,  #ffac40,  #f9760d);

}

button:focus::-moz-focus-inner, .button:focus::-moz-focus-inner {
    border-color:#8a8f7a;
}

.primaryAction, .primaryAction:link, .primaryAction:visited {
    background:#4687ad;
    background: -webkit-gradient(linear, left top, left bottom, from(#4687AD), to(#366581));
    background:-moz-linear-gradient(top , #4687AD, #366581);
    border:1px solid #405f71;
    color:#fff;
}


/* Confirmations, Messages and the like
***************************************************************/
#throbber {
    display:none;
}
#throbber .curtain 
{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:Gray;
    filter:alpha(opacity=70);
    opacity: 0.7;
}
#throbber .curtain-content 
{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
#throbber .curtain-content div {
    text-align:center;
    padding:250px;
    color:White;
}

.message, .validation-summary-errors {
    margin:10px 0 4px 0;
    padding:4px;
}
messages div.message {
    clear:both;
}
span.message {
    display:block;
    margin:4px 0 4px 4px;
}
.messages a {
    font-weight:bold;
}
/* todo: (heskew) what else (other inputs) needs this? */
.critical.message, .validation-summary-errors,
.input-validation-error.text-box, .input-validation-error.text {
    border:1px solid #990808;
}
.critical.message, .validation-summary-errors {
    background:#e68585; /* red */
    color:#fff;
}
.message-Information {
    background:#e6f1c9; /* green */
    border:1px solid #cfe493;
    color:#062232;
}
.message-Warning {
    background:#fdf5bc; /* yellow */
    border:1px solid #ffea9b;
}
.message-Error {
    background:#e68585; /* red */
    border:1px solid #990808;
    color:#fff;
}.debug.message {
    background:#eee;
    border:1px dashed #D2D6C6;
    color:#7a7a7a;
    margin:20px 0 14px 0;
}
.debug.message:before {
    content:"DEBUG » ";
}