/*Yahoo browser reset
----------------------------------------------------------*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,
blockquote,th,td {margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
ol,ul { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
abbr,acronym { border:0; }
q:before,q:after {content:'';}
abbr,acronym { border:0;}

/*Defaults
----------------------------------------------------------*/

html {height: 100%;}

body {
	font: normal 100% Segoe UI,Trebuchet,Arial,Sans-Serif;
	height: 100%;
	text-align:left;
	color:#333;
}

/* ---------- Headings and defaults ---------- */

h1,h2,h3,h4,h5,h6,legend {font-weight:normal; font-style: normal;}

h1 {font-size: 180%;}
h2 {font-size: 160%;}
h3 {font-size: 145%;}
h4 {font-size: 130%;}
h5 {font-size: 120%;}
h6 {font-size: 105%;}



#header {
	background:#2d2f25 url(images/backgroundHeader.gif) no-repeat bottom right;
	width:100%;
	height:50px;
	margin-bottom:40px;
}

#branding{
	background:url(images/orchardLogo.gif) no-repeat;
	display:block;
	height:60px;
	margin:0 0 0 20px;;
}


#branding h1{
	font-size: 140%;
	color:#fff;
	padding:8px 0 0 40px;
}


#main {
margin:0 auto;
width:600px;
}


/* Forms
----------------------------------------------------------*/

input[type="text"], #password {
    border:1px solid #DDDEDF;
    display: block;
}

form {
	border:1px solid #DDDEDF;
	padding:10px 0;
	background:transparent url(images/backgroundVines.gif) no-repeat right bottom;
}

fieldset div {
	margin:20px 20px 32px 20px;
}
    
legend {
	font-size: 110%;
	font-weight:500;
	border:none;
	margin:0 20px;
	}

label {
    display:block;
    }

label.forcheckbox {
    display:inline;
    }

input[type="text"], #password {
    border-color:#ccc;
    padding:4px;
    width:98%;
    }
    
button, .button, .button:visited {
	font-size: 102%;
	background:#4687ad;
	border:1px solid #8f8f8f;
	color:#fff;
	font-weight:600;
	cursor:pointer;
	text-align:center;
	margin:0 0 20px 20px;
	padding:4px 14px;
}
	
button:hover, .button:hover,
button:active, .button:active,
button:focus, .button:focus {
    background:#ffac40;
    border-color:#bb8b2d;
    color:#fff;
    text-decoration:none;
}
