@model Orchard.Core.Title.Models.TitlePart

<fieldset>
    <label for="@Html.FieldIdFor(m => m.Title)" class="required">@T("Title")</label>    
    @Html.TextBoxFor(m => m.Title, new { @class = "text large", autofocus = "autofocus" })
    <span class="hint">@T("You must provide a title for this content item")</span>
</fieldset>
