@model Orchard.Core.Title.Models.TitlePart

<fieldset>
    @Html.LabelFor(m => m.Title, T("Title"))
    @Html.TextBoxFor(m => m.Title, new { @class = "text large", autofocus = "autofocus" })
    <span class="hint">@T("You must provide a title for this content item")</span>
</fieldset>
