@{ 
    Script.Require("OrchardMarkdown");
    Style.Require("OrchardMarkdown");
    string idPostfix = @Html.FieldIdFor(m => m);
}
<fieldset>
<div id="wmd-button-bar-@idPostfix" class="wmd-button-bar"></div>

@Html.TextArea("Text", (string)Model.Text, 25, 80,
     new Dictionary<string, object> {
		{"id", "wmd-input" + "-" + idPostfix},
		{"class", "wmd-input grippie"},
		{"data-mediapicker-uploadpath", Model.AddMediaPath},
		{"data-mediapicker-title", T("Insert/Update Media")}
	 })
</fieldset>

<fieldset>
    <label>@T("Preview")</label>
    <div id="wmd-preview-@idPostfix" class="wmd-panel wmd-preview"></div>
</fieldset>
