@model Orchard.Localization.Settings.LocalizationCultureNeutralitySettings
<fieldset class="form-group">
    <div class="or-checkbox">
        @Html.CheckBoxFor(m => m.CultureNeutral)
        @Html.LabelFor(m => m.CultureNeutral, T("Culture Neutral").Text, new { @class = "forcheckbox" })
    </div>
    <span class="hint">@T("Check to mark this part/field as Culture Neutral. The values of Culture Neutral components will be synchronized across elements of a localization set whenever one of them is published.")</span>
</fieldset>
