<div class="panel panel-default">
    <div class="panel-body">
        @Display(Model.Content)
    </div>
    <div class="panel-footer">
        @Display(Model.Sidebar)
    </div>
</div>
@if (!String.IsNullOrWhiteSpace(Request.QueryString["returnUrl"])) {
    @Html.Hidden("returnUrl", Request.QueryString["returnUrl"])
}
