@model Orchard.ContentTypes.ViewModels.ListContentTypesViewModel
@{
    Style.Require("ContentTypesAdmin");
    Layout.Title = T("Manage Content Types").ToString();
}

<div class="manage">
    @Display.ActionLink(Value: T("Create new type"), Action: "Create", Controller: "Admin", Area: "Orchard.ContentTypes", Classes: new [] { "button", "primaryAction" })
    @Display.ActionLink(Value: T("Content Parts"), Action: "ListParts", Controller: "Admin", Area: "Orchard.ContentTypes", Classes: "button")
</div>
@Display.List(Items: Model.Types.Select(t => Html.DisplayFor(m => t)), Classes: "contentItems")