@model Orchard.ContentTypes.ViewModels.ListContentPartsViewModel
@{
    Style.Require("DataTablesBoostrap").AtHead();
    Script.Require("DataTablesBoostrap");
    Script.Require("ContentTypesAdmin");
    Layout.Title = T("Content Parts").ToString();
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    @Html.ActionLink(T("Create new part").ToString(), "CreatePart", new { Controller = "Admin", Area = "Orchard.ContentTypes" }, new { @class = "btn btn-primary" })
                </div>

                <table id="contentparts" class="table table-bordered table-striped table-hover dataTable">
                    <thead>
                    <tr><th>@T("Display Name")</th></tr>
                    </thead>
                    <tbody>
                    @foreach (var type in Model.Parts) {
                        <tr>
                            <td>@Html.DisplayFor(m => type)</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>