@model Orchard.ContentTypes.ViewModels.ListContentTypesViewModel
@{
    Style.Require("ContentTypesAdmin");
    Layout.Title = T("Manage Content Types").ToString();
}

<div class="manage">
    @Html.ActionLink(T("Create new type").ToString(), "Create", new{Controller="Admin",Area="Orchard.ContentTypes"}, new { @class = "button primaryAction" })
</div>
@Html.UnorderedList(
    Model.Types,
    (t,i) => Html.DisplayFor(m => t),
    "contentItems"
    )