@model Orchard.ContentTypes.ViewModels.RemovePartViewModel

@{
    Style.Require("ContentTypesAdmin");
    Layout.Title = T("Remove the \"{0}\" Content Part from \"{1}\"", Model.Name, Html.Raw(Model.Type.DisplayName)).Text;
}

@using (Html.BeginFormAntiForgeryPost()) {
    <p>@T("Looks like you couldn't use the fancy way to remove the part. Try hitting the button below to force the issue.")</p>
    <fieldset>
        @Html.HiddenFor(m => m.Name)
        <button class="primaryAction" type="submit">@T("Remove")</button>
    </fieldset>
}