@import "sources/site-default.less";
@import "sources/aefc-darkly-bootswatch.less";
@import "sources/aefc-darkly-variables.less";

@charset "UTF-8";
@font-face {
  font-family: 'Billion Web Font';
  src: url("BillionWebFonts.woff") format('woff'), url("BillionWebFonts.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Minor Changes Theme for AEFC */
.navbar-brand > img { 
    max-height: 50px;    
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0; 
}

.navbar-default {
    background-color: #043F77;
    border-color: transparent;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
    background-color: #ff0000;
}
.bd-slide-1 {
    background: none;
}
.bd-slide-1:before
{
    background-color: transparent;
}
.bd-responsivemenu-1 .bd-menuitem-4 > a:before,
.bd-responsivemenu-1 .bd-menuitem-4 > a:link:before,
.bd-responsivemenu-1 .bd-menuitem-4 > a:visited:before,
.bd-hmenu-1 .collapse-button .bd-menuitem-4 > a:before,
.bd-hmenu-1 .collapse-button .bd-menuitem-4 > a:link:before,
.bd-hmenu-1 .collapse-button .bd-menuitem-4 > a:visited:before {
  content: url(../Content/menubig.png);
  font-size: 0 !important;
  line-height: 0 !important;
}

html {
	/* This image will be displayed fullscreen */
	background:url('../Content/fitnesscenteratnight.jpg') no-repeat center center;
	/* Ensure the html element always takes up the full height of the browser window */
	min-height:100%;
	/* The Magic */
	background-size:cover;
    background-attachment: fixed;
}

body {
	/* Workaround for some mobile browsers */
	min-height:100%;
    background-color: inherit;
}

html.fixed-nav.boxed-layout #layout-navigation {
    width: inherit;
}

#layout-content {
    padding-left: inherit;
    padding-right: inherit;
}

#footer-quad:before
{
    content: none;   
    display: inherit;
}

html.fluid-layout #layout-main-container{
    padding-left: 0px;
    padding-right: 0px;
}

.element-shade{
  background-color: rgba(0,0,0, 0.61);
  color: inherit;
}

.height-full {
    height: 100vh;
}

li.bd-linkbutton-1 > a,
li.bd-linkbutton-2 > a
 {
    color: #fff;
}

h4.bd-textblock-4
{
    font-size: 250%;
}