@import "sources/site-default.less";
@import "sources/aefc-darkly-bootswatch.less";
@import "sources/aefc-darkly-variables.less";

/* Minor Changes Theme for AEFC */
.navbar-brand > img { 
    max-height: 50px;    
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0; 
}

.navbar-default {
    background-color: #043F77;
    border-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: #ff0000;
}