@model Orchard.MediaLibrary.MediaFileName.MediaFileNameEditorSettings

<fieldset>
    <div>
        @Html.EditorFor(m=>m.ShowFileNameEditor)
        <label for="@Html.FieldIdFor(m => m.ShowFileNameEditor)" class="forcheckbox">@T("Show editor for filename")</label>
        @Html.ValidationMessageFor(m => m.ShowFileNameEditor)
    </div>
</fieldset>
