@using Orchard.AuditTrail.Helpers
@{
    var eventData = (IDictionary<string, object>) Model.EventData;
    var roleName = eventData.Get<string>("RoleName");
    var permissionName = eventData.Get<string>("PermissionName");
}

<section class="audittrail-role-summary">
    @T("Added the <strong>{0}</strong> permission to the <strong>{1}</strong> role.", permissionName, roleName)
</section>