@using Orchard.AuditTrail.Helpers
@{
    var eventData = (IDictionary<string, object>) Model.EventData;
    var contentPartName = eventData.Get<string>("ContentPartName");
}

<section class="event-content-part">
    @T("Created the <strong>{0}</strong> content part.", contentPartName)
</section>