@using Orchard.AuditTrail.Helpers
@using Orchard.ContentManagement
@{
    var eventData = (IDictionary<string, object>) Model.EventData;
    var contentItem = (ContentItem) Model.ContentItem;
    var contentItemId = contentItem.Id;
    var eventVersionNumber = eventData.Get<int>("VersionNumber");
    var eventIsPublished = eventData.Get<bool>("Published");
    var contentType = contentItem.ContentType;
}
<section class="audittrail-content-eventsummary">
    @T("{0} - {1} (version {2})", contentType, Html.ItemEditLink(contentItem), eventVersionNumber)
    @if (eventIsPublished) {
        @T(" - ")
        <a href="@Url.Action("Detail", "Content", new { area = "Orchard.AuditTrail", id = contentItemId, version = eventVersionNumber })">@T("View")</a>
    }
</section>