@using Orchard.ContentManagement
@{
    var contentItem = (ContentItem) Model.ContentItem;
    var previousVersion = (ContentItem) Model.PreviousVersion;
}

<div>
    @T("This version:")
    @Html.ItemEditLink(contentItem)
</div>
@if (previousVersion != null) {
    <div>
        @T("Previous version:")
        @Html.ItemEditLink(previousVersion)
    </div>
}