@using Orchard.AuditTrail.Helpers
@{
    var eventData = (IDictionary<string, object>) Model.EventData;
    var contentPartName = eventData.Get<string>("ContentPartName");
    var contentFieldName = eventData.Get<string>("ContentFieldName");
    var contentFieldTypeName = eventData.Get<string>("ContentFieldTypeName");
    var contentDisplayName = eventData.Get<string>("ContentDisplayName");
}

<section class="event-content-part">
    @T("Added the <strong>{0}</strong> content field of type <strong>{1}</strong> to the <strong>{2}</strong> content part.", contentFieldName, contentFieldTypeName, contentPartName)
</section>