@using Orchard.AuditTrail.Helpers
@{
    var eventData = (IDictionary<string, object>) Model.EventData;
    var contentTypeName = eventData.Get<string>("ContentTypeName");
}

<section class="event-content-type">
    @T("Settings for the <strong>{0}</strong> content type were updated.", contentTypeName)
</section>