@using Orchard.AuditTrail.Helpers
@{
    var eventData = (IDictionary<string, object>) Model.EventData;
    var contentTypeName = eventData.Get<string>("ContentTypeName");
    var oldDisplayName = eventData.Get<string>("OldDisplayName");
    var newDisplayName = eventData.Get<string>("NewDisplayName");
}
<section class="audittrail-contenttype-eventsummary">
    @T("The display name for the content type {0} was changed from <strong>{1}</strong> to <strong>{2}</strong>.", Html.ContentTypeEditLink(contentTypeName), oldDisplayName.OrIfEmpty(T("[Empty]")), newDisplayName.OrIfEmpty(T("[Empty]")))
</section>