@using Orchard.AuditTrail.Helpers
@using Orchard.AuditTrail.Services.Models
@{
    var eventData = (IDictionary<string, object>) Model.EventData;
    var contentTypeName = eventData.Get<string>("ContentTypeName");
    var diffNodes = (IList<DiffNode>)Model.DiffNodes;
}
<section class="audittrail-contenttype-eventsummary">
    @T(diffNodes != null ? "The content type {0} was altered during an import." : "The content type {0} was added during an import.", Html.ContentTypeEditLink(contentTypeName))
</section>