@using Orchard.AuditTrail.Helpers
@{
    var eventData = (IDictionary<string, object>) Model.EventData;
    var contentPartName = eventData.Get<string>("ContentPartName");
    var contentFieldName = eventData.Get<string>("ContentFieldName");
    var oldDisplayName = (string)Model.OldDisplayName;
    var newDisplayName = (string)Model.NewDisplayName;
}

<section class="audittrail-contentpart-summary">
    @T("The content field <strong>{0}</strong> of the content part <strong>{1}</strong> was renamed from <strong>{2}</strong> to <strong>{3}</strong>.", contentFieldName, contentPartName, oldDisplayName, newDisplayName)
</section>