@using Orchard.AuditTrail.Helpers
@{
    var eventData = (IDictionary<string, object>) Model.EventData;
    var contentPartName = eventData.Get<string>("ContentPartName");
    var contentFieldName = eventData.Get<string>("ContentFieldName");
}

<section class="audittrail-contentpart-summary">
    @T("The content field <strong>{0}</strong> was removed from the content part <strong>{1}</strong>.", contentFieldName, contentPartName)
</section>