@using Orchard.AuditTrail.Helpers
@{
    var eventData = (IDictionary<string, object>)Model.EventData;
    var roleName = eventData.Get<string>("RoleName");
    var userName = eventData.Get<string>("UserName");
}
<section class="audittrail-role-eventsummary">
    @T("The user <strong>{0}</strong> was removed from the role <strong>{1}</strong>.", userName, roleName)
</section>