@using Orchard.AuditTrail.Helpers
@using Orchard.AuditTrail.Services.Models
@{
    Style.Include("audittrail-contenttype-event.css");
}
@functions {
    string ToFriendlyEmpty(string value) {
        return String.IsNullOrWhiteSpace(value) ? Html.Encode(T("<empty>").Text) : value;
    }
}
@{
    var eventData = (IDictionary<string, object>) Model.EventData;
    var contentTypeName = eventData.Get<string>("ContentTypeName");
    var diff = (DiffDictionary<string, string>) Model.Diff;
}

<section class="audittrail-contenttype-event">
    @T("Settings for the content type <strong>{0}</strong> were changed:", contentTypeName)
    <ul>
        @foreach (var setting in diff) {
            <li>
                @T("<strong>{0}</strong> was changed from <strong>{1}</strong> to <strong>{2}</strong>.", setting.Key, ToFriendlyEmpty(setting.Value.OldValue), ToFriendlyEmpty(setting.Value.NewValue))
            </li>
        }
    </ul>
</section>