@using Orchard.AuditTrail.Helpers
@{
    var eventData = (IDictionary<string, object>) Model.EventData;
    var contentPartName = eventData.Get<string>("ContentPartName");
}

<section class="audittrail-contentpart-summary">
    @T("Removed the <strong>{0}</strong> content part.", contentPartName)
</section>