@using Orchard.AuditTrail.Helpers
@{
    var eventData = (IDictionary<string, object>) Model.EventData;
    var title = eventData.Get<string>("Title");
    var contentItemId = eventData.Get<int>("ContentItemId");
    var contentItemVersionNumber = eventData.Get<int>("ContentItemVersionNumber");
}

<section class="event-content">
    <span class="version">@T("version {0}", contentItemVersionNumber)</span>@T(" - ")
    <a href="@Url.Action("Preview", "Item", new { area = "Contents", id = contentItemId, version = contentItemVersionNumber })" class="event-contentitem">@title</a>
</section>