@using Orchard.AuditTrail.ViewModels
@{
    var diff = (IList<AuditTrailEventDescriptorSettingViewModel>)Model.Diff;
    var descriptions = String.Join("<br/>", diff.Select(x => T("<strong>{0}</strong> ({1}) was <strong>{2}</strong>", x.Descriptor.Name, x.Descriptor.CategoryDescriptor.Name, x.Setting.IsEnabled ? "enabled" : "disabled").Text));
}

<section class="audittrail-settings-summary">
    @Html.Raw(descriptions)
</section>