@using Orchard.AuditTrail.Helpers
@{
    var eventData = (IDictionary<string, object>) Model.EventData;
    var userName = eventData.Get<string>("UserName");
}

<section class="event-user">
    <span>@T("Attempted user name: {0}", userName)</span>
</section>