@using Orchard.AuditTrail.Helpers
@{
    var eventData = (IDictionary<string, object>) Model.EventData;
    var contentPartName = eventData.Get<string>("ContentPartName");
    var contentFieldName = eventData.Get<string>("ContentFieldName");
}

<section class="event-content-part">
    @T("Settings for the <strong>{0}</strong> content field of the <strong>{1}</strong> content part were updated.", contentFieldName, contentPartName)
</section>