<!-- zone: featured -->
<div class="featuredimage">Image</div>
    <article class="featured-blogpost">
        <header>
            <!-- // example // -->
            @if(HasText(Model.Title)) {
            <h1>@Model.Title</h1>
            }
            else {
            <h1>@Model.insertMessage</h1>
            }
        </header>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices vehicula nibh quis varius. Donec tincidunt, purus at tincidunt elementum, justo nisi rhoncus metus, quis bibendum lorem nunc at dolor. Sed scelerisque aliquet leo sed semper. Donec accumsan, nibh at consectetur rhoncus, odio justo imperdiet risus, quis pretium tortor dolor vel dolor.</p>
    </article>
<!-- /zone: featured -->