<!-- Model is Model.Menu from the layout (Page.Menu) -->
    <nav>
@{
	// these should move somewhere else
	Model.Id = "menu-" + Model.MenuName.ToLower();
	Model.Classes.Add(Model.Id);
	Model.Classes.Add("menu");
	var tag = Html.Resolve<Orchard.DisplayManagement.Shapes.ITagBuilderFactory>().Create(Model, "ul");
}
@tag.StartElement
@DisplayChildren(Model)
@tag.EndElement <!-- /@Model.Id -->
    </nav>