<!-- Model is Model.Menu from the layout (Page.Menu) -->
    <nav>
        <ul>
            <li class="first current"><a href="#">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Full Page</a></li>
            <li><a href="#">Image Page</a></li>
            <li><a href="#">Gallery Page</a></li>
            <li><a href="#">Nested Page</a></li>
            <li class="last"><a href="#">Contact</a></li>
        </ul>
    </nav>