<!-- zone: recent -->
<section class="posts-recent">
    <ul>
        <li class="first">
            <article>
                <header>
                    <h1>Another recent post title</h1>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent magna ante, accumsan at blandit et, posuere imperdiet sapien. Praesent condimentum laoreet justo non semper. Cras molestie fermentum turpis, in ornare eros mollis non. Sed a ligula sit amet mauris ultrices hendrerit ac vitae quam. Integer sit amet lorem vitae velit accumsan suscipit. Nulla mi nulla, congue eget euismod eget, ultrices in mauris. Mauris leo turpis, malesuada mattis feugiat ut, convallis in neque. Maecenas iaculis consequat interdum. Sed fermentum dolor quis ante interdum in sollicitudin lorem sollicitudin. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </article>
        </li>
        <li class="last">
            <article>
                <header>
                    <h1>Another recent post title</h1>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent magna ante, accumsan at blandit et, posuere imperdiet sapien. Praesent condimentum laoreet justo non semper. Cras molestie fermentum turpis, in ornare eros mollis non. Sed a ligula sit amet mauris ultrices hendrerit ac vitae quam. Integer sit amet lorem vitae velit accumsan suscipit. Nulla mi nulla, congue eget euismod eget, ultrices in mauris. Mauris leo turpis, malesuada mattis feugiat ut, convallis in neque. Maecenas iaculis consequat interdum. Sed fermentum dolor quis ante interdum in sollicitudin lorem sollicitudin. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </article>
        </li>
    </ul>
</section>
<!-- /zone: recent -->