.layout-editor {
  display: flex;
  margin-top: 1em;
  font-size: 14px;
  align-items: flex-start;
}
.layout-editor > .layout-canvas-wrapper {
  flex-grow: 1;
  background-color: #f3f4f5;
  border: 1px solid #e4e5e6;
}
.layout-editor > .layout-canvas-wrapper > .layout-toolbar-container {
  display: none;
  margin: 12px 12px 0;
  min-height: 71px;
}
.layout-editor > .layout-canvas-wrapper > .layout-toolbar-container > .mce-panel {
  width: 100% !important;
}
