.layout-editor .layout-popup {
  display: none;
  position: absolute;
  margin: 0;
  -moz-box-shadow: 3px 3px 11px 0 rgba(50, 50, 50, 0.5);
  -webkit-box-shadow: 3px 3px 11px 0 rgba(50, 50, 50, 0.5);
  box-shadow: 3px 3px 11px 0 rgba(50, 50, 50, 0.5);
  border: 1px solid #e4e5e6;
  padding: 2px 0;
  background-color: #f7f7f7;
  list-style: none;
  z-index: 20;
  color: #7c7c7c;
  text-align: left;
  cursor: default;
  white-space: nowrap;
  line-height: normal;
}
.layout-editor .layout-popup .layout-popup-flex {
  display: flex;
  padding: 2px 5px;
}
.layout-editor .layout-popup .layout-popup-flex .layout-popup-column + .layout-popup-column {
  margin-left: 4px;
  border-left: 1px solid rgba(128, 128, 128, 0.15);
  padding-left: 4px;
}
.layout-editor .layout-popup .layout-popup-item {
  padding: 4px 6px;
}
.layout-editor .layout-popup .layout-popup-label {
  font-size: 0.9em;
  font-weight: bold;
  color: #7c7c7c;
}
.layout-editor .layout-popup .layout-popup-action:hover {
  background-color: #f3f4f5;
  cursor: pointer;
}
.layout-editor .layout-popup .layout-popup-input > label {
  display: block;
  font-size: 0.9em;
}
