@model dynamic
<div id="branding">
<div id="app">@Display.ActionLink(Value: T("Project Orchard"), Action: "Index", Area: "", Controller: "Home")</div>
<div id="site">@Display.ActionLink(Value: T("Your Site"), Action: "Index", Area: "", Controller: "Home")</div>
</div>