@{
    var version = new System.Reflection.AssemblyName(typeof(Orchard.ContentManagement.ContentItem).Assembly.FullName).Version.ToString();
}
<div id="orchard-version">@T("Orchard v.{0}", version)</div>