<div class="am-left-sidebar">
        <div class="content">
            <div class="am-logo"></div>
            <ul class="sidebar-elements">
                <li class="parent">
                    <a href="#"><i class="icon s7-plus"></i><span>New</span></a>
                    <ul class="sub-menu">
                        <li><a href="#">Page</a></li>
                        <li><a href="#">Projection</a></li>
                    </ul>
                </li>
                <li class="parent">
                    <a href="#"><i class="icon s7-file"></i><span>Content</span></a>
                    <ul class="sub-menu">
                        <li><a href="#">All</a></li>
                        <li><a href="#">Pages</a></li>
                        <li><a href="#">Projections</a></li>
                    </ul>
                </li>
                <li class="parent">
                    <a href="#"><i class="icon s7-filter"></i><span>Queries</span></a>
                    <ul class="sub-menu">
                        <li><a href="#">All</a></li>
                        <li><a href="#">New Query</a></li>
                        <li><a href="#">Bindings</a></li>
                    </ul>
                </li>
                <li class="parent">
                    <a href="#"><i class="icon s7-ticket"></i><span>Taxonomies</span></a>
                    <ul class="sub-menu">
                        <li><a href="#">All</a></li>
                        <li><a href="#">New Taxonomy</a></li>
                    </ul>
                </li>
                <li class="parent">
                    <a href="#"><i class="icon s7-ticket"></i><span>Tags</span></a>
                    <ul class="sub-menu">
                        <li><a href="#">All</a></li>
                        <li><a href="#">New Tag</a></li>
                    </ul>
                </li>
                <li class="parent">
                    <a href="#"><i class="icon s7-photo"></i><span>Media</span></a>
                    <ul class="sub-menu">
                        <li><a href="#">Media</a></li>
                        <li><a href="#">Profiles</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </li>
                <li class="parent">
                    <a href="#"><i class="icon s7-leaf"></i><span>Widgets</span></a>
                    <ul class="sub-menu">
                        <li><a href="#">Anonymous</a></li>
                        <li><a href="#">Authenticated</a></li>
                        <li><a href="#">Default</a></li>
                        <li><a href="#">Disabled</a></li>
                        <li><a href="#">TheHomepage</a></li>
                        <li><a href="#">New Widget</a></li>
                    </ul>
                </li>
                <li class="parent">
                    <a href="#"><i class="icon s7-menu"></i><span>Navigation</span></a>
                    <ul class="sub-menu">
                        <li><a href="#">All</a></li>
                        <li><a href="#">Main Menu</a></li>
                        <li><a href="#">Top Menu</a></li>
                        <li><a href="#">New Menu</a></li>
                    </ul>
                </li>
                <li class="parent">
                    <a href="#"><i class="icon s7-browser"></i><span>Layouts</span></a>
                    <ul class="sub-menu">
                        <li><a href="#">All</a></li>
                        <li><a href="#">New Layout</a></li>
                        <li><a href="#">Elements</a></li>
                    </ul>
                </li>
                <li class="parent">
                    <a href="#"><i class="icon s7-drawer"></i><span>Form Submissions</span></a>
                    <ul class="sub-menu">
                        <li><a href="#">All</a></li>
                        <li><a href="#">Contact Form</a></li>
                        <li><a href="#">Suggestions</a></li>
                    </ul>
                </li>
                <li class="parent">
                    <a href="#"><i class="icon s7-plugin"></i><span>Modules</span></a>
                    <ul class="sub-menu">
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Installed</a></li>
                        <li><a href="#">Recipes</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </li>
                <li class="parent">
                    <a href="#"><i class="icon s7-paint"></i><span>Themes</span></a>
                    <ul class="sub-menu">
                        <li><a href="#">All</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </li>
                <li class="parent">
                    <a href="#"><i class="icon s7-users"></i><span>Users</span></a>
                    <ul class="sub-menu">
                        <li><a href="#">All</a></li>
                        <li><a href="#">Roles</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </li>
                <li class="parent">
                    <a href="#"><i class="icon s7-network"></i><span>Workflows</span></a>
                    <ul class="sub-menu">
                        <li><a href="#">Definitions</a></li>
                        <li><a href="#">Running Instances</a></li>
                        <li><a href="#">New Workflow</a></li>
                    </ul>
                </li>
                <li class="parent">
                    <a href="#"><i class="icon s7-menu3"></i><span>Lists</span></a>
                    <ul class="sub-menu">
                        <li><a href="#">All</a></li>
                        <li><a href="#">Todo</a></li>
                        <li><a href="#">Stores</a></li>
                        <li><a href="#">Books</a></li>
                        <li><a href="#"><i class="icon s7-plus"></i> New List</a></li>
                    </ul>
                </li>
                <li class="parent">
                    <a href="#"><i class="icon s7-way"></i><span>Aliases</span></a>
                    <ul class="sub-menu">
                        <li><a href="#">Unmanaged</a></li>
                        <li><a href="#">Managed</a></li>
                        <li><a href="#"><i class="icon s7-plus"></i> New Alias</a></li>
                    </ul>
                </li>
                <li class="parent">
                    <a href="#"><i class="icon s7-note2"></i><span>Audit Trail</span></a>
                    <ul class="sub-menu">
                        <li><a href="#">View</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </li>
                <li class="parent">
                    <a href="#"><i class="icon s7-stopwatch"></i><span>Jobs Queue</span></a>
                    <ul class="sub-menu">
                        <li><a href="#">3 Pending</a></li>
                        <li><a href="#">Process Now</a></li>
                    </ul>
                </li>
                <li class="parent">
                    <a href="#"><i class="icon s7-refresh-2"></i><span>Import/Export</span></a>
                    <ul class="sub-menu">
                        <li><a href="#">Import</a></li>
                        <li><a href="#">Export</a></li>
                        <li><a href="#">Deployments</a></li>
                    </ul>
                </li>
            </ul>
            <!--Sidebar bottom content-->
        </div>
    </div>
