@model dynamic
@if (Model.CurrentUser != null) {<div id="login">@T("User:") @Convert.ToString(Html.ItemDisplayText((Orchard.ContentManagement.IContent)Model.CurrentUser)) | @Html.ActionLink(T("Logout").ToString(), "LogOff", new { Area = "Orchard.Users", Controller = "Account" })</div>}