@model dynamic
@if (Model.CurrentUser != null) {<div id="login">@T("User:") @Model.CurrentUser.UserName | @Display.ActionLink(Value: T("Logout"), Action: "LogOff", Area: "Orchard.Users", Controller: "Account")</div>}