@import "../Content/Bootstrap/less/variables";

// This is roughly equivalent to the default pixel-based value but also works with zooming in Chrome
@grid-float-breakpoint: 48em;
@zone-padding: 1rem;

.font-size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  @lineHeightValue:(@sizeValue * 1.6);
  font-size: ~"@{pxValue}px"; 
  font-size: ~"@{remValue}rem";
  line-height: ~"@{lineHeightValue}rem";
}