﻿@model Orchard.MediaLibrary.Models.WebSearchSettingsPart

<fieldset>
    <legend>@T("Web Search")</legend>
    <div>
        @Html.TextBoxFor(m => m.ApiKey, new { @class = "text medium"})
        <span class="hint">@T("Your private key.")</span>
    </div>

    @T("Get a free API Key on {0}", Html.Raw("<a href=\"http://datamarket.azure.com/dataset/bing/search\">http://datamarket.azure.com/dataset/bing/search</a>"))
</fieldset>



