@{
    string name = Model.ContentField.DisplayName;
    string value = Model.Value;
}
@if (HasText(name) && HasText(value)) {
<p class="text-field"><span class="name">@name:</span> <span class="value">@value</span></p>
}