@using Orchard.Utility.Extensions;
@{
    string name = Model.ContentField.DisplayName;
}

@if (HasText(name) && HasText(Model.Value)) {
    <p class="text-field"><span class="name">@name:</span> <span class="value">@(new MvcHtmlString(Html.Encode((HtmlString) Model.Value).ReplaceNewLinesWith("<br />$1")))</span></p>
}