@{
    DateTime? modifiedUtc = Model.ContentPart == null ? null : Model.ContentPart.ModifiedUtc;
}
<ul class="pageStatus">
    <li>
        @if (modifiedUtc.HasValue) {
            @T("Last modified: {0}", Display.DateTimeRelative(DateTimeUtc: modifiedUtc.Value))}&nbsp;&#124;&nbsp;
</li>
<li>@Display.CommonMetadataLastModified(ContentPart: Model.ContentPart)</li>
</ul>