@model Orchard.Packaging.ViewModels.PackagingAddSourceViewModel

@{ Layout.Title = T("Add a Feed").ToString(); }

@using ( Html.BeginFormAntiForgeryPost(Url.Action("AddSource")) ) {
    @Html.ValidationSummary()
    <fieldset>
        <label for="Url">@T("Feed Url")</label>
        <input id="Url" class="textMedium" name="Url" type="text" value="@Model.Url"/>
    </fieldset>
    <fieldset>
        <button class="primaryAction" type="submit">@T("Add Feed")</button>
    </fieldset>
 }