@{
    Script.Include("~/Modules/Orchard.ImageEditor/Scripts/image.editor-crop.js");
    Script.Include("~/Modules/Orchard.ImageEditor/Scripts/jcrop/js/jquery.Jcrop.min.js");
    Style.Include("~/Modules/Orchard.ImageEditor/Styles/jcrop/css/jquery.Jcrop.css");
}

<button id="crop">@T("Crop")</button>
