<a href="@Url.Action("Index", "Admin", new { content = Model.ContentItem.Id, area = "Orchard.AuditTrail" })" class="btn btn-default">
    <span class="fa fa-user-secret"></span>
    @T("Audit Trail")
</a>