<system.diagnostics>
  <trace autoflush="true"/>
  <sources>
    <source name="Default" switchValue="Warning">
      <listeners>
        <add name="CaptureTraceMessages" />
      </listeners>
    </source>
    <source name="Orchard" switchValue="Verbose">
      <listeners>
        <add name="CaptureTraceMessages" />
      </listeners>
    </source>
    <source name="Orchard.Data.SessionLocator" switchValue="Information">
      <listeners>
        <add name="CaptureTraceMessages" />
      </listeners>
    </source>
    <source name="NHibernate.SQL" switchValue="Verbose">
      <listeners>
        <add name="CaptureTraceMessages" />
      </listeners>
    </source>
    <source name="Orchard.Mvc.ViewEngines.WebFormsViewEngineProvider" switchValue="Warning">
      <listeners>
        <add name="CaptureTraceMessages" />
      </listeners>
    </source>
        <!--<source name="Orchard.Localization.Text" switchValue="Warning"/>
    <source name="Orchard.Mvc.ViewEngines.WebFormsViewEngineProvider" switchValue="Warning"/>-->
    
  </sources>
  <sharedListeners>
    <add name="CaptureTraceMessages" type="Orchard.Specs.Hosting.HostingTraceListener, Orchard.Specs" initializeData=""  />
  </sharedListeners>
</system.diagnostics>
