<system.diagnostics>
  <trace autoflush="true">
    <listeners>
      <!-- Capture Trace messages from ASP.NET TraceWebEventProvider -->
      <add name ="CaptureTraceMessages"/>
    </listeners>
  </trace>
  <sources>
    <source name="Default" switchValue="Error">
      <listeners>
        <add name="CaptureTraceMessages" />
      </listeners>
    </source>
    <source name="Orchard" switchValue="Error">
      <listeners>
        <add name="CaptureTraceMessages" />
      </listeners>
    </source>
    <source name="Orchard.Data.SessionLocator" switchValue="Error">
      <listeners>
        <add name="CaptureTraceMessages" />
      </listeners>
    </source>
    <source name="NHibernate.SQL" switchValue="Error">
      <listeners>
        <add name="CaptureTraceMessages" />
      </listeners>
    </source>
    <source name="Orchard.Mvc.ViewEngines.WebFormViewEngineProvider" switchValue="Error">
      <listeners>
        <add name="CaptureTraceMessages" />
      </listeners>
    </source>
  </sources>
  <sharedListeners>
    <add name="CaptureTraceMessages" type="Orchard.Specs.Hosting.HostingTraceListener, Orchard.Specs" initializeData=""  />
  </sharedListeners>
</system.diagnostics>
