<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>

  <autofac defaultAssembly="Orchard.Framework">
    <components>
        <component instance-scope="single-instance" type="Orchard.Environment.ApplicationEnvironment, Orchard.Framework" service="Orchard.Environment.IApplicationEnvironment, Orchard.Framework"></component>
      <!--<component instance-scope="single-instance" 
                 type="Orchard.Environment.Configuration.AzureBlobTenantManager"
                 service="Orchard.Environment.Configuration.IShellSettingsManager">
        <parameters>
          <parameter name="account" value="devstoreaccount1"/>
          <parameter name="key" value="Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw=="/>
          <parameter name="container" value="mycontainer"/>
        </parameters>
      </component>-->
      
    </components>
  </autofac>

</configuration>

