<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>

  <autofac defaultAssembly="Orchard.Framework">
    <components>
      
      <!--<component instance-scope="single-instance" 
                 type="Orchard.Specs.Hosting.TraceEnabledDataServicesProviderFactory, Orchard.Specs"
                 service="Orchard.Data.Providers.IDataServicesProviderFactory, Orchard.Framework"/>-->
      
    </components>
  </autofac>

</configuration>

