@model Orchard.ContentTypes.ViewModels.EditPartViewModel
<div class="summary">
    <div class="properties">
        <h3>@Model.DisplayName</h3>
    </div>
    <div class="related">
        @Display.ActionLink(Value: T("Edit"), Action: "EditPart", Area: "Orchard.ContentTypes", RouteValues: new { id = Model.Name})
    </div>
</div>