@model Orchard.ContentTypes.ViewModels.EditPartViewModel
<div class="summary">
    <span class="properties">
        <strong>@Model.DisplayName</strong>
        @if(!string.IsNullOrWhiteSpace(Model.Description)) {<span class="hint">@T(Model.Description)</span>}
    </span>
    <span class="pull-right">
        @Html.ActionLink(T("Edit").ToString(), "EditPart", new { area = "Orchard.ContentTypes", id = Model.Name })
    </span>
</div>