<div class="blog-post @Display(Model.Slug)">
    <h1 class="blog-post-title">@Html.TitleForPage((string)Model.Title)</h1>
    @if (Model.Meta != null) {
    <div class="meta">
        @Display(Model.Meta)
    </div>
    }
    <div class="content">
        @Display(Model.Content)
    </div>
</div>
