@model Orchard.ImportExport.ViewModels.ResetSiteViewModel
<fieldset>
    <div>
        @Html.CheckBoxFor(m => m.ResetSite)
        @Html.LabelFor(m => m.ResetSite, T("Reset Site").ToString(), new { @class = "forcheckbox" })
        @Html.Hint(T("Check this option to completely clean your site before importing the uploaded recipe."))
    </div>
</fieldset>