@using Orchard.DynamicForms.Elements
@using Orchard.Layouts.Helpers
@{
    var element = (Enumeration)Model.Element;
    var attributes = (IDictionary<string, object>)TagBuilderExtensions.GetCommonElementAttributes(Model);
    var name = String.IsNullOrWhiteSpace(element.Name) ? "SelectList1" : element.Name;
    var options = element.Options;
}
@if (element.ShowLabel) {
    <label for="@element.HtmlId">@Html.Raw(element.Label)</label>
}
@Html.DropDownList(name, options, attributes)