@using Orchard.DynamicForms.Elements
@using Orchard.Layouts.Helpers
@{
    var element = (PasswordField)Model.Element;
    var tagBuilder = TagBuilderExtensions.CreateElementTagBuilder(Model, "input");

    tagBuilder.AddCssClass("text design");
    tagBuilder.Attributes["type"] = "password";
    tagBuilder.Attributes["value"] = element.Value;
    tagBuilder.Attributes["name"] = element.Name;
    tagBuilder.Attributes["placeholder"] = element.Placeholder;
}

@if (element.ShowLabel) {
    <div>
        <label for="@element.HtmlId">@element.Label</label>
        @tagBuilder.ToHtmlString(TagRenderMode.SelfClosing)
    </div>
}
else {
    @tagBuilder.ToHtmlString(TagRenderMode.SelfClosing)
}