@model Orchard.Experimental.Models.ShowDebugLink
@if (Model.ContentItem.Id > 0) {
    <div class="debug message">
        @T("Experimental: editing {0}", Display.ActionLink(T("{0} #{1} v{2}", Model.ContentItem.ContentType, Model.ContentItem.Id, Model.ContentItem.Version), Action: "details", Controller: "content", Area: "Orchard.Experimental", RouteValues: new { Model.ContentItem.Id, Model.ContentItem.Version }))
    </div>
}