.audit-trail-filter {
    margin-bottom: 1em;
}

.audit-trail-list .info {
    line-height: 25px;
}

.audit-trail-list .event-content .version {
    font-size: 0.8em;
}

.audit-trail-event fieldset legend span {
    font-size: 0.8em;
}

.audit-trail-site-settings table th.event-name {
    width: 250px;
}

.audit-trail-site-settings table th.event-enabled {
    width: 60px;
}