.audit-trail-filter {
    margin-bottom: 1em;
}

    .audit-trail-filter fieldset label {
        display: inline-block;
        width: 10em;
    }

        .audit-trail-filter fieldset label.inline {
            display: inline;
            width: auto;
        }

.audit-trail-list .info {
    line-height: 25px;
}

.audit-trail-list .event-content .version {
    font-size: 0.8em;
}

.audit-trail-event fieldset legend span {
    font-size: 0.8em;
}

.audit-trail-site-settings table th.event-name {
    width: 250px;
}

.audit-trail-site-settings table th.event-enabled {
    width: 60px;
}

.content-disabled {
    position: relative;
}

.content-disabled .overlay {
    position: absolute;
    left: -24px;
    top: -16px;
    right: -24px;
    bottom: -28px;
    background: url('overlay.png');
}

.content-disabled .edit-item-secondary,
.content-disabled .audit-trail.expando-wrapper,
.content-disabled .audit-trail-link {
    display: none;
}