@using Orchard.AntiSpam.Models

@{
    SpamFilterPart part = Model.ContentPart;
}

<ul class="action-links">
    <li class="action-link">
        @if (Model.ContentPart.Status == SpamStatus.Spam) {
            @Html.Link(@T("Not Spam").Text, Url.Action("ReportHam", "Admin", new {area = "Orchard.AntiSpam", part.Id, returnUrl = Request.RawUrl }), new {itemprop = "UnsafeUrl"})
        }
        else {
            @Html.Link(@T("Spam").Text, Url.Action("ReportSpam", "Admin", new {area = "Orchard.AntiSpam", part.Id, returnUrl = Request.RawUrl }), new {itemprop = "UnsafeUrl"})
        }
    </li>
</ul>