@using Orchard.Blogs.Models;
@{
    Html.AddTitleParts((string)Model.Title);
    BlogPostPart blogPost = Model.ContentItem.Get(typeof(BlogPostPart));
}
<div class="sections">
    <div class="primary">
@Display(Model.primary)
    </div>
    <div class="secondary">
@Display(Model.secondary)
        <fieldset>
            <input class="button primaryAction" type="submit" name="submit.Save" value="@T("Save")"/>
            @//TODO: (erikpo) In the future, remove the HasPublished check so the user can delete the content item from here if the choose to
            @if (blogPost.HasDraft && blogPost.HasPublished) {
            @Html.AntiForgeryTokenValueOrchardLink(T("Discard Draft").ToString(), Url.Action("DiscardDraft", new {Area = "Orchard.Blogs", Controller = "BlogPostAdmin", id = Model.Item.Id}), new {@class = "button"})
            }
        </fieldset>
    </div>
</div>