@model Orchard.Layouts.ViewModels.EditElementBlueprintViewModel
@{
    Layout.Title = T("Edit Element based on {0}", Model.BaseElement.DisplayText);
}
<div class="panel panel-default">
    @using (Html.BeginFormAntiForgeryPost()) {
        <div class="panel-body">
            @Html.Partial("ElementBlueprintEditor", Model, ViewData)
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> @T("Save")</button>
            <a class="btn btn-default" href="@Url.Action("Index", "BlueprintAdmin", new { area = "Orchard.Layouts" })"><i class="fa fa-chevron-left" aria-hidden="true"></i> @T("Back")</a>
        </div>
    }
</div>