@model Orchard.Layouts.ViewModels.EditElementBlueprintViewModel
@{
    Layout.Title = T("Edit Element based on {0}", Model.BaseElement.DisplayText);
}
<div class="panel panel-default">
    @using (Html.BeginFormAntiForgeryPost()) {
        <div class="panel-body">
            @Html.Partial("ElementBlueprintEditor", Model, ViewData)
            <button type="submit">@T("Save")</button>
            @Html.ActionLink(T("Back").Text, "Index", "BlueprintAdmin", new { area = "Orchard.Layouts" }, new { @class = "button" })
        </div>
    }
</div>