@model Orchard.Core.Navigation.Settings.AdminMenuPartTypeSettings
    <fieldset>
        <label for="@Html.FieldIdFor(m => m.DefaultPosition)">@T("Default Position")</label>
        @Html.EditorFor(m => m.DefaultPosition)
        @Html.ValidationMessageFor(m => m.DefaultPosition)
    </fieldset>