@model Orchard.Core.Navigation.Settings.AdminMenuPartTypeSettings
    <fieldset>
        <label for="@Html.FieldIdFor(m => m.DefaultPosition)">@T("Default Position")</label>
        @Html.TextBoxFor(m => m.DefaultPosition, new { @class = "text medium" })
        @Html.ValidationMessageFor(m => m.DefaultPosition)
    </fieldset>