@model Orchard.Layouts.Settings.ContentPartLayoutSettings
<fieldset>
    @Html.CheckBoxFor(m => m.Placeable)
    <label for="@Html.FieldIdFor(m => m.Placeable)" class="forcheckbox">@T("Placeable")</label>
    <span class="hint">@T("Check to allow this part to be placeable on a layout.")</span> 
</fieldset>