@model Orchard.Layouts.Settings.ContentPartLayoutSettings
<div class="form-group">
    <div class="am-checkbox inline">
        @Html.CheckBoxFor(m => m.Placeable)
        <label for="@Html.FieldIdFor(m => m.Placeable)" class="forcheckbox">@T("Placeable")</label>
    </div>
    <span class="help-block">@T("Check to allow this part to be placeable on a layout.")</span>
</div>