@model Orchard.Layouts.Settings.LayoutPartSettings
<fieldset>
    <label for="@Html.FieldIdFor(m => m.FlavorDefault)">@T("Default Text Flavor")</label>
    @Html.EditorFor(m => m.FlavorDefault)
    @Html.ValidationMessageFor(m => m.FlavorDefault)
</fieldset>