/*Blog specific styles
----------------------------------------------------------*/

.meta, .manage, .posted, div.comment {
    margin: 8px 0;
    font:80% Verdana, Geneva, Tahoma, sans-serif;
}

.meta, .manage {
    float:right;
}

.blogdescription, .postsummary {
    clear:both;
    }
