/*Blog specific styles
----------------------------------------------------------*/

.posted {
    margin: 8px 0;
    font-size:105%;
    font-weight:600;
}

.meta, .manage {
    font-size:105%;
    float:right;
    margin:-23px 0 0 0;
}

.blogdescription, .postsummary {
    clear:both;
    }
   
div.comment {
    margin: 16px 0 8px 0;
}
    
span.who {
    font-weight:600;
    font-size:105%;
 }
 
 .text {
    border-bottom:1px dotted #e5e5e5;
 }
