/*Blog specific styles
----------------------------------------------------------*/

h3.blogs, h3.blog {
    display:block;
    border-bottom:1px solid #f1f1f1;
}

ul.blogs p {
    clear:both;
}

.post {
	margin: -8px 0 12px 0px;
}

.postsummary {
	border-bottom:1px dotted #f1f1f1;
}

.meta {
	font-style:italic;
	color:#666666;
}

.tagCloud {
    font-style:italic;
    font-size:120%;
}

.tagCloud li {
    display: block;
    float:left;
    padding:20px 10px 0 0;
}

