/*Yahoo browser reset
----------------------------------------------------------*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,
blockquote,th,td {margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
ol,ul { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
abbr,acronym { border:0; }
q:before,q:after {content:'';}
abbr,acronym { border:0;}

/*Defaults
----------------------------------------------------------*/

html {height: 100%;}

body {
	font: normal 62.5% "Georgia", Times New Roman, Times, serif; /* 62.5% sets font to 10px */
	height: 100%;
	text-align:left;
	color:#373737;
	background:#f7f7f7;
}

/* ---------- Headings and defaults ---------- */

h1,h2,h3,h4,h5,h6,legend {font-weight:normal; font-style: normal; margin:.2em 0;}

h1 { font-size:2.6em; } /* 26px */
h2 { font-size:2.4em; } /* 24px */
h3 { font-size:2.2em; } /* 22px */
h4 { font-size:2.0em; } /* 20px */
h5 { font-size:1.8em; } /* 18px */
h6 { font-size:1.6em; } /* 16px */

h1.sitename {border-bottom:none;}

p {font-size:1.4em; line-height:2em; margin:1.2em 0 1.2em 0;}
p.small {font-size:1.2em;}

a {color:#004386; text-decoration:none;}     /* unvisited link */
a:active {color: #004386;}   /* selected link */
a:visited {color: #004386;}  /* visited link */
a:hover {color: #087df3;}   /* mouse over link */

#content a:hover, #sidebar a:hover {text-decoration:underline;}

ul.square {font-size:1.4em; list-style:square; list-style-position:inside; line-height:2em; margin:0 0 0 1.2em;}
ol.decimal {font-size:1.4em; list-style:decimal; list-style-position:inside; line-height:2em; margin:0 0 0 1.2em;}


/* Forms
----------------------------------------------------------*/

input[type="text"], #CommentText, #password, #confirmPassword {
    border:1px solid #cacec6;
    display: block;
    padding:3px;
    width:90%;
}
form.search {
    margin-bottom:2em;
}
.search input[type=text] {
    display:inline;
    width:17em;
}
fieldset div {margin:1.6em 0 0 0}
    
legend {
	font-size: 1.8em;
	border:none;
}

label {
    font-size: 1.4em;
    display: block;
    margin:0 0 .1em 0;
    }

input[type="checkbox"] {
    margin:.2em 0 2em 1em;
}

input[type="submit"], input[type="button"], .button {
	font: normal 1.4em "Georgia", Times New Roman, Times, serif;
	color:#333;
    padding:2px 14px;
    display: block;
    margin:.2em 0 2em 0;
    font-weight:600;
    }
  
.forcheckbox {
    margin:0 0 0 .4em;
    display:inline;
}


/* Tables
----------------------------------------------------------*/
table {
    font:1.2em Verdana, Geneva, Tahoma, sans-serif;
	background:#fff;
	border:1px solid #f1f1f1;
	border-collapse:collapse;
	width:100%;
}

table thead, table th {
	overflow:hidden;
	text-align:left;
}

table th {
	background-color:#69625e;
	color:#f1f1f1;
	}
	
table caption {
	padding:8px 0;
	text-indent:0;
}

table col {
	display:table-column;
}

table colgroup {
	display:table-column-group;
	}

table tbody {
	vertical-align:middle;
	}


th, td {
	font:1em Verdana, Geneva, Tahoma, sans-serif;
	padding:6px;
	}

td.even {
	background-color:#f1f1f1;
}

/* Layout
----------------------------------------------------------*/

#headercontainer {
	border:2px solid #69625e;
	border-left:0;
	border-right:0;
	margin:0 auto;
	width:930px;
}

#header {
	border:1px solid #69625e;
	border-left:0;
	border-right:0;
	margin:.3em 0 .3em 0;
	}

#header h1 {
	font-size:3.2em;
	color:#333;
	border:0;
	margin:0 0 0 .8em;
	padding:10px 0;
	float:left;
}


#logindisplay {
    font-size:1.4em;
	margin:1em auto;
	text-align:right;
	width: 930px;
}

#wrapper {
	width:985px;
	display:block;
	margin:0px auto 10px auto;
	background:#fff;
	border:1px solid #f1f1f1;
}

#main {
	margin:0 0 0 2.7em;
	width:930px;
	background:url(../Content/Images/sidebarBackground.gif) no-repeat right top #fff;
}


#content {
	float:left;
	margin:2.6em 0 0 2.7em;
	width:520px;
	min-height:555px;
}

#sidebar {
	float:right;
	margin:2.8em 0 0 0;
	width:325px;
}

#sidebar h3 {
	border-bottom:1px dotted #666;
	font-size: 2.0em;
}

#footercontainer {
	clear:both;
	border-top:2px solid #69625e;
	width:930px;
	margin:1.8em 0 .6em 0;
}

#footer {
	border-top:1px solid #69625e;
	margin-top:.3em;
}

#footer a{
	text-transform:uppercase;
}

/* Navigation
----------------------------------------------------------*/

.menucontainer {
	display:block;
	float:right;
	margin-top:1.3em;
}

.menucontainer ul, #footer ul {
	list-style:none
}

.menucontainer ul li {
	margin:.8em 0 0 0;
	float:left;
	}

.menucontainer ul li a {
    font-size:1.4em;
	margin:0 1.8em 0 1.8em;
	display:block;
	text-decoration:none;
	text-transform:uppercase;
	float:left;
}

#footer .menucontainer {
	margin:0px;
}

#footer .menucontainer ul li {
	margin:1.2em 0;
}

/* Confirmations, Messages and the like
----------------------------------------------------------*/
.message, .validation-summary-errors {
    font-size:1.4em;
	margin:1em 0 .4em 0;
    padding:4px;
}
span.message {
    display:block;
	margin:.4em 0 .4em .4em;
}
.message a {
    font-weight:bold;
}

.confirmation.message {
	background:#e6f1c9; /* green */
	border:1px solid #cfe493;
}
.warning.message {
	background:#fdf5bc; /* yellow */
	border:1px solid #ffea9b;
}
.critical.message, .validation-summary-errors,
.input-validation-error.text-box, .input-validation-error.text {
	border:1px solid #990808;
}
.critical.message, .validation-summary-errors {
	background:#e68585; /* red */
	color:#fff;
}
.inf.message {
    background:#e6f1c9; /* green*/
	border:1px solid #d4deb9;
	color:#062232;
}
.debug.message {
    background:#eee;
	border:1px dashed #D2D6C6;
	color:#7a7a7a;
	margin:2em 0 1.4em 0;
}
.debug.message:before {
    content:"DEBUG » ";
}

/* Localization
-------------------------------------------------------------- */
.content-localization .content-localizations h4 {
    margin:0;
    vertical-align:top;
}
.content-localization .content-localizations ul {
    overflow: auto;
}
.content-localization .content-localizations li {
    border-bottom: 1px;
    margin:0 0 0 .4em;
    padding: .2em .4em;
    border: 1px solid #CCC;
}
.content-localization .content-localizations li:hover {
    background-color: #ebebeb;
}
.content-localization .content-localizations li a {
    text-decoration: none;
}
.content-localization .content-localizations li a:hover, .content-localization .content-localizations li a:visited {
    text-decoration: none;
}


/* Misc classes
-------------------------------------------------------------- */
.clearBoth {
	clear:both;
}

/* ---------- Tags and Comments ---------- */
.tags, .comment {
	font-style:italic;
	color:#666666;
}

/* ---------- Hide the edit link for blogs hack ---------- */
.manage {
    display:none;
}