@{
    Model.ContentItems.Classes.Add("content-items");
    Model.ContentItems.Classes.Add("blogs");
}
@Display(Model.ContentItems)
@if (Model.ContentItems.Items.Count < 1) {
<div class="panel panel-default">
    <div class="panel-body">
        <h3 class="no-content">@T("No blogs found.")</h3>
    </div>
</div>
}