/*button[title="Disable"], button[title="Enable"]
{
    display:none;
}*/
#currentTheme .themePreviewImage {
    float: left;
    margin-right: 20px;
}
#installedBar {
    clear: both;
    border-bottom:1px solid #E4E5E6;
    height: 36px;
    margin: 10px 0 10px 0;
}
#installedBar h3 {
    float: left;
}
#installedBar a {
    float: right;
    padding-top: 10px;
}
.templates li {
    margin:.8em;
    width:30%;
    display: -moz-inline-stack;
    display:inline-block;
    vertical-align:top;
    zoom:1;
    *display: inline;
}
.templates p {
    overflow:hidden;
}
.templates img, .themePreviewImage {
    border:1px solid #e8e8e8;
    height:200px;
    margin:.27em 0 .93em 0;
    display:block;
}
.previewImage {
    border:1px solid #525e50;
    height:50%;
    width:50%;
}
.themes #main h2 {
    margin:1em 0 0 0;
}
.themePreviewImage {
    height:300px;
}
#main .themeInfo {margin:12px 0 0 0;}
/***Recently installed**/
.recentlyInstalledTheme { }
.recentlyInstalledTheme {background:#fff url(images/new.gif) no-repeat 0px 5px;}
h3.recentlyInstalledTheme {padding:0 0 0 40px;}