html.dyn label.forpicker {
    display:none;
}
/* todo: (heskew) let themes take care of this */
html.dyn input.hinted {
    color:#ccc;
    font-style:italic;
}
input#CommonAspect_ScheduledPublishUtcDate {
    width:56%;
}
input#CommonAspect_ScheduledPublishUtcTime {
    width:36%;
}