<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net452" />
  <package id="FluentNHibernate" version="2.0.3.0" targetFramework="net452" />
  <package id="Glimpse" version="1.8.6" targetFramework="net452" />
  <package id="Glimpse.Ado" version="1.7.3" targetFramework="net452" />
  <package id="Glimpse.AspNet" version="1.9.2" targetFramework="net452" />
  <package id="Glimpse.Mvc5" version="1.5.3" targetFramework="net452" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="NHibernate" version="4.0.1.4000" targetFramework="net452" />
</packages>