@model Orchard.Messaging.ViewModels.MessageQueueViewModel
@{
    Layout.Title = T("Edit Queue");
    var backUrl = !String.IsNullOrWhiteSpace(Model.ReturnUrl) ? Model.ReturnUrl : Url.Action("Index");
}
@using (Html.BeginFormAntiForgeryPost()) {
    @Html.EditorForModel()
    <button type="submit">@T("Save")</button>
    <a class="button" href="@backUrl">@T("Back")</a>
}