<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="Orchard.Tests.Logging.Thing" switchValue="Warning">
        <listeners>
          <add name="loopback" type="Orchard.Tests.Logging.InMemoryCapture,Orchard.Tests"  />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
