<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="Orchard.Tests.Logging.Thing" switchValue="Warning">
        <listeners>
          <add name="loopback" type="Orchard.Tests.Logging.InMemoryCapture,Orchard.Framework.Tests"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
