<div class="sections">
    <div class="primary">
        @Display(Model.Primary)
    </div>
    <div class="secondary">
        @Display(Model.Secondary)
        <fieldset>
            <button class="primaryAction" type="submit" name="submit.Save" value="submit.Save">@T("Save")</button>
        </fieldset>
    </div>
</div>