@{
    //home page content - should fall back to items/content so this template is optional (e.g. in a theme)
}
<article>
    <header>
@Display(Model.Header)
    </header>
    <section>
@Display(Model.primary)
    </section>
</article>