.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(../Content/Admin/Images/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-button-row 
{
    position: relative; 
    margin: 10px 5px 5px 5px;
    padding: 0;  
    height: 20px;
}

.wmd-input {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    padding: 3px;
    line-height: 1.2;
}

#main .wmd-editor-box textarea.wmd-input {
    display:block;
    margin-bottom: 0;
    width: 97%;
    min-width: 400px;
    height: 80%;
    resize: horizontal;
}

.wmd-box {
    display: table;
    position: relative;
    height: 400px;
    width: 99%;
}
.wmd-innerbox {
    height: 100%;
    display: table-row;
}
.wmd-editor-box {
    width: 49%;
    display: table-cell;
    height: 100%;
    vertical-align: top;
}
.wmd-preview-box {
    width: 49%;
    display: table-cell;
    padding: 0;
    height: 100%;
    vertical-align: top;
}

.wmd-preview  {
    border: 2px dotted #CCC;
    padding: 3px;
    margin-top: 34px;
    height: 80%;
    overflow-x: auto;
    overflow-y: scroll;
}

.wmd-preview ol {
    list-style: decimal;
    margin-left: 15px;
}

.wmd-preview ul {
    list-style: disc;
    margin-left: 15px;
}

.wmd-preview blockquote {
    margin: 1em 3em;
	color: #333;
	border-left: 2px solid #999;
	padding-left: 1em;
}

.wmd-preview pre, .wmd-preview code {
    margin: 1em 3em;
	color: #333;
	border-left: 2px solid #999;
	padding-left: 1em;
    font-family: Courier New;
}

.wmd-preview pre code {
    border: none;
    margin-left: 0;
    padding-left: 0;
}


.wmd-preview p code {
    border: none;
    margin: 0;
    padding: 0;
}

.wmd-prompt-dialog {
border: solid 1px #ccc;
background-color: white;
}

/* Grippie */

div.grippie {
    background:#EEEEEE url(../Content/Admin/Images/grippie.png) no-repeat scroll center 2px;
    border-color:#DDDDDD;
    border-style:solid;
    border-width: 0 1px 1px;
    cursor:s-resize;
    height:9px;
    margin-top: 9px;
    overflow:hidden;
}
