<h1>@Html.TitleForPage(T("Experimental").ToString())</h1>
<p>@Display.ActionLink(Value: T("Contents")), Action: "Index", Controller: "Content")</p>
<p>@Display.ActionLink(Value: T("Metadata")), Action: "Index", Controller: "Metadata")</p>
<p>@Display.ActionLink(Value: T("Test Unauthorized Request")), Action: "NotAuthorized", Controller: "Home")</p>