<h1>@Html.TitleForPage(T("Experimental").ToString())</h1>
<p>@Html.ActionLink(T("Contents").ToString(), "Index", "Content")</p>
<p>@Html.ActionLink(T("Metadata").ToString(), "Index", "Metadata")</p>
<p>@Html.ActionLink(T("Test Unauthorized Request").ToString(), "NotAuthorized", "Home")</p>