<div id="shape-tracing-container"> 
    <div id="shape-tracing-resize-handle" ></div>
    <div id="shape-tracing-toolbar">
        <div id="shape-tracing-toolbar-switch"></div>
    </div>
    <div id="shape-tracing-window">
        <div id="shape-tracing-window-tree"></div>
        <div id="shape-tracing-window-content">
            <ul id="shape-tracing-tabs">
                <li id="shape-tracing-tabs-shape" class="selected first">Shape</li>
                <li id="shape-tracing-tabs-model" class="middle">Model</li>
                <li id="shape-tracing-tabs-placement" class="middle">Placement</li>
                <li id="shape-tracing-tabs-template" class="middle">Template</li>
                <li id="shape-tracing-tabs-html" class="last">HTML</li>
            </ul>
            <div id="shape-tracing-breadcrumb"></div>
            <div id="shape-tracing-meta-content"></div>
        </div>
    </div>
</div>
<div id="shape-tracing-container-ghost"></div>
<div id="shape-tracing-overlay"></div>

<script id="shape-tracing-tabs-shape-template" type="text/x-jquery-tmpl">
    <div class="shape grid-display">
        <ul class="properties">
            <li class="sgd-s"><div class="name">Shape</div><div class="value">${shape.type}</div></li>
            <li class="sgd-t"><div class="name">Template</div><div class="value"><a href="#">${shape.template}</a></div></li>
            <li class="sgd-ot"><div class="name">Original Template</div><div class="value">${shape.originalTemplate}</div></li>
            <li class="sgd-d"><div class="name">Display Type</div><div class="value">${shape.displayType}</div></li>
            <li class="sgd-a"><div class="name">Alternates (${shape.alternates.length})</div>
                <div class="value">&nbsp;</div>
                <ul>
                {{each shape.alternates}}
                    <li>
                        <div class="name">
                        @using (Html.BeginFormAntiForgeryPost(Url.Action("Create", "Alternate", new { Area = "Orchard.DesignerTools" }), FormMethod.Post, new { @class = "inline link" }))
                        { 
                            @Html.Hidden("Alternate", "${$value.alternate}")
                            @Html.Hidden("Template", "${$value.template}")
                            @Html.Hidden("ReturnUrl", "${$value.returnUrl}")
                            <button type="submit" class="create-template">@T("Create").Text</button>
                        }
                        </div>
                        <div class="value">${$value.filename}</div>
                    </li>
                {{/each}}
                </ul>
            </li>
            <li class="sgd-w"><div class="name">Wrappers (${shape.wrappers.length})</div>
                <div class="value">&nbsp;</div>
                <ul>
                {{each shape.wrappers}}
                    <li><div class="name">&nbsp;</div><div class="value">${$value.filename}</div></li>
                {{/each}}
                </ul>
            </li>
        </ul>
    </div>
</script>

<script id="shape-tracing-tabs-placement-template" type="text/x-jquery-tmpl">
    <div class="placement">
        <textarea>${$data}</textarea>
    </div>
</script>

<script id="shape-tracing-tabs-template-template" type="text/x-jquery-tmpl">
    <div class="template">
        <textarea>${$data}</textarea>
    </div>
</script>

<script id="shape-tracing-tabs-html-template" type="text/x-jquery-tmpl">
    <div class="html">
        <textarea>${$data}</textarea>
    </div>
</script>
