h2 {
	margin-top: 1em !important;
}

#test-button, #save-button {
	margin-top: 1em;
}

#presets-table {
	width: auto;
	th:nth-child(1), th:nth-child(4), td:nth-child(1), td:nth-child(4) {
		text-align: center;
	}
	td:nth-child(2) {
		width: 400px; 
	}
}

#languages-table {
	width: auto;
	th:nth-child(2), td:nth-child(2) {
		text-align: center;
	}
	/*td:nth-child(2) {
		width: 400px;
	}*/
}
