html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
}
.upload-direct,
.upload-proxied {
  display: none;
}
.upload-direct .sync-upload-input,
.upload-proxied .sync-upload-input,
.upload-direct .async-upload-input,
.upload-proxied .async-upload-input {
  display: block;
}
.upload-direct .progress-bar,
.upload-proxied .progress-bar,
.upload-direct .progress-text,
.upload-proxied .progress-text,
.upload-direct .validation-text,
.upload-proxied .validation-text,
.upload-direct .cancel-upload,
.upload-proxied .cancel-upload {
  display: none;
}
.upload-direct .progress-bar,
.upload-proxied .progress-bar {
  float: left;
  margin-top: 4px;
  margin-right: 10px;
}
.upload-direct .validation-text,
.upload-proxied .validation-text {
  color: #d8551b;
}
.upload-direct .subtitle-label,
.upload-proxied .subtitle-label {
  display: inline;
  margin-right: 4px;
}
.warning:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  content: '\f06a';
  font-size: 14px;
  color: black;
  padding-right: 5px;
}
.media-library-modal-window #layout-main {
  height: auto;
  padding: 0;
  margin: 0;
}
.media-library-modal-window #header {
  display: block;
  background: none;
  margin: 0;
}
.media-library-modal-window #page-title {
  padding: 14px 0 0 20px;
}
.media-library-modal-window #local-navigation,
.media-library-modal-window #branding,
.media-library-modal-window #login {
  display: none;
}
.blockMsg {
  left: 0 !important;
}
.edit-item-sidebar {
  margin-bottom: 30px;
}
.status {
  display: none;
}
.status.preparing,
.status.cleanup {
  padding-left: 23px;
  background: url('../Images/Loader1.gif') no-repeat;
}
.status.uploaded {
  color: #809f43;
}
