@orchard-green: #809f43;

.progress-bar {
    width: 180px;
    height: 1em;
    background-color: lighten(@orchard-green, 40%);
}

.progress {
    height: 1em;
    background-color: @orchard-green;
    width: 0;
}
