@using Orchard.Core.Contents;
@using Orchard.Localization.Models;
@if (AuthorizedFor(Permissions.PublishContent)) {
Style.Require("LocalizationAdmin");
IEnumerable<LocalizationPart> localizations = Model.Localizations;
<div class="content-localization">
    @if (localizations.Count() > 0) {
        var links = localizations.Select(c => Display.EditorLink(ContentItem: c, Value: c.Culture.Culture));
    <div class="content-localizations"><h4>@T("Translations:")</h4>@Display.List(Items: links, Classes: "localizations")</div>
    }
</div>
}