@media @desktop {
    .pull-right-lg {
        float: right !important;
    }
}@media @laptop {
    .pull-right-md {
        float: right !important;
    }
}
@media @tablet {
    .pull-right-sm {
        float: right !important;
    }
}
@media @phone {
    .pull-right-xs {
        float: right !important;
    }
}