/*------------------------------------------------------------------
	[Tokens widget]
*/
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    width: 40vw;

    a{
        cursor: pointer;
    }

    .row > div{
        white-space: normal;
    }
}