.pageList {
     margin:0;
     padding:0;
     /*background:#FFFFFF url(images/backgroundGradient.gif) repeat-x scroll left top;*/
}
.orchard-pages .contentItems {
     margin:.5em 0 0;
     padding:0;
 }
.contentItems .properties ul {
    margin:0.8em 0 0 2em;
}    
.contentItems .properties ul li {
    margin:0;
    padding:0 0 .1em 0;
}
.properties h3 {
    display:inline;
}