.navicon-page {
background-image:url(images/menu.page.png) !important;
}
.navicon-page:hover {
background-position:0 -30px !important;
}
/* subnav */
ul ul .navicon-page { 
background-position:0 6px !important;
padding-left:20px !important;
}
ul ul .navicon-page:hover {
background-position:0 -26px !important;
}