@model Orchard.Core.Common.DateEditor.DateEditorSettings
<div class="form-group">
    <div class="am-checkbox">
        @Html.EditorFor(m => m.ShowDateEditor)
        <label for="@Html.FieldIdFor(m => m.ShowDateEditor)" class="forcheckbox">@T("Show editor for creation date time")</label>
    </div>
</div>
