@model Orchard.Core.Common.OwnerEditor.OwnerEditorSettings
<div class="form-group">
    <div class="am-checkbox">
        @Html.EditorFor(m => m.ShowOwnerEditor)
        <label for="@Html.FieldIdFor(m => m.ShowOwnerEditor)" class="forcheckbox">@T("Show editor for owner")</label>
    </div>
</div>