<div class="item-properties actions">
  <p>
    @Display.ActionLink(Value: T("{0} Properties", (string)Model.ContainerContentType), Action: "Edit", Area: "Contents", RouteValues: new { Id = (int)Model.ContainerId, ReturnUrl: Html.ViewContext.HttpContext.Request.RawUrl })
  </p>
</div>