<?xml version="1.0"?>

<configuration>
	<system.web>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="System.Linq"/>
				<add namespace="System.Collections.Generic"/>
				<add namespace="Orchard.Mvc.Html"/>
			</namespaces>
		</pages>
	</system.web>
	<system.web.extensions/>
</configuration>
