html.dyn label.forpicker {
    display:none;
}
/* todo: (heskew) let themes take care of this */
html.dyn input.hinted {
    color:#ccc;
    font-style:italic;
}
input#ArchiveLater_ScheduledArchiveDate {
    width:10em;
}
input#ArchiveLater_ScheduledArchiveTime {
    width:7em;
}

.edit-item-sidebar fieldset.archive-later-datetime {
    float:left;
    padding:0 0 8px 0;
}
fieldset.archive-later-datetime input {
    padding:1px;
    text-align:center;
    color:#666;
}