@using Orchard.Utility.Extensions

@{
    string name = Model.Name;
    string isEventClass = Model.IsEvent ? "event" : null;
    string canStartClass = Model.CanStartWorkflow ? "canStart" : null;
}

<div class="@isEventClass @canStartClass">
    @name.CamelFriendly()
</div>

