@using Orchard.Utility.Extensions

@{
    string name = Model.Name;
    bool blocking = Model.IsBlocking;
    string blockingClass = blocking ? "blocking" : null;
}

<div class="@blockingClass">
    @name.CamelFriendly()
</div>

