@using Orchard.Utility.Extensions

@{
    string name = Model.Name;
}

<div title="@Model.State.Message">
    @name.CamelFriendly() 
    @if (Model.State.Notification != null) {
        @:- @Model.State.Notification
    }
    
</div>
