@using Orchard.Utility.Extensions

@{
    string name = Model.Name;
    bool blocking = Model.IsBlocking;
}

<div class="@blocking" title="@Model.State.Roles">
    <div class="isinrole" ></div>
    @*@name.CamelFriendly()*@
</div>

