@using Orchard.Utility.Extensions

@{
    string name = Model.Name;
    bool blocking = Model.IsBlocking;
}

<div class="@blocking">
    <div class="diamond"></div>
    @*@name.CamelFriendly()*@
</div>

