@using Orchard.Utility.Extensions

@{
    string name = Model.Name;
    bool blocking = Model.IsBlocking;
    string blockingClass = blocking ? "blocking" : null;
}

<div class="activity @blockingClass" style="background-color: pink">
    @name.CamelFriendly()
</div>
