﻿@using Orchard.ContentManagement
@{
    GroupInfo groupInfo = Model.GroupInfo;
    Layout.Title = (groupInfo != null ? T("Manage Settings for {0}", groupInfo.Name) : T("Manage Settings")).ToString();
}

@using (Html.BeginFormAntiForgeryPost()) {
    @Html.ValidationSummary()
    @Display(Model.Content)
    <fieldset>
        <button class="primaryAction" type="submit">@T("Save")</button>
    </fieldset>
}