﻿@using Orchard.ContentManagement
@{
    Layout.Title = T("Settings").ToString();
}

<div class="panel panel-default ">
    <div class="panel-body">
        @using (Html.BeginFormAntiForgeryPost()) {
            @Html.ValidationSummary()
            @Display(Model.Content)
            <hr />
            <fieldset>
                <button class="btn btn-primary" type="submit">@T("Save")</button>
            </fieldset>
        }
    </div>
</div>