@using Orchard.Core.Settings.Helpers
@{
    Layout.Title = T("Settings").ToString();
    Html.AdminBreadcrumbs();
}

@using (Html.BeginFormAntiForgeryPost()) {
<div class="panel panel-default ">
    <div class="panel-body">
            @Html.ValidationSummary()
            @Display(Model.Content)
    </div>
    <div class="panel-footer">
        <button class="btn btn-primary" type="submit">@T("Save")</button>
    </div>
</div>
}