@{
  // odd formatting in this file is to cause more attractive results in the output.
  var items = (IEnumerable<dynamic>)Enumerable.Cast<dynamic>(Model);
}
<li><a href="@Model.Href">@Model.Text</a>@{ if (items.Any()) {
<ul>
  @foreach(var item in Model) {@Display(item);}
</ul>}}
</li>
