<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentNHibernate" version="2.0.3.0" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net452" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Data.Edm" version="5.8.4" targetFramework="net452" />
  <package id="Microsoft.Data.OData" version="5.8.4" targetFramework="net452" />
  <package id="Microsoft.Data.Services.Client" version="5.8.4" targetFramework="net452" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="NHibernate" version="4.0.1.4000" targetFramework="net452" />
  <package id="Orchard.WindowsAzure.Diagnostics" version="2.7.0.0" targetFramework="net452" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.206221351" targetFramework="net452" />
  <package id="System.Spatial" version="5.8.4" targetFramework="net452" />
  <package id="TransientFaultHandling.Core" version="5.1.1209.1" targetFramework="net452" />
  <package id="windowsazure.mediaservices" version="3.4.0.0" targetFramework="net452" />
  <package id="WindowsAzure.Storage" version="5.0.2" targetFramework="net452" />
</packages>