<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentNHibernate" version="1.4.0.0" targetFramework="net451" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net451" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
  <package id="NHibernate" version="4.0.1.4000" targetFramework="net451" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net451" />
</packages>