<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="RazorGenerator.Mvc" version="2.4.2" targetFramework="net461" />
  <package id="RazorGenerator.Templating" version="2.3.11" targetFramework="net461" />
  <package id="WebActivatorEx" version="2.0.3" targetFramework="net461" />
</packages>