@model Orchard.Comments.ViewModels.CommentCountViewModel
@using Orchard.Comments.ViewModels;
@using Orchard.Comments.Extensions;

<span class="commentcount">@Html.CommentSummaryLinks(T, Model.Item, Model.CommentCount, Model.PendingCount)</span>
