@using Orchard.Comments.Models;
@using Orchard.Comments.Extensions;
@using Orchard.Comments.ViewModels;
@using Orchard.ContentManagement;
<span class="commentcount">@Html.CommentSummaryLinks(T, (ContentItem)Model.ContentPart.ContentItem, (int)Model.CommentCount, (int)Model.PendingCount)</span>