.content-localization {
    overflow:auto;
}
.content-localization .content-localizations,
.content-localization .add-localization {
    clear:right;
    float:right;
}
.content-localization .content-localizations li,
.content-localization .add-localization {
    font-size:1.2em;
}
.content-localization .content-localizations {
    font-size:.9em;
}
.content-localization .content-localizations>* {
    display:inline;
}

/*

Removing the commas put in by the system by default and various other styling elements and putting the responsibility into the themes. [mibach]

.content-localization .content-localizations li {
    border-bottom:0;
    display:inline;
    margin-left:.5em;
    padding:0;
}

.content-localization .content-localizations li::after {
    content:", ";
}
.content-localization .content-localizations li:last-child::after {
    content:"";
}
*/