@using Orchard.Utility.Extensions;

@{
    var viewModel = Model.Model as DateTimeFieldViewModel;

    if (!viewModel.Value.HasValue)
    {
        return;
    }

    string name = Model.ContentField.DisplayName;
}
<p class="date-time-field date-time-field-@name.HtmlClassify()">
    <span class="name">@name.CamelFriendly():</span>
    <span class="value">@if (viewModel.Editor.ShowDate) {<text>@viewModel.Editor.Date</text>} @if (viewModel.Editor.ShowTime) {<text>@viewModel.Editor.Time</text>}</span>
</p>
