@using Orchard.Utility.Extensions;

@{
    string name = Model.ContentField.DisplayName;
}
<p class="date-time-field date-time-field-@name.HtmlClassify()">
    <span class="name">@name.CamelFriendly():</span>
    <span class="value">@if (Model.Model.Editor.ShowDate) {<text>@Model.Model.Editor.Date</text>} @if (Model.Model.Editor.ShowTime) {<text>@Model.Model.Editor.Time</text>}</span>
</p>
