@using Orchard.Utility.Extensions;
@using System.Linq;
@{
    string valueToDisplay = string.Empty;
    string[] selectedValues = Model.ContentField.SelectedValues;
    if (selectedValues != null) {
        string valueFormat = T("{0}").ToString();
        string[] translatedValues = selectedValues.Select(v => string.Format(valueFormat, T(v).Text)).ToArray();
        string separator = T(", ").ToString();
        valueToDisplay = string.Join(separator, translatedValues);
    }
    if (!string.IsNullOrEmpty(valueToDisplay)) {
        string name = Model.ContentField.DisplayName;
    <p class="enumeration-field enumeration-field-@name.HtmlClassify()">
        <span class="name">@name:</span>
        <span class="value">@Html.Raw(valueToDisplay)</span>
    </p>
    
    }
}