@{
    string value = (string)Model.ContentField.Value;
    if (!string.IsNullOrEmpty(value)) {
        string name = Model.ContentField.DisplayName;
    <p class="text-field">@T.Encode(name): @value</p>
    }
}
