@model BodyEditorViewModel
@using Orchard.Core.Common.ViewModels;
<fieldset>
    <label>@T("Body")</label>
    @Display.Body_Editor(Model)
    @Html.ValidationMessageFor(m => m.Text)
</fieldset>