@model Orchard.ContentTypes.ViewModels.EditPartFieldViewModel
    <fieldset class="manage-field">
        <h3>@Model.Name <span>(@Model.FieldDefinition.Name)</span></h3>
        <div class="manage">
            @Display.UnsafeActionLink(Value: T("Remove"), UrlType: "RemoveUrl", Action: "RemoveFieldFrom", Area: "Orchard.ContentTypes", RouteValues: new { id = Model.Part.Name, Model.Name })
        </div>
        <div class="details">
            @{Html.RenderTemplates(Model.Templates);}
            @Html.HiddenFor(m => m.Name)@Html.HiddenFor(m => m.FieldDefinition.Name)@Html.HiddenFor(m => m.Index)
        </div>
    </fieldset>