@model IEnumerable<Orchard.ContentTypes.ViewModels.EditPartFieldViewModel>
@if (Model.Any()) {
    <div class="content-type-part-fields">
        @foreach (var field in Model) {
            var f = field;
            @Html.EditorFor(m => f, "TypePartField", f.Prefix)
        }
    </div>
}