<system.diagnostics>
  <trace autoflush="true"/>
  <sources>
    <source name="Default" switchValue="Verbose">
      <listeners>
        <add name="OrchardDebugTextLog" />
        <add name="WebPageTrace"/>
      </listeners>
    </source>
    <source name="Orchard.Localization" switchValue="Warning">
      <listeners>
        <add name="OrchardDebugTextLog" />
        <add name="WebPageTrace"/>
      </listeners>
    </source>
    <source name="Orchard.Localization" switchValue="Information">
      <listeners>
        <add name="OrchardDebugTextLog" />
        <add name="WebPageTrace"/>
      </listeners>
    </source>
  </sources>
  <sharedListeners>
    <add name="OrchardDebugTextLog" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\logs\orchard-debug.txt" />
    <add name="WebPageTrace" type="System.Web.WebPageTraceListener, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </sharedListeners>
</system.diagnostics>
