<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
	</configSections>

	<autofac defaultAssembly="Orchard.Framework">
		
		<!-- Uncomment below to have Orchard store shell settings (Settings.txt) in Azure Blob Storage (useful when running multiple instances on Azure Web sites). -->
		<!--<components>
			<component instance-scope="single-instance" type="Orchard.Azure.Services.Environment.Configuration.AzureBlobShellSettingsManager, Orchard.Azure" service="Orchard.Environment.Configuration.IShellSettingsManager"></component>
		</components>-->
		
	</autofac>

</configuration>