<?xml version="1.0" encoding="utf-8" ?>
<HostComponents>
  <Components>
    
    <!-- Set Value="true" to disable new extensions monitoring -->
    <Component Type="Orchard.Environment.Extensions.ExtensionMonitoringCoordinator">
      <Properties>
        <Property Name="Disabled" Value="false"/>
      </Properties>
    </Component>

    <!-- Set Value="true" to disable Placement files monitoring (Placement.info) -->
    <Component Type="Orchard.DisplayManagement.Descriptors.ShapePlacementStrategy.PlacementFileParser">
      <Properties>
        <Property Name="DisableMonitoring" Value="false"/>
      </Properties>
    </Component>

    <!-- Set Value="true" to disable template views monitoring (Views\*.cshtml) -->
    <Component Type="Orchard.DisplayManagement.Descriptors.ShapeTemplateStrategy.ShapeTemplateBindingStrategy">
      <Properties>
        <Property Name="DisableMonitoring" Value="false"/>
      </Properties>
    </Component>

    <!-- Set Value="true" to disable extension folders monitoring (new files in modules and themes) -->
    <Component Type="Orchard.Environment.Extensions.Folders.ExtensionHarvester">
      <Properties>
        <Property Name="DisableMonitoring" Value="false"/>
      </Properties>
    </Component>

    <!-- Set Value="true" to disable project files monitoring (/Modules/**/*.csproj) -->
    <Component Type="Orchard.Environment.Extensions.Compilers.DefaultProjectFileParser">
      <Properties>
        <Property Name="DisableMonitoring" Value="false"/>
      </Properties>
    </Component>

    <!-- Set Value="true" to disable source files monitoring -->
    <Component Type="Orchard.Environment.Extensions.Loaders.DynamicExtensionLoader">
      <Properties>
        <Property Name="DisableMonitoring" Value="false"/>
      </Properties>
    </Component>

    <!-- Set Value="true" to completely disable the Dynamic Extension Loader -->
    <Component Type="Orchard.Environment.Extensions.Loaders.DynamicExtensionLoader">
      <Properties>
        <Property Name="Disabled" Value="false"/>
      </Properties>
    </Component>

    <!-- Set Value="true" to disable pre-compiled files monitoring (~/Modules/**/bin/*.dll) -->
    <Component Type="Orchard.Environment.Extensions.Loaders.PrecompiledExtensionLoader">
      <Properties>
        <Property Name="DisableMonitoring" Value="false"/>
      </Properties>
    </Component>

    <!-- Set Value="true" to disable the dependencies folder monitoring -->
    <Component Type="Orchard.FileSystems.Dependencies.DefaultDependenciesFolder">
      <Properties>
        <Property Name="DisableMonitoring" Value="false"/>
      </Properties>
    </Component>

    <!-- Set Value="true" to disable compiled dependencides files monitoring -->
    <Component Type="Orchard.FileSystems.Dependencies.DefaultExtensionDependenciesManager">
      <Properties>
        <Property Name="DisableMonitoring" Value="false"/>
      </Properties>
    </Component>

    <!-- Set Value="true" to disable localization files monitoring (*.po) -->
    <Component Type="Orchard.Localization.Services.DefaultLocalizedStringManager">
      <Properties>
        <Property Name="DisableMonitoring" Value="false"/>
      </Properties>
    </Component>

    <!-- Set Value="true" to disable parallel cache resolution -->
    <Component Type="Orchard.Caching.DefaultParallelCacheContext">
      <Properties>
        <Property Name="Disabled" Value="false"/>
      </Properties>
    </Component>

  </Components>
</HostComponents>
