<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <!-- Value of priority may be ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
    <priority value="WARN" />
    <appender-ref ref="RollingLogFileAppender" />
  </root>

  <logger name="Orchard.Localization">
    <priority value="WARN" />
    <appender-ref ref="RollingLogFileAppender" />
  </logger>

  <logger name="Orchard.Data.SessionLocator">
    <priority value="INFO" />
    <appender-ref ref="RollingLogFileAppender" />
  </logger>

  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="App_Data/Logs/orchard-debug-" />
    <appendToFile value="true" />
    <immediateFlush value="true" />

    <staticLogFileName value="false" />
    <rollingStyle value="Date" />
    <datepattern value="dd.MM.yyyy-hh_mm_ss.fff'.log'" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %logger - %message%newline" />
    </layout>
  </appender>
</log4net>
