<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <!-- 
  If you are looking here and want more output, 
  first thing to do is change root/priority/@value to "INFO" or "ALL" 
  -->
  
  <root>
    <!-- Value of priority may be ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
    <priority value="WARN" />

    <appender-ref ref="error-file" />
    <appender-ref ref="debug-file" />
  </root>

  <logger name="Orchard">
    <!-- messages coming from orchard are provided to the attached debugger -->
    <appender-ref ref="debugger"/>

    <!-- 
    note: if you put a ref=debugger into root above and widen the priority to ALL or DEBUG,
    then you will see nhibernate trace in the attached debugger as well
    -->
  </logger>

  <logger name="Orchard.Localization">
    <!-- this source is very verbose - setting priority here to avoid flooding trace if root priority is lowered -->
    <priority value="WARN" />
  </logger>
  
  <logger name="NHibernate.Cache">
    <!-- this source is very verbose - setting priority here to avoid flooding trace if root priority is lowered -->
    <priority value="ERROR" />
  </logger>

  <!-- example of turning on the output from a component or namespace-->
  <!--
    <logger name="Orchard.Data.SessionLocator">
      <priority value="INFO" />
    </logger>
  -->

  <appender name="debugger" type="log4net.Appender.DebugAppender">
    <!-- debugger: visual studio, if attached -->
    
    <immediateFlush value="true" />
    <layout type="log4net.Layout.SimpleLayout" />
  </appender>

  <appender name="debug-file" type="Orchard.Logging.OrchardFileAppender">
    <!-- debug log: all messages, based on logger priority settings of namespaces above -->
    
    <file value="App_Data/Logs/orchard-debug" />
    <appendToFile value="true" />

    <!-- immediate flush on error log, to avoid data loss with sudden termination -->
    <immediateFlush value="true" />

    <staticLogFileName value="false" />
    <rollingStyle value="Date" />
    <datepattern value="-yyyy.MM.dd'.log'" />
    <!-- prevent orchard.exe from displaying locking debug messages -->
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="error-file" type="Orchard.Logging.OrchardFileAppender">
    <!-- error log: only ERROR and FATAL subset of debug log -->
    
    <file value="App_Data/Logs/orchard-error" />
    <appendToFile value="true" />

    <!-- immediate flush on error log, to avoid data loss with sudden termination -->
    <immediateFlush value="true" />

    <staticLogFileName value="false" />
    <rollingStyle value="Date" />
    <datepattern value="-yyyy.MM.dd'.log'" />

    <!-- prevent orchard.exe from displaying locking error messages -->
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

    <filter type="log4net.Filter.LevelRangeFilter">
      <!-- only error and fatal messages end up in this target, even if child loggers accept lower priority -->
      <levelMin value="ERROR" />
    </filter>

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %logger - %message%newline" />
    </layout>
  </appender>
</log4net>
