<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<root>
		<priority value="ERROR" xdt:Transform="SetAttributes(value)" />
		<appender-ref ref="debug-file" xdt:Locator="Match(ref)" xdt:Transform="Remove" />
	</root>
	<logger name="Orchard" xdt:Locator="Match(name)" xdt:Transform="Remove" />
	<logger name="Orchard.Localization" xdt:Locator="Match(name)" xdt:Transform="Remove" />
	<logger>
		<priority value="ERROR" xdt:Transform="SetAttributes(value)" />
	</logger>
	<appender>
		<immediateFlush value="false" xdt:Transform="SetAttributes(value)" />
	</appender>
	<appender name="debugger" xdt:Locator="Match(name)" xdt:Transform="Remove" />
	<appender name="debug-file" xdt:Locator="Match(name)" xdt:Transform="Remove" />
	<appender name="error-file" xdt:Locator="Match(name)">
		<filter xdt:Transform="Remove" />
	</appender>
</log4net>