<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <!-- If you are looking here and want more output, first thing to do is change root/priority/@value to "INFO" or "ALL". -->

  <root>
    <!-- Value of priority may be ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF. -->
    <priority value="WARN" />
    <appender-ref ref="error-file" />
    <appender-ref ref="debug-file" />
  </root>

  <!-- Example of turning on the output from a component or namespace. -->
  <!--
  <logger name="Orchard.Data.SessionLocator">
    <priority value="INFO" />
  </logger>
  -->

  <logger name="Orchard">
    <!-- Messages coming from Orchard are sent to the attached debugger. -->
    <appender-ref ref="debugger"/>
    <!-- Note: if you put a ref=debugger into <root> element above and widen the priority to ALL or DEBUG,  then you will see nhibernate trace in the attached debugger as well. -->
  </logger>

  <logger name="Orchard.Localization">
    <!-- This source is very verbose - setting priority here to avoid flooding trace if root priority is lowered. -->
    <priority value="WARN" />
  </logger>

  <logger name="NHibernate.Cache">
    <!-- This source is very verbose - setting priority here to avoid flooding trace if root priority is lowered. -->
    <priority value="ERROR" />
  </logger>

  <logger name="NHibernate.AdoNet.AbstractBatcher">
    <!-- Displays failed table statements that are otherwise intercepted and rendered when unexpected. -->
    <priority value="OFF" />
  </logger>

  <logger name="NHibernate.Util.ADOExceptionReporter">
    <!-- Displays failed table statements that are otherwise intercepted and rendered when unexpected. -->
    <priority value="OFF" />
  </logger>

  <appender name="debugger" type="log4net.Appender.DebugAppender">
    <!-- Sends log messages to Visual Studio if attached. -->
    <immediateFlush value="true" />
    <layout type="log4net.Layout.SimpleLayout" />
  </appender>

  <appender name="debug-file" type="Orchard.Logging.OrchardFileAppender">
    <!-- Sends log messages to a file in App_Data. -->
    <file value="App_Data/Logs/orchard-debug" />
    <appendToFile value="true" />
    <!-- Immediate flush on error log, to avoid data loss with sudden termination. -->
    <immediateFlush value="true" />
    <staticLogFileName value="false" />
    <rollingStyle value="Date" />
    <datepattern value="-yyyy.MM.dd'.log'" />
    <!-- Prevents Orchard.exe from displaying locking debug messages. -->
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %logger - %P{Tenant} - %message%newline" />
    </layout>
  </appender>

  <appender name="error-file" type="Orchard.Logging.OrchardFileAppender">
    <!-- Sends ERROR and FATAL log messages to a file in App_Data. -->
    <file value="App_Data/Logs/orchard-error" />
    <appendToFile value="true" />
    <!-- Immediate flush on error log, to avoid data loss with sudden termination. -->
    <immediateFlush value="true" />
    <staticLogFileName value="false" />
    <rollingStyle value="Date" />
    <datepattern value="-yyyy.MM.dd'.log'" />
    <!-- Prevents Orchard.exe from displaying locking debug messages. -->
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <!-- Only ERROR and FATAL log messages end up in this target, even if child loggers accept lower priority. -->
      <levelMin value="ERROR" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %logger - %P{Tenant} - %message%newline %P{Url}%newline" />
    </layout>
  </appender>
  
</log4net>
