<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
    </configSections>

    <autofac defaultAssembly="Orchard.Framework">

        <!-- 
      To create tenant specific configurations, copy this file to ~/Config/Sites.{tenant}.config 
      where {tenant} is the technical name of the targetted tenant
      
      Allowed scopes: per-dependency, single-instance or per-lifetime-scope

    -->


        <components>
            <!-- 
                Uncomment to use ReadUncommitted as the default isolation level. Please not that
                Sql Server Ce doesn't support ReadUncommitted.

                Isolation level for all database transaction. 
                See http://msdn.microsoft.com/en-us/library/system.transactions.isolationlevel.aspx 
            -->
            <!--
            <component instance-scope="per-lifetime-scope"
                       type="Orchard.Data.SessionLocator, Orchard.Framework"
                       service="Orchard.Data.ISessionLocator">
                <properties>
                    <property name="IsolationLevel" value="ReadUncommitted" />
                </properties>
            </component>
            -->

            <!-- 
                Delay between background services executions
            <component instance-scope="single-instance"
                       type="Orchard.Tasks.SweepGenerator"
                       service="Orchard.Tasks.ISweepGenerator">
                <properties>
                    <property name="Interval" value="00:01:00" />
                </properties>
            </component>
             -->
        </components>
    </autofac>

</configuration>
