@using Orchard.ContentManagement;
@using Orchard.Core.Common.Models;
@using Orchard.Security;
@{
    CommonPart commonPart = Model.ContentPart;
    DateTime? modifiedUtc = commonPart.As<CommonPart>() == null ? null : commonPart.As<CommonPart>().ModifiedUtc;
    // owner isn't really who last modified this, is it?
    IUser owner = commonPart.As<CommonPart>() == null ? null : commonPart.As<CommonPart>().Owner;
}
<ul class="pageStatus">
    <li>@if (modifiedUtc.HasValue) {
        @T("Last modified: {0}", Display.DateTimeRelative(dateTime: modifiedUtc.Value))}&nbsp;&#124;&nbsp;
    </li>
    <li>@T("By {0}", owner.UserName)</li>
    </ul>