@using Orchard.Search.ViewModels;

@{
    Style.Require("Search");
}


@using(Html.BeginForm("index", "search", new { area = "Orchard.Search" }, FormMethod.Get, new { @class = "search-form" })) { 
    <fieldset>
        @Html.TextBox("q", (SearchViewModel)Model.ViewModel.Query)
        <button type="submit">@T("Search")</button>
    </fieldset>
}