.form-control.auto-size {
    width: auto;
}

.content-action-group {
    float: left;
    margin-right: 1em;
}

fieldset {
    label {
        margin-bottom: 0px;
    }
}
.validation-summary-errors{
    color:@alert-danger-text;
    margin-bottom:1em;
    ul{
        list-style:none;
        margin:0;
        padding:0;
        li{
            background-color:@alert-danger-bg;
            border:solid 1px @alert-danger-border;
            margin:0;
            margin-bottom:1em;
            padding:.5em 1em;

        }
    }
}

.am-checkbox{
    .check-all{
        border:2px dashed #ddd;
        margin-right:-5px;
        padding:1px;
        padding-left:1px !important;
        position:relative;
        left:-2px;
    }
    .check-all:hover{
        border:2px dashed #9c9b9b;
    }
}

.form-inline > * {
   margin:5px 3px;
}