// Panels.
.panel {
    /*padding: 2em;
    border: solid 1px #bbb;*/
    //no border on nested panels
    &.panel-bordered{
        border-width:1px;
    }

    .panel {
        border: none;
        padding: 0;
    }
}

.panel {
    .panel-heading, .panel-heading>form {
        /*margin: 0 0 20px 0;
        padding: 0;*/
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-basis: 100%;
        flex-wrap: wrap;        

        &.inline-flex {
            display: inline-flex;
        }

        .panel-heading-actions {
            order: 10;
            align-self: flex-start;
            display: inline-flex;
            margin: 0;
            padding: 6px 0;

            @media (max-width: @screen-xs-max) {
                margin-bottom: 10px;
                padding: 0;
            }
        }

        .panel-heading-primary-group {
            order: 0;
            align-items: center;
            display: inline-flex;
            flex-wrap: wrap;

            @media (max-width: @screen-xs-max) {
                flex-basis:100%;
                align-items:flex-start;
                > * {
                    white-space: normal;
                    width: 100%;
                    margin-right: 0;
                }
            }

            .bulk-actions, .bulk-actions-auto {
                @media (max-width: @screen-xs-max) {
                    white-space: normal;
                    margin-right:0;
                }

                > * {
                    margin-bottom: 0;

                    @media (max-width: @screen-xs-max) {
                        margin-bottom: 5px;
                        width: 100%;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .hint{
                margin-top:5px;
                font-size:.8em;
                width:100%;
                white-space:normal;
                @media (max-width: @screen-xs-max) {
                    white-space: normal;
                }
            }
        }
    }
    .panel-body{
        .panel-heading{
            padding:0;
            margin:0;
        }
    }
}

// Accordions and Panels.
.panel-group.accordion {
    .panel {
        border:none;
        .panel-heading {
            .panel-title{
                display:flex;
                align-content:center;
                width:100%;
                justify-content:space-between;

                a{
                    background:transparent;
                    color:inherit;
                    &.btn-link.btn-danger{
                        color:@danger-color-text;
                        font-size:1em;
                    }
                }
            }
        }
    }
}
