// Tables.


.table {
    .actions {
        text-align: right;
    }
    td:last-child{
        text-align:right;
        &.left-align, 
        &:only-child{
            text-align:left;
        }
    }
}

.table-responsive {
    &.table-with-footer {
        .table {
            margin-bottom:0;
        }
    }
}

.am-datatable-header {
    padding: 0;
}
