// Form controls.
@control-height: 36px;

.text {
    .form-control();
    height: @control-height;

    &.large {
        width: 100%;
    }

    &.wide {
        width: 50%;
    }

    &.medium {
        width: 25%;
    }

    &.small {
        width: 8.33%;
    }
}

.form-control, .input-group-btn .btn {
    height: @control-height;

    &.pager {
        height: @control-height;
    }
}

select {
    .form-control();
    height: @control-height;
    line-height: @control-height;
    /*padding: 5px 6px;*/
    &.form-control {
        padding: 5px 6px;
    }
}

// Hint.
.hint {
    display: block; // Account for any element using help-block.
    margin-top: 0;
    margin-bottom: 10px;
    color: lighten(@text-color, 25%); // Lighten the text some for contrast.
}

.form-group {
    .hint {
        margin-bottom: 0;
    }
}

// Floating and Clearing.
.group {
    .clearfix();
}

// Manage.
.manage {
    .clearfix();

    a, button {
        float: right;
        margin-left: 1em;
    }
}

.sections {
    .clearfix();

    > div {
        .clearfix();
    }

    .primary {
        margin-right: -320px;
        padding-right: 320px;
        margin-bottom: 20px;
    }
}

.message {
    /*padding: 0 0 1em 0;*/
    &.message-Warning {
        color: @warning-color-text;
    }
}

/* Filters */
.bulk-actions, .bulk-actions-auto {
    vertical-align: middle;
    margin-bottom: 1em;
    /*padding: 5px;
    background: rgb(249, 249, 249);
    border: solid 1px #ddd;*/
    /*margin-right: 10px;*/
    white-space: nowrap;
    display: inline-block;

    &:only-child {
        margin-right: 0;
        margin-bottom: 0;
        display: block;
    }

    @media (max-width: @screen-xs-max) {
        margin-bottom: 1em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    select {
        /*width: auto;*/
        display: inline-block;
        vertical-align: middle;
    }
}


.am-checkbox, .am-radio {
    > label {
        &:empty {
            &:before {
                margin-right: 0;
            }
        }
    }
}

.am-datatable-header:empty {
    display: none;
    border: none;
    margin: 0;
    padding: 0;
}

/* Modals */
button.close:hover {
    background: 0 0;
}

@indent-unit: 1.5em;
/* Taxonomy / Term checkbox indent levels */
.indent-level-1 {
    margin-left: @indent-unit;
}

.indent-level-2 {
    margin-left: calc((@indent-unit * 2));
}

.indent-level-3 {
    margin-left: calc((@indent-unit * 3));
}

.indent-level-4 {
    margin-left: calc((@indent-unit * 4));
}

.indent-level-5 {
    margin-left: calc((@indent-unit * 5));
}

.indent-level-6 {
    margin-left: calc((@indent-unit * 6));
}

/* warning links */
/*a[itemprop='UnsafeUrl'] {
    color: @warning-color-text;

    &:hover {
        color: darken(@warning-color-text,20%);
    }

    &.btn.btn-warning {
        color: white;
    }
}*/

/* danger links */
a[itemprop='RemoveUrl UnsafeUrl'] {
    color: @danger-color-text;

    &:hover {
        color: darken(@danger-color-text,20%);
    }

    &.btn.btn-danger {
        color: white;
    }
}

/* Making text classes responsive */

@media (max-width: @screen-md-max) {
    .text {

        &.wide {
            width: 75%;
        }

        &.medium {
            width: 50%;
        }

        &.small {
            width: 25%;
        }
    }
}

@media (max-width: @screen-sm-max) {
    .text {

        &.wide {
            width: 100%;
        }

        &.medium {
            width: 75%;
        }

        &.small {
            width: 50%;
        }
    }
}

@media (max-width: @screen-xs-max) {
    .text {

        &.wide {
            width: 100%;
        }

        &.medium {
            width: 100%;
        }

        &.small {
            width: 100%;
        }
    }
}
