html { background:none !important }

body {
  padding-top:15px;
  padding-bottom:15px;
  margin: 0 auto;
}

.content-picker-tab 
{
    padding: 18px;
    background: white;
}

.content-picker-item
{
    margin-left: 20px;
}

.content-picker-itemCheck
{
    position:absolute;

}

.addSelected
{
    margin-bottom: 10px;
}

.page-size-options > div:first-child
{
    display:inline-block;
}