html { background:none !important }

body {
  color: #333; 
  background:#f3f4f5;
  font-family: Segoe UI,Trebuchet,Arial,Sans-Serif;
  line-height:1.6em;
  padding:12px;
  width:640px;
  min-width:640px;
  margin: 0 auto;
}

#orchard-content-picker * { font:100% normal Segoe UI,Trebuchet,Arial,Sans-Serif; }

.content-picker-tab 
{
    margin: 6px;
    padding: 18px;
    background: white;
    border: 1px solid #E4E5E6;
}

.content-picker-item
{
    margin-left: 20px;
}

.content-picker-itemCheck
{
    position:absolute;

}

label[for="selectAll"]:before
{
    content:'';
    display:block;
    margin-top:20px;
}

label[for="selectAll"]
{
    display:inline;
}

.addSelected
{
    margin-bottom: 10px;
}

.page-size-options > div:first-child
{
    display:inline-block;
}