@model string

@{ Layout.Title = T("Create Index").ToString(); }

@using(Html.BeginFormAntiForgeryPost()) {
    <fieldset>
        @Html.TextBox("id", Model, new { @class= "text medium"})
        <span class="hint">@T("The technical name of the index to create. Must contain letters and numbers only.")</span>
    </fieldset>
    <fieldset>
        <button type="submit">@T("Create")</button>
    </fieldset>
}