@model IDeliverable.Slides.ViewModels.SlideEditorViewModel
@{
    Layout.Title = T("Edit Slide");
}
@using (Html.BeginFormAntiForgeryPost()) {
    @Html.EditorForModel()
    <fieldset>
        <button type="submit" name="submit.Save" value="submit.Save">@T("Save")</button>
        <a class="button" href="@Model.ReturnUrl">@T("Cancel")</a>
    </fieldset>
}