<?xml version="1.0" encoding="utf-8" ?>
<HostComponents>
  <Components>
    <Component Type="Orchard.Environment.Extensions.Loaders.DynamicExtensionLoader">
      <Properties>
        <Property Name="Disabled" Value="false"/>
      </Properties>
    </Component>
    <Component Type="Orchard.Environment.Extensions.Loaders.PrecompiledExtensionLoader">
      <Properties>
        <Property Name="Disabled" Value="true"/>
      </Properties>
    </Component>
    <Component Type="Orchard.Environment.Extensions.Loaders.ReferencedExtensionLoader">
      <Properties>
        <Property Name="Disabled" Value="true"/>
      </Properties>
    </Component>
  </Components>
</HostComponents>
