
.ContentTypeList
{
    width: 100px;
    float:left;
}
.ContentTypePartList
{
    width: 200px;
    float: left;
    margin-left: 20px;
}
.ContentTypePartListRow
{
    height:5px;
    padding:0px;
}
.ContentTypePartListRowItem
{
    background:#EAEAEA;
    
    padding:0px;
    vertical-align:top;
    margin:1px;
    padding-top: 5px;
}

.SelectedContentPart {
    background:#D1F2A5;
    border-color:#BCD994;
}
.UnSelectedContentPart {
    background:#EAEAEA;
    border-color:#CCC;
}