@charset "UTF-8";
/* CSS Document */

/*Yahoo browser reset
----------------------------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,
blockquote,th,td {margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
ol,ul { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:”; }
abbr,acronym { border:0; }

/*Defaults
----------------------------------------------------------*/
body
{
    background-color: #eff4f3;
	background:url(../images/themes/autumn/bodyBackground.gif) center repeat-y;
    font-size: .80em;
    font-family:"Helvetica Neue", "Lucida Grande", Segoe UI, Arial, Helvetica, Verdana, sans-serif;
	font-family:"trebuchet ms",helvetica,sans-serif;
    text-align:center;
    margin: 0;
    padding: 0;
    color: #2b2b2b;
    min-width: 1000px;
}

a:link
{
    color: #2b2b2b;
    text-decoration: underline;
}
a:visited
{
    color: #2b2b2b;
}
a:hover
{
    color:#b1a233;
    text-decoration: underline;
}
a:active
{
    color: #2b2b2b;
}

p
{
    line-height: 1.9em;
	margin: 1em .5em .5em .8em;

}


/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6{
    font-size: 1.5em;
	color:#2b2b2b;

}

h1{
    font-size: 1.6em;
    padding-bottom: 0;
    margin-bottom: 0;
    }

h2{
	font-size: 1.5em;
}


h3{
    font-size: 1.2em;
}

h4{
    font-size: 1.1em;
}

h5, h6{
    font-size: 1em;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* Header and login 
----------------------------------------------------------*/
#header
{
    width: 100%;
    height: 60px;
}

#innerheader
{
	width: 960px;
	height: 60px;
	margin: 0px auto;
	text-align: left;
	background: url(../images/themes/autumn/headerBackground.gif) repeat-x top left #000;

}

#branding {
	float:left;
	margin:10px 0px 0px 8px;
    background: url(../images/themes/autumn/leaf.gif) no-repeat top left;
}


#branding h1 {
    font-weight:400;
    font-size: 1.5em;
	color:#b0a133; 
    border: none;
	padding:2px 8px 4px 24px;
	font-size: 26px !important;
}

#login {
	float:right;
	color:#b0a133;
	margin:21px 16px 0px 12px;
    padding:4px 0px 8px 8px;
}


/* Main Content
----------------------------------------------------------*/

#wrapper {
	width:960px;
	margin:0 auto;
	text-align:left;
	/*old background:#2b3442;*/
	background:#fcfcfc;
	}

#content {
	width: 740px;
	float:right;
	margin:42px 0px 0px 0px;
}

#leftNav {
	width: 200px;
	float:left;
	margin:16px 0px 0px 8px;
}

#footer {
	clear:both;
	padding:4px;
	overflow:hidden;
}

/* Form elements
----------------------------------------------------------*/

textarea{
	width: 716px;
	height: 600px;
	border: 1px solid #bdb791;
	background:#FFF;
	padding: 5px;
	}
	
input.bttn {
	font-size: 1.2em;
	font-weight:400;
	margin: 20px 0px 20px 310px;
	padding:4px 12px;
	color:#e2da84;
	background: url(../images/themes/autumn/headerBackground.gif) repeat-x top left #000;
	border: 1px solid #191919;
}

fieldset {
	margin: 20px;
	padding: 10px;
	border: 1px solid #bdb791;
}

legend {
	font-size: 1.1em;
	padding: 2px 4px 8px 4px;
}

label {
	display: block;
}


/* Top navigation pane
----------------------------------------------------------*/

#topNavOutter
{
    width: 100%;
    height: 30px;
}

#topNavInner
{
	width: 960px;
	height: 30px;
	margin: 0px auto;
	text-align: left;
	background: url(../images/themes/autumn/TopNavBackground.gif) repeat-x bottom left #1f1f1f;
	color:#FFF;
}

#topNavInner ul
{
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}

#topNavInner ul li
{
	float:left;
	height:30px;
	background:url(../images/themes/autumn/TopNavDivider.gif) no-repeat top right;
}

#topNavInner ul li a
{
	display:block;
	padding:6px 14px 2px 14px;
	text-decoration:none;
	float:left;
	color:#e2da84;
}

#topNavInner ul li a:hover
{
	display:block;
	padding:6px 14px 2px 14px;
	text-decoration:underline;
	float:left;
	color:#b1a233;
}


/* Breadcrumbs
----------------------------------------------------------*/

h2.crumb {
	font-weight:400;
	font-variant:normal;
	color:#98926e;
	border-bottom:1px dotted #98926e;
	padding:0px 0px 4px 0px;
}

h2.crumb a {
	color:#abba39;
}


/* Left navigation pane
----------------------------------------------------------*/

.leftNavMod {
	border:1px #bdb791 solid;
	margin:14px 4px;
	background:#FFF;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
}

.leftNavMod h2 {
	font-size: 1.1em;
	font-variant:normal;
	padding: 6px 4px 6px 4px;
	color:#2a2a2a;
	background: url(../images/themes/autumn/sideNavBackground.gif) repeat-x top left #FFF;
    border-bottom:1px solid #98926e;
    cursor:pointer;
    }

/* Unorderer list links in left navigation pane
----------------------------------------------------------*/

.leftNavMod ul a {
display:block;
height:24px;
line-height:24px;
padding:0px 0px 0px 12px;
text-decoration:none;
text-transform:lowercase;
}

.leftNavMod ul a:visited{
    color: #2b2b2b;
}

.leftNavMod ul a:hover {
color: #3e4301;
background:#D3E378 !important;;
text-decoration:underline;
}
