html {
    background:#8a8f7a;
    color:#525e50;
}
body {
	color:#5a5b32;
    font-family:Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:62.5%; /* 10px */
    /*max-width:120.4em;*/
    margin:0 auto 1em;
    min-width:96em; /* 960px */
    padding:0 .4em;
}
body#preview {
    min-width:0;
}
#content {
    background:#f9faf5;
}

/* Headings and defaults
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, legend {
    padding:.4em 0;
    font-family:"Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
    font-style: normal;
    font-weight:normal;
}

h1 { font-size:2.8em; } /* 28px */
h2 { font-size:2.4em; } /* 24px */
h3 { font-size:2em; } /* 20px */
h4 { font-size:1.8em; } /* 18px */
h5 { font-size:1.6em; } /* 16px */
h6, p, label, input, select, th, td { font-size:1.5em; } /* 15px */

p {
    margin:4px;
}
strong {
    font-weight:700;
}

/* ---------- Links ---------- */
a, a:link, a:visited {
    color:#1e5d7d;
    text-decoration:none;
}
a:hover, a:active, a:focus {
    color:#1e5d7d;
    outline:0;
    text-decoration:underline;
}

/* todo: (heskew) see what's necessary - looks like a link styled as a button */
a.linkButton, a.linkButton:visited {
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    display:inline-block;
	text-align:center;
	text-decoration:none;
    padding: 3px 8px 3px 8px;
	margin:20px 4px 0 4px;
	background:url(images/tableHeaderBackground.gif) repeat-x top left #dddfcb;
	border:1px solid #d2d6c6;
	color:#5a5b32;
	cursor:pointer;
}

/* Header - Branding and Login  
----------------------------------------------------------*/
#header {
	background:#8a8f7a url(images/background_header.jpg) no-repeat bottom right;
	height:60px;
}
#header h1 {
    float:left;
}
#header h1 a {
	background:url(images/orchardLogo.jpg) no-repeat;
	display:block;
	height:60px;
	margin:-10px 0 0 14px;
	text-indent:-9999px;
	width:105px;
}

#site, #login {
    font-size:1.5em;
}

#site a, #site a:visited, #site a:active {
	color:#e2e4dd;
	float:left;
	line-height:2.2em;
	padding:14px 0 0 12px;
	position:relative;
}

#login{
	color:#1a1505;
	display:block;
	float:right;
	margin:20px 20px 0 0;
	white-space:nowrap;
}
#login a, #login a:visited, #login a:active {
    color:#e2e4dd;
    padding:0;
}
#login a:hover, #login a:focus {
    color:#ffea9b;
}


/* temp rough structure */
#header, #footer {
    width:100%;
}
#header {
    overflow:hidden;
}
#content {
    overflow:auto;
    padding:1.4em;
}
#main {
    display:inline;
    float:right;
    width:83.06%;
}
#navigation {
    display:inline;
    float:left;
    width:15.28%;
}

/* Navigation
----------------------------------------------------------*/
#navshortcut {
    height:0;
    overflow:hidden;
    width:0;
}

#navigation li {
	background:#fff;
	border:1px solid #d2d6c6;
	margin:10px 0 14px 0;
}
#navigation ul li {
    border:0;
    margin:0;
}
#navigation li h4 {
	background:#dddfcb url(images/tableHeaderBackground.gif) repeat-x top left;
	padding:4px 4px 6px 8px;
}
#navigation ul a {
	color:#5a5b32;
	display:block;
	font-size:1.5em;
	height:28px;
	line-height:28px;
	padding:0 0 0 12px;
	text-decoration:none;
}
/* todo: (heskew) what's the point of a :visited color for an admin nav?
#navigation ul a:visited{
    color: #2b2b2b;
} */
#navigation ul a:hover, #navigation ul a:focus {
	background:#f0ecd2;
	color: #3e4301;
	outline:0;
	text-decoration:underline;
}

/* Content
----------------------------------------------------------*/
#content h2 {
    border-bottom:1px dashed #e4e7dc;
    margin:3px 0 8px;
    padding:0 0 2px;
}



/* Confirmations;
----------------------------------------------------------*/

div.confirmation, div.warning, div.critical {
    padding:4px;
	margin: 10px 0 4px 0;
}

.confirmation {
	background:#e6f1c9;
	border:1px solid #cfe493;
}

.warning {
	background:#fdf5bc;
	border:1px solid #ffea9b;
}

.critical {
	background:#e68585;
	border:1px solid #990808;
	color:#fff;
}

/* Forms   
----------------------------------------------------------*/

.formList li {
	line-height:24px;
}

fieldset {
	margin:10px;
	padding:10px;
	border:1px solid #d2d6c6;
}

label {
	display: block;
	font-weight:700;
	margin:8px 4px -2px 0px;
}

label span {
	font-weight:normal;
}

legend {
	font-size:150%;
	color:#525e50;
}

select, textarea, #PublishLaterDate, .inputText{
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:4px;
	padding:2px;
	border:1px solid #d2d6c6;
	color:#5a5b32;
}

textarea {
	width:80%;
	height:260px;
}

.radioButton {
margin:0 6px 0 0;
}

input[button], button, .button {
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align:center;
	padding: 0px 8px;
	height: 26px;
	margin:20px 4px 0 4px;
	background:url(images/tableHeaderBackground.gif) repeat-x top left #dddfcb;
	border:1px solid #d2d6c6;
	color:#5a5b32;
	cursor:pointer;
}

.buttonFocus {color:#f6faea; border:1px solid #666d51; background:#8a8f7a;}


#permalink{
	width:200px;
}

.inputText {
	width:80%;
}

.inputTextLarge {
	font-size:130%;
	font-weight:500;
}

.helperText {
	margin:-4px 0 8px 0;
}


#Revision_Slug{
    width:245px;
}
/* ---------- Sidebar forms ---------- */

.sideBar fieldset {margin:0px; border:none;}

#Date {width:80px; margin:4px 4px 4px 16px;}
#Hour, #Minutes {width:30px;}

/* ---------- Actions form elements and filtering ---------- */
ol.actions {margin:20px 0 0 0;}

ol.actions .button {margin:4px 4px 4px -8px;}

ol.actions label {
	margin:6px 0 0 0;
	}

.filterActions {
	float:right;
	margin:10px 2px 0 0;
}

/* Tables;
----------------------------------------------------------*/


table {
	border-collapse: separate;
	width: 100%;
	border-spacing: 0px;
	border:1px solid #B0B083;
	background:#fff;
}

tbody 
{
	border-spacing: 0px;
	vertical-align: middle;
}

thead, th {
	font-weight:700;
	text-align:left;
	background:url(images/tableHeaderBackground.gif) repeat-x top left #dddfcb;
	overflow:hidden;
}


.trhover{background-color:#f0f3d6;}

th, td {
	padding: 8px 12px;
	border-spacing: 0px;
	display:table-cell;
	vertical-align: middle;
	border-bottom: 1px solid #EAE9D9;
}

caption {
	text-indent: 0px;
	font-size:110%;
	padding:8px 0 8px 0;
}

col {
	border-spacing: 0px;
	display: table-column;
	}
	
colgroup 
{
	border-spacing: 0px;
	display: table-column-group;
}

tr.critical {background:#e68585; border:inherit;}

tr.warning {background:#fdf5bc; border:inherit;}

/* Horizontal lists
----------------------------------------------------------*/

ul.horizontal, ol.horizontal {
	margin:0;
	padding:0;
	list-style:none;
}

ul.horizontal li, ol.horizontal li {
	float:left;
	margin:0 4px;
}

ul.horizontal li a, ul.horizontal li a:visited, ul.horizontal li a:active, ol.horizontal li a, ol.horizontal li a:visited, ol.horizontal li a:active {
	display:block;
	text-decoration: none;
}

/* Miscellaneous;
----------------------------------------------------------*/

.templateThumbnail{
 width: 124px;
 height: 144px;
 border:1px solid #000;
 margin: 4px 4px 20px 16px;
}

.previewImage {
	width:70%;
	height:70%;
	border:1px solid #525e50;
}



/* Extensions;
----------------------------------------------------------*/

.floatLeft {float: left;} /*Use this class to float anything to the left*/

.floatRight {float: right;}  /*Use this class to float anything to the right*/

.alignRight {text-align: right;}

.Inline {display: inline;}

.center {margin:0 auto;}  /*Center*/

.clearLayout {clear:both;}  /*Use this class clear layout*/

.disabled {color:#CCC;}

.topSpacer{margin-top: 20px;}

.bottomSpacer{margin-bottom: 20px;}

.displayText {display:none;}

.separator {border-bottom:1px dashed #E4E7DC; margin-bottom:8px; padding-bottom:2px;}

/*TODO - Remove roundCorners class*/
#content, #navigation li,
table, textarea, .button, .inputText, .inputTextLarge,
.inputTextPermalink, .linkButton, div.confirmation,
div.warning, div.critical, .roundCorners {
	-moz-border-radius:4px;
	-webkit-border-top-radius:4px;
}


/* TinyMCE Overides 
----------------------------------------------------------*/
.defaultSkin table.mceLayout {
    margin:0 0 20px 0 !important;
    width:90% !important;
}
