/* begin: reset
   todo: (heskew) pare down and combine with existing selectors where appropriate */
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border:0;
	font-size:100%;
	margin:0;
	padding:0;
	vertical-align:baseline;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}
:focus {
	outline:0;
}
button::-moz-focus-inner, input.button::-moz-focus-inner {
    border:0;
}
ins {
	text-decoration:none;
}
del {
	text-decoration:line-through;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
/* end: reset */

html {
    background:#8a8f7a;
    color:#525e50;
}
body {
    font-size:62.5%; /* 10px */
	line-height:1.6em;
    margin:0 auto 1em;
    min-width:94.6em; /* 946px */
    padding:0 .4em;
}
body, input, select, textarea {
	color:#5a5b32;
    font-family:Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body#preview {
    min-width:0;
}
#content {
    background:#f9faf5;
}

/* Layout

number of columns: 24; actual width: 946; column width: 26; gutter width:14

   |     24|     23|     22|     21|     20|     19|     18|     17|     16|     15|     14|     13|     12|     11|     10|      9|      8|      7|      6|      5|      4|      3|      2
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.5g|  0.759|  0.793|  0.829|  0.870|  0.914|  0.963|  1.017|  1.079|  1.148|  1.226|  1.316|  1.420|  1.542|  1.687|  1.862|  2.077|  2.349|  2.703|  3.182|  3.867|  4.930|  6.796| 10.938
 24|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
 23| 95.770|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
 22| 91.540| 95.583|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
 21| 87.310| 91.166| 95.379|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
 20| 83.080| 86.750| 90.758| 95.155|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
 19| 78.850| 82.333| 86.137| 90.311| 94.909|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
 18| 74.620| 77.916| 81.517| 85.466| 89.817| 94.635|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
 17| 70.390| 73.499| 76.896| 80.621| 84.726| 89.271| 94.331|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
 16| 66.161| 69.083| 72.275| 75.776| 79.634| 83.906| 88.663| 93.991|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
 15| 61.931| 64.666| 67.654| 70.932| 74.543| 78.542| 82.994| 87.982| 93.607|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
 14| 57.701| 60.249| 63.033| 66.087| 69.452| 73.177| 77.326| 81.972| 87.213| 93.170|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
 13| 53.471| 55.832| 58.412| 61.242| 64.360| 67.813| 71.657| 75.963| 80.820| 86.340| 92.669|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
 12| 49.241| 51.416| 53.791| 56.398| 59.269| 62.448| 65.988| 69.954| 74.426| 79.510| 85.338| 92.089|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
 11| 45.011| 46.999| 49.171| 51.553| 54.178| 57.084| 60.320| 63.945| 68.033| 72.680| 78.008| 84.178| 91.410|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
 10| 40.781| 42.582| 44.550| 46.708| 49.086| 51.719| 54.651| 57.935| 61.639| 65.849| 70.677| 76.268| 82.819| 90.602|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
  9| 36.551| 38.165| 39.929| 41.863| 43.995| 46.355| 48.983| 51.926| 55.246| 59.019| 63.346| 68.357| 74.229| 81.205| 89.628|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---
  8| 32.321| 33.749| 35.308| 37.019| 38.903| 40.990| 43.314| 45.917| 48.852| 52.189| 56.015| 60.446| 65.639| 71.807| 79.255| 88.427|100.000|    ---|    ---|    ---|    ---|    ---|    ---
  7| 28.091| 29.332| 30.687| 32.174| 33.812| 35.626| 37.645| 39.908| 42.459| 45.359| 48.684| 52.535| 57.048| 62.410| 68.883| 76.855| 86.913|100.000|    ---|    ---|    ---|    ---|    ---
  6| 23.861| 24.915| 26.066| 27.329| 28.721| 30.261| 31.977| 33.898| 36.066| 38.529| 41.353| 44.625| 48.458| 53.012| 58.511| 65.282| 73.826| 84.942|100.000|    ---|    ---|    ---|    ---
  5| 19.631| 20.498| 21.445| 22.484| 23.629| 24.897| 26.308| 27.889| 29.672| 31.699| 34.023| 36.714| 39.868| 43.614| 48.138| 53.709| 60.738| 69.884| 82.273|100.000|    ---|    ---|    ---
  4| 15.401| 16.082| 16.825| 17.640| 18.538| 19.532| 20.640| 21.880| 23.279| 24.869| 26.692| 28.803| 31.278| 34.217| 37.766| 42.136| 47.651| 54.826| 64.545| 78.453|100.000|    ---|    ---
  3| 11.171| 11.665| 12.204| 12.795| 13.446| 14.168| 14.971| 15.871| 16.885| 18.039| 19.361| 20.892| 22.687| 24.819| 27.394| 30.564| 34.564| 39.768| 46.818| 56.906| 72.535|100.000|    ---
  2|  6.941|  7.248|  7.583|  7.950|  8.355|  8.803|  9.302|  9.861| 10.492| 11.208| 12.030| 12.982| 14.097| 15.422| 17.021| 18.991| 21.477| 24.710| 29.091| 35.359| 45.070| 62.136|100.000
  1|  2.711|  2.831|  2.962|  3.106|  3.264|  3.439|  3.634|  3.852|  4.098|  4.378|  4.699|  5.071|  5.507|  6.024|  6.649|  7.418|  8.389|  9.653| 11.364| 13.812| 17.606| 24.272| 39.063
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
   |     24|     23|     22|     21|     20|     19|     18|     17|     16|     15|     14|     13|     12|     11|     10|      9|      8|      7|      6|      5|      4|      3|      2

----------------------------------------------------------*/
#header, #footer {
    width:100%;
}
#header {
    overflow:hidden;
}
#content {
    overflow:hidden;
    padding:1.4em;
}
#main {
    display:inline;
    float:right;
    width:83.08%;
}
#navigation {
    display:inline;
    float:left;
    width:15.401%;
}
.wrapper, .sections {
    overflow:hidden;
}
.sections .primary {
    float:left;
    width:74.543%;
}
.sections .secondary {
    float:right;
    width:23.629%;
}

/* Headings and defaults
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, legend {
    padding:.4em 0;
    font-family:"Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
    font-style: normal;
    font-weight:normal;
}

h1 { font-size:2.8em; } /* 28px */
h2 { font-size:2.4em; } /* 24px */
h3 { font-size:2.1em; } /* 21px */
h4 { font-size:1.8em; } /* 18px */
h5 { font-size:1.6em; } /* 16px */
h6, p, label, input, select, th, td { font-size:1.5em; } /* 15px */

/* ---------- Links ---------- */
a, a:link {
    color:#1e5d7d;
    text-decoration:none;
}
a:hover, a:active, a:focus {
    color:#1e5d7d;
    text-decoration:underline;
}

/* todo: (heskew) see what's necessary - looks like a link styled as a button */
a.linkButton, a.linkButton:visited {
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    display:inline-block;
	text-align:center;
	text-decoration:none;
    padding: 3px 8px 3px 8px;
	margin:20px 4px 0 4px;
	background:url(images/tableHeaderBackground.gif) repeat-x top left #dddfcb;
	border:1px solid #d2d6c6;
	color:#5a5b32;
	cursor:pointer;
}

/* Header - Branding and Login  
----------------------------------------------------------*/
#header {
	background:#8a8f7a url(images/background_header.jpg) no-repeat bottom right;
	height:60px;
}
#header h1 {
    float:left;
}
#header h1 a {
	background:url(images/orchardLogo.jpg) no-repeat;
	display:block;
	height:60px;
	margin:-11px 0 0 14px;
	text-indent:-9999px;
	width:105px;
}

#site, #login {
    font-size:1.5em;
}

#site a, #site a:visited, #site a:active {
	color:#e2e4dd;
	float:left;
	line-height:2.2em;
	padding:14px 0 0 12px;
	position:relative;
}

#login{
	color:#1a1505;
	display:block;
	float:right;
	margin:20px 20px 0 0;
	white-space:nowrap;
}
#login a, #login a:visited, #login a:active {
    color:#e2e4dd;
    padding:0;
}
#login a:hover, #login a:focus {
    color:#ffea9b;
}

/* Navigation
----------------------------------------------------------*/
#navshortcut {
    height:0;
    overflow:hidden;
    width:0;
}

#navigation li {
	background:#fff;
	border:1px solid #d2d6c6;
	margin:10px 0 15px 0;
}
#navigation ul li {
    border:0;
    margin:0;
}
#navigation li h4 {
	background:#dddfcb url(images/tableHeaderBackground.gif) repeat-x top left;
	padding:6px 4px 8px 8px;
}
#navigation ul a {
	color:#5a5b32;
	display:block;
	font-size:1.5em;
	height:28px;
	line-height:28px;
	padding:0 0 0 12px;
	text-decoration:none;
}
/* todo: (heskew) what's the point of a :visited color for an admin nav?
#navigation ul a:visited{
    color: #2b2b2b;
} */
#navigation ul a:hover, #navigation ul a:focus {
	background:#f0ecd2;
	color: #3e4301;
	text-decoration:underline;
}

/* Content
----------------------------------------------------------*/
#main h2, #main h3, #main h4, #main p, #main form {
    margin:.23em 0 1em;
}
#main h2, #main h3 {
    border-bottom:1px dashed #e4e7dc;
}



/* Confirmations;
----------------------------------------------------------*/

div.confirmation, div.warning, div.critical {
    padding:4px;
	margin: 10px 0 4px 0;
}

.confirmation {
	background:#e6f1c9;
	border:1px solid #cfe493;
}

.warning {
	background:#fdf5bc;
	border:1px solid #ffea9b;
}

.critical {
	background:#e68585;
	border:1px solid #990808;
	color:#fff;
}

/* Forms   
----------------------------------------------------------*/

fieldset.bulk.actions {
    display:inline;
    margin:.4em 1.4em -.8em 0;
}

label {
	display: block;
	font-weight:700;
}
fieldset.bulk.actions label, label.sub {
    display:inline;
}
label span {
	font-weight:normal;
}

select, textarea, input.text, #PublishLaterDate {
	margin:3px 4px 4px;
	padding:2px;
	border:1px solid #d2d6c6;
	color:#5a5b32;
}

input.large.text, textarea, fieldset {
    clear:both;
}
fieldset {
    margin:.7em 0 .2em;
}
textarea {
    min-height:8em;
}
.primary input.large.text, .primary textarea {
    margin:.613% 0 .613% .613%;
    padding:4px;
    width:98.161%;
}

/* todo: (heskew) move editor specific style elsewhere */
.primary .mceEditor {
    display:block;
    margin:.613% 0 .613% .613%;
}
.secondary fieldset {
    margin:.446% 0 .446% .446%;
    padding:4px;
    width:98.662%;
}

.radioButton {
margin:0 6px 0 0;
}

button, .button {
	background:#dddfcb url(images/tableHeaderBackground.gif) repeat-x top left;
	border:1px solid #d2d6c6;
	color:#5a5b32;
	cursor:pointer;
	height:26px;
	padding:0 8px;
	text-align:center;
}
button:hover, .button:hover,
button:focus, .button:focus {
    background:#8a8f7a;
    border:1px solid #666d51;
    color:#f6faea;
    text-decoration:none;
}
.button {
    line-height:26px;
}
#main .manage {
    float:right;
    overflow:hidden;
    margin:4px 0 4px 4px;
}
.manage a.button {
    float:right;
}



#permalink{
	width:200px;
}

input.large.text {
	font-size:130%;
	font-weight:500;
}

.helperText {
	margin:-4px 0 8px 0;
}


#Revision_Slug{
    width:245px;
}
/* ---------- Sidebar forms ---------- */

.sideBar fieldset {margin:0px; border:none;}

#Date {width:80px; margin:4px 4px 4px 16px;}
#Hour, #Minutes {width:30px;}

/* ---------- Actions form elements and filtering ---------- */
ol.actions {margin:20px 0 0 0;}

ol.actions .button {margin:4px 4px 4px -8px;}

ol.actions label {
	margin:9px 0 0;
}

.filterActions {
	float:right;
	margin:10px 2px 0 0;
}

/* Tables;
----------------------------------------------------------*/


table {
	border-collapse: separate;
	width: 100%;
	border-spacing: 0px;
	border:1px solid #B0B083;
	background:#fff;
}

tbody 
{
	border-spacing: 0px;
	vertical-align: middle;
}

thead, th {
	font-weight:700;
	text-align:left;
	background:url(images/tableHeaderBackground.gif) repeat-x top left #dddfcb;
	overflow:hidden;
}


.trhover{background-color:#f0f3d6;}

th, td {
	padding: 8px 12px;
	border-spacing: 0px;
	display:table-cell;
	vertical-align: middle;
	border-bottom: 1px solid #EAE9D9;
}

caption {
	text-indent: 0px;
	font-size:110%;
	padding:8px 0 8px 0;
}

col {
	border-spacing: 0px;
	display: table-column;
	}
	
colgroup 
{
	border-spacing: 0px;
	display: table-column-group;
}

tr.critical {background:#e68585; border:inherit;}

tr.warning {background:#fdf5bc; border:inherit;}

/* Horizontal lists
----------------------------------------------------------*/

ul.horizontal, ol.horizontal {
	margin:0;
	padding:0;
	list-style:none;
}

ul.horizontal li, ol.horizontal li {
	float:left;
	margin:0 4px;
}

ul.horizontal li a, ul.horizontal li a:visited, ul.horizontal li a:active, ol.horizontal li a, ol.horizontal li a:visited, ol.horizontal li a:active {
	display:block;
	text-decoration: none;
}

/* Miscellaneous;
----------------------------------------------------------*/

.templateThumbnail{
 width: 124px;
 height: 144px;
 border:1px solid #000;
 margin: 4px 4px 20px 16px;
}

.previewImage {
	width:70%;
	height:70%;
	border:1px solid #525e50;
}



/* Extensions;
----------------------------------------------------------*/

.floatLeft {float: left;} /*Use this class to float anything to the left*/

.floatRight {float: right;}  /*Use this class to float anything to the right*/

.alignRight {text-align: right;}

.Inline {display: inline;}

.center {margin:0 auto;}  /*Center*/

.clearLayout {clear:both;}  /*Use this class clear layout*/

.disabled {color:#CCC;}

.topSpacer{margin-top: 20px;}

.bottomSpacer{margin-bottom: 20px;}

.displayText {display:none;}

/*
.separator {border-bottom:1px dashed #E4E7DC; margin-bottom:8px; padding-bottom:2px;}
*/

/*TODO - Remove roundCorners class*/
#content, #navigation li,
table, textarea, .button, input.text, .inputTextLarge,
.inputTextPermalink, .linkButton, div.confirmation,
div.warning, div.critical, .roundCorners {
	-moz-border-radius:4px;
	-webkit-border-top-radius:4px;
	border-radius:4px;
}