.features.detail-view .category > ul {
    border:1px solid #EAEAEA;
}
.features.features  .category {
    overflow:hidden;
    padding-bottom:1.5em;
}
.features.features.summary-view  .feature {
    border:1px solid #EAEAEA;
    display:block;
    float:left;
    height:5em;
    margin:0 .5% 1% .5%;
    position:relative;
    width:32.1%;
}
.features.features.summary-view  .feature:nth-child(3n+1),
.features.features.summary-view  .feature:nth-child(3n+2),
.features.features.summary-view  .feature:nth-child(3n) {
    width:32.55%;
}
.features.features.summary-view  .feature:nth-child(3n+1) {
    margin-left:0;
}
.features.features.summary-view  .feature:nth-child(3n+2) {
    margin-right:0;
}
.features.features.summary-view  .feature:nth-child(3n) {
    float:right;
    margin-left:0;
    margin-right:0;
}

.features.summary-view .feature {
    margin-bottom:.5em;
}
.features.detail-view .feature {
    padding:.25em 0;
}
.features.summary-view .feature {
    margin-bottom:inherit;
}
.features .enabled.feature {
    background:#FFF;
}
.features.summary-view .enabled.feature {
    border-color:#CFE493;
}
.features .disabled.feature {
    background:#EAEAEA;
}
.features.summary-view .disabled.feature {
    border-color:#CCC;
}
.features.detail-view .feature {
    border-bottom:1px solid #CCC;
}
.features.detail-view .last.feature {
    border:0;
}

.features .feature .summary {
    overflow:hidden;
    padding:.4em .5em;
    position:relative;
}
#main .features.detail-view h3 {
    display:inline;
    font-size:1.4em;
    font-weight:bold;
}
#main .features.summary-view .description {
    display:none;
}
#main .features.detail-view .description {
    display:inline;
    margin:0 0 1em .5ex;
}
.features.detail-view .description::before {
    content:" - ";
}
.features .dependencies li,
.features .actions {
    font-size:1.4em;
}
.features .dependencies {
    font-size:.9em;
    margin:.44em 0 0;
}
.features .dependencies>* {
    display:inline;
}
.features .dependencies li {
    display:inline;
    margin-left:.5em;
}
.features .dependencies li::after {
    content:", ";
}
.features .dependencies li:last-child::after {
    content:"";
}
.features .feature .actions {
    position:absolute;
    right:.4em;
    top:.4em;
}

.cathedral {
    bottom:0;
    font-size:.8em;
    position:absolute;
    right:3px;
}
.cathedral a,
.cathedral a:link,
.cathedral a:visited,
.cathedral form.inline.link button {
    color:#aeaeae;
}