@using Orchard.Utility.Extensions

@{
    string name = Model.Name;
    string actions = Model.State.Actions;
    var outcomes = String.Join(",", actions == null ? new string[0] : actions.Split(new []{','}, StringSplitOptions.RemoveEmptyEntries).Select(x => "'" + x.Trim() + "'").ToArray());
}

<div class="event activity-@name.HtmlClassify()" title="@Model.Description" data-outcomes="@outcomes">
    <div>@name.CamelFriendly()</div>
</div>
