@model Orchard.AuditTrail.ViewModels.AuditTrailTrimmingSettingsViewModel
<section class="audittrail-trimming-settings-section">
    <h2>@T("Trimming settings")</h2>
    @Html.LabelFor(m => m.RetentionPeriod, T("Retention period"))
    @Html.TextBoxFor(m => m.RetentionPeriod, new { @class = "text small" })
    <span class="hint">@T("The number of days of audit log data to retain.")</span>
</section>