/* 
    shape tracing container styles reset 
    must contain all tags used in the container
*/

#shape-tracing-container ul, 
#shape-tracing-container li {
    background-color: #fff;
    margin:0;
    padding:0;
    color:#000;
    font-size:100%;
}

#shape-tracing-container {
    clear:both;
    display:block;
    font-size:10pt;
    font-family:Segoe;
    left: 0px;
    bottom: 0px;
    position:fixed;
    z-index:999;
    width:100%;
    display:none;
    max-height:66%;
    height:24px; /* handle + toolbar */
    min-height:24px;
}

#shape-tracing-toolbar  {
    color:black;
    background: url(images/toolbar-bg.png) repeat-x;
    height:21px;
    padding-top:4px;
    padding-left:5px;
    padding-right:5px;
}

#shape-tracing-toolbar-switch  {
    display:block;
    float:right;
    width:14px;
    height:100%;
    background: url(images/expand.png) no-repeat;
}

#shape-tracing-toolbar-switch.expanded {
    background: url(images/collapse.png) no-repeat;
}

/* 
    this element is behind the stw to ensure the document is bigger and a scrollbar is added on the document
    so that the stw doesn't hide some content
*/
#shape-tracing-container-ghost  {
    width:100%;
    display:block;
}

#shape-tracing-resize-handle  {
    width:100%;
    display:block;
    height:5px;
    background-color:transparent;
    cursor:n-resize;
}

.shape-tracing-overlay {
    background-color:#eee;
    cursor: pointer;
}

#shape-tracing-window  {
    background-color: #fff;
    height:100%;
}

#shape-tracing-window li
{
    list-style-type:inherit;
}

#shape-tracing-window ul 
{
    margin-left:10px;
    padding-left:10px;
}
