#debug-control * {
    margin:0 !important;
    padding:0 !important;
}
#debug-control {
    background:#666;    
    border:1px solid #000;
    color:#FFF;
    float:left;
    font:12px/12px Consolas,"Lucida Console",Monaco,monospace; 
    left:0;
    position:fixed;
    top:0;
}
#debug-control :hover {
    color:yellow;
}
#debug-control .debug-active {
    color:Lime;
}
#debug-control ul {
    display:none;
}
#debug-control ul, #debug-control-toggle {
    float:left;
    padding:2px !important;
}
#debug-control li, #debug-control-toggle {
    cursor:pointer;
    display:inline;
    list-style-type:none;
    padding-left:2px !important;
    padding-right:2px !important;
    white-space:nowrap;
}
#debug-control li {
    border-right:1px solid #999;
}

.debug-shapes .shape-tracing .wrapper {
    background:#FFF;
    border:1px dotted #CA7230;
    margin:5px;
    padding:0px;
    display:inline-block;

    /* when there is nothing inside the shape, force to the size of the smart tag */
    min-width:20px;
    min-height:20px;
}
.debug-shapes  body
{
    margin-top:25px;
}

.debug-shapes .shape-tracing .wrapper :hover {
    background:#E0E9EE;
}

.shape-tracing .meta {
    display:none;
}

.debug-shapes .shape-tracing .meta  {
    clear:both;
    display:block;
    background:#cfc;
    font-size:9pt;
    font-family:Segoe;
    color:black;
    margin-top:5px;
}

.debug-zones .Zone { 
    border:1px dashed grey;
    margin:5px;
    position: relative;
}

.debug-zones .zone-name {
    position:absolute; top: 0px; left: 0px;
    display: block; background-color: #ddd; color: #434343; padding: 3px 6px;
    filter:alpha(opacity=70);
    opacity: 0.7;    
}

.debug-shapes .Zone :hover {
    background:#E0E9EE;
}

.meta .shape {
    color:black;
}

.meta .alternates {
    color:red;
}

.meta .wrappers {
    color:green;
}