@{
    if (Model.TotalItemCount > Model.PageSize) {
        // number of page number links to show, 0 means no link, 1 means only the current page, or more accepted.
        Model.Quantity = 5;

        Model.Metadata.Alternates.Clear();
        Model.Metadata.Type = "Pager_Links";
        
        <div id="pagination">
            @Display(Model)
        </div>
    }
}