<div>
  <h1 id="page-title">@Html.TitleForPage(T("Oops. Something went wrong ... sorry"))</h1>
  <div>
    <p>@T("An unhandled exception has occurred. The exception message was : {0}", @Model.Message).Text</p>
    <br />
    <p>@T("Please refresh the page. If the error persists, go back.").Text</p>
  </div>  
</div>
