@using System.Web.Mvc;

<div class="user-display">
    @if (WorkContext.CurrentUser != null) {
        <span class="user-actions welcome">
            @T("Welcome, <strong>{0}</strong>!", Display.ActionLink(Value: WorkContext.CurrentUser.UserName, Action: "ChangePassword", Controller: "Account", Area: "Orchard.Users"))
        </span>
        <span class="user-actions">
            @Display.ActionLink(Value: T("Sign Out"), Action: "LogOff", Controller: "Account", Area: "Orchard.Users", RouteValues: new { ReturnUrl = Context.Request.RawUrl })
            @Display.ActionLink(Value: T("Dashboard"), Action: "Index", Area: "Dashboard", Controller: "Admin")
        </span>
    } else {
        <span class="user-actions">@Display.ActionLink(Value: T("Sign In"), Action: "LogOn", Controller: "Account", Area: "Orchard.Users", RouteValues: new { ReturnUrl = (Request.QueryString["ReturnUrl"] ?? Request.RawUrl) })</span>
    }
</div>