@using System.Web.Mvc
        <div id="user-display">
@if (Request.IsAuthenticated) {
        @T("Welcome, <strong>{0}</strong>!", WorkContext.CurrentUser.UserName)
        @Html.ActionLink(T("Log Off").ToString(), "LogOff", new { Controller = "Account", Area = "Orchard.Users", ReturnUrl = Context.Request.RawUrl })
        @:&#124; @Html.ActionLink("Admin", "Index", new {Area = "Dashboard", Controller = "Admin"})
} else {
        @Html.ActionLink(T("Log On").ToString(), "LogOn", new { Controller = "Account", Area = "Orchard.Users", ReturnUrl = Context.Request.RawUrl })
}
        </div>