@{
	var id = Model.Id;
	if (id == null && Model.ZoneName != null) {
		id = (Model.Parent.Id == null ? "" : Model.Parent.Id + "-") + "Zone-" + Model.ZoneName;
	}
}
<div id="@id" class="Zone Zone-@Model.ZoneName">
    @DisplayChildren(Model)
</div><!-- /@id -->
