@model Orchard.Core.Navigation.Models.ShapeMenuItemPart

<fieldset>
    <div>
        @Html.LabelFor(m => m.ShapeType, T("Type of the shape to display"))
        @Html.TextBoxFor(m => m.ShapeType, new { @class = "text medium" })
    </div>
</fieldset>
