@model Orchard.Tags.Models.TagsPart
@{
	var tagsHtml = new List<IHtmlString>();
	foreach(var t in Model.CurrentTags) {
		if (tagsHtml.Any()) {
			tagsHtml.Add(new HtmlString(","));
		}
		tagsHtml.Add(Html.ActionLink(t.TagName, "Search", "Home", new { area = "Orchard.Tags", tagName = t.TagName }, new { }));
	}
}

@if (tagsHtml.Any()) {
    <p class="tags">
        <span>@T("Tags:")</span>
        @foreach(var htmlString in tagsHtml) { @htmlString }
    </p>
}
