@using Orchard.ContentManagement
@model Orchard.Dashboards.ViewModels.DashboardSiteSettingsViewModel
@{
    Layout.Title = T("Dashboard Settings").ToString();
}
@using (Html.BeginFormAntiForgeryPost()) {
    <section>
        <div class="form-group">
            @Display.ContentPicker_Edit(
                DisplayName: T("Default Dashboard").Text,
                SelectedItemsFieldName: Html.FieldNameFor(m => m.SelectedDashboardId),
                ContentItems: Model.SelectedDashboard != null ? new[] {Model.SelectedDashboard} : Enumerable.Empty<ContentItem>(),
                Hint: T("Select the content item to use as the dashboard.").Text,
                Types: new[]{ "Dashboard" })
        </div>
    </section>
    <button>@T("Save")</button>
}