@model IDeliverable.Widgets.Models.OutputCachePart
<fieldset>
    <div class="form-group">
        @Html.CheckBoxFor(m => m.Enabled)
        @Html.LabelFor(m => m.Enabled, T("Enable Output Cache").Text, new { @class = "forcheckbox" })
        <span class="hint">@T("Check to enable output caching for this widget's output.")</span>
    </div>
</fieldset>
