/*Blog specific styles
----------------------------------------------------------*/

.metadata, .manage {
    margin: 0 0 24px 0;
    font:80% Verdana, Geneva, Tahoma, sans-serif;
}

.metadata a, .manage a {
    float:right;
}

ul.blogs p {
    clear:both;
}