/*Yahoo browser reset
----------------------------------------------------------*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,
blockquote,th,td {margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
ol,ul { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
abbr,acronym { border:0; }
q:before,q:after {content:'';}
abbr,acronym { border:0;}

/*Defaults
----------------------------------------------------------*/

html {height: 100%;}

body {
	font: normal 100% Times New Roman, Times, serif;
	background:url(../Content/Images/bodyBackgroundgrey.gif) top left repeat-x #e5e5e5;
	height: 100%;
	text-align:left;
	color:#333;
}

/* ---------- Headings and defaults ---------- */

h1,h2,h3,h4,h5,h6, legend {font-weight:normal; font-style: normal; margin:12px 0 6px 0; color:#670404; border-bottom:1px solid #f1f1f1;}

h1 {font-size: 190%;}
h2 {font-size: 160%;}
h3 {font-size: 150%;}
h4 {font-size: 130%;}
h5 {font-size: 120%;}
h6 {font-size: 105%;}

p {line-height:24px; margin:12px 0 32px 0;}
p.small {line-height:22px; font-size:85%;}

a {
	color:#004386;
	color:#05325f;
	text-decoration:none;
}

ul.square {list-style:square; list-style-position:inside; line-height:24px; margin:0 0 0 12px;}
ol.decimal {list-style:decimal; list-style-position:inside; line-height:24px; margin:0 0 0 12px;}


/* Forms
----------------------------------------------------------*/

input[type="text"], #CommentText, #password {
    border:1px solid #DDDEDF;
    display: block;
}

fieldset {margin: 20px 0;}

fieldset div {margin:16px 0 0 0}
    
legend {
	font-size: 105%;
	border:none;
}

label {
	font:80% Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin:0 0 2px 0;
    }

input[type="text"], #CommentText, #password {
    border-color:#cacec6;
    padding:2px;
    width:90%;
    }

input[type="checkbox"] {
    margin:2px 0 20px 10px;
}

input[type="submit"], input[type="button"], .button {
	font:90% Verdana, Geneva, Tahoma, sans-serif;
	color:#333;
    padding:2px 14px;
    display: block;
    margin:2px 0 20px 0;
    font-weight:600;
    }
  
.forcheckbox {
    margin:0 0 0 4px;
    display:inline;
}


/* ---------- Layout ---------- */

#header {
	margin:0 38px 0 40px;
	height:75px;
	border-bottom:1px #d6d6d6 solid;
}


#header h1{
	float:left;
	font-size:220%;
	color:#000;
	padding:16px 0 0 0;
	border-bottom:none;
}

#logindisplay {
	font:80% Verdana, Geneva, Tahoma, sans-serif;
	float:right;
	margin:48px 8px 0 0;
}

#wrapper {
	width:985px;
	height:100%;
	display:block;
	margin:0em auto;
	background:url(../Content/Images/mainBackgroundgrey.png) no-repeat center top;
}

#main {
	clear:both;
	margin:20px 0 0 27px;
	width:930px;
	border:1px #f5f5f5 solid;
	border-top:none;
	background:url(../Content/Images/sidebarBackground.gif) no-repeat right top #fff;
}


#content {
	float:left;
	margin:0 0 0 27px;
	width:520px;
	min-height:555px;
}

#sidebar {
	float:right;
	margin:8px 12px 0 0;
	width:325px;
}

#sidebar h3 {
	border-bottom:1px solid #f1f1f1;
}


#content ul,#sideBar1 ul {
	list-style:none;
	line-height:normal;
}

#footer {
	font:80% Verdana, Geneva, Tahoma, sans-serif;
	color:#918e8e;
	clear:both;
	border-top:1px solid #d6d6d6;
	margin:0 12px 0 12px;
	padding:18px 0 18px 8px;
}

#footer a{
	text-transform:uppercase;
	color:#918e8e;
}

/* ---------- Navigation ---------- */

#menucontainer {
	width:960px;
	display:block;
	height:35px;
	margin:0em auto;
}

#menucontainer ul, #footer ul {
	list-style:none;
	float:right;
}

#menucontainer ul li {
	margin:8px 0 0 0;
	float:left;
	background:url(../Content/Images/navDivider.gif) no-repeat top right;
}

#menucontainer ul li.last {
	background:none;
}

#menucontainer ul li a {
	margin:0 18px 0 18px;
	font:80% Verdana, Geneva, Tahoma, sans-serif;
	display:block;
	text-decoration:none;
	text-transform:uppercase;
	float:left;
	color:#fff;
	}

