@using Orchard.Utility.Extensions
<div class="content-action-group">
    <button class="btn btn-primary" type="submit" name="submit.Save" value="submit.Save"><i class="fa fa-floppy-o" aria-hidden="true"></i> @T("Save")</button>
    @{ var returnUrl = Request.QueryString["returnUrl"]; }
    @if (!String.IsNullOrWhiteSpace(returnUrl) && Request.IsLocalUrl(returnUrl)) {
        <a id="button-cancel" href="@returnUrl" class="btn btn-default"><i class="fa fa-ban" aria-hidden="true"></i> @T("Cancel")</a>
    }
</div>