@using Orchard.ContentManagement;
@using Orchard.Core.Contents;
@if (AuthorizedFor(Permissions.EditContent) && Model.ContentItem.Id > 0) {
    <div class="content-control">
        <div class="manage-actions">@Html.ItemEditLinkWithReturnUrl(T("Edit").Text, (ContentItem)Model.ContentItem)</div>
    @Display(Model.Child)
    </div>
}
else {
    @Display(Model.Child)
}