@using Orchard.ContentManagement;
@using Orchard.Core.Contents;
@using Orchard.Utility.Extensions

@if (Authorizer.Authorize(Permissions.DeleteContent, (IContent)Model.ContentItem)) {
    <fieldset class="save-button">
        <button type="submit" name="submit.Delete" value="submit.Delete">@T("Delete")</button>
    </fieldset>
}