@using Orchard.ContentManagement;
@using Orchard.Core.Contents;
@{
    var contentItem = (ContentItem)Model.ContentItem;
    var authorizedFor = AuthorizedFor(Permissions.EditContent, contentItem);
}
@if (authorizedFor && Model.ContentItem.Id > 0) {
    <div class="content-control">
        <div class="manage-actions">@Html.ItemEditLinkWithReturnUrl(T("Edit").Text, contentItem)</div>
    @Display(Model.Child)
    </div>
}
else {
    @Display(Model.Child)
}