@using Orchard.ContentManagement;
@using Orchard.Core.Contents;

@if (Authorizer.Authorize(Permissions.PublishContent, (IContent)Model.ContentItem)) {
    <fieldset class="publish-button">
        <button class="primaryAction" type="submit" name="submit.Publish" value="submit.Publish">@T("Publish")</button>
    </fieldset>
}