@using Orchard.ContentManagement
@using Orchard.Core.Contents
@{
  ContentPart contentPart = Model.ContentPart;
}
@if (Authorizer.Authorize(Permissions.CreateContent, contentPart)) {
    <ul class="action-links action-links-item">
        <li class="action-link">
            <a href="@Url.Action("Clone", "Admin", new { Id = Model.ContentItem.Id, ReturnUrl = Request.RawUrl, Area = "Contents" })" itemprop="UnsafeUrl">@T("Clone")</a>
        </li>
    </ul>
}