@{
    Layout.Title = T("Upgrade Enumeration Fields").ToString();
}

@using (Html.BeginFormAntiForgeryPost()) {

    <fieldset>
        <button type="submit">@T("Upgrade values")</button>
    </fieldset>
}