@using Orchard.Utility.Extensions

@{ Layout.Title = T("Migrate Menu").ToString(); }
<div class="panel panel-default">
    @using (Html.BeginFormAntiForgeryPost()) {
        Html.ValidationSummary();
        <div class="panel-body">
            <fieldset>
                <legend>@T("Migrating Menu:")</legend>
                <span class="help-block">@T("This migration step will create a new Menu named \"Main Menu\" and add all your previous menu items to it. Finally it will create a new \"Menu Widget\" instance to render this menu on the website.")</span>
            </fieldset>
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary" type="submit">@T("Migrate")</button>
        </div>
    }
</div>