@model dynamic

@{
    Html.TitleForPage(T("Challenge Email Sent"));
}

<div class="alert alert-dismissable alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <i class="fa fa-check-circle"></i>&nbsp;&nbsp;@T("An email has been sent to you. Please click on the link it contains in order to have access on this site.")
</div>
