@model dynamic

@{
    Html.TitleForPage(T("Challenge Email"));
}

<div class="alert alert-dismissable alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <i class="fa fa-check-circle"></i>&nbsp;&nbsp;@T("Your email address has been validated.")
</div>