@using Orchard.DisplayManagement.Shapes
@using Orchard.DynamicForms.Elements
@using Orchard.Layouts.Helpers
@using Orchard.Layouts.Settings
@{
    var element = (TextField)Model.Element;
    var commonSettings = element.State.GetModel<CommonElementSettings>();
    var tagBuilder = (OrchardTagBuilder)TagBuilderExtensions.AddCommonElementAttributes(new OrchardTagBuilder("input"), Model);

    tagBuilder.AddCssClass("text");
    tagBuilder.Attributes["type"] = "text";
    tagBuilder.Attributes["value"] = Model.TokenizedValue;
    tagBuilder.Attributes["name"] = element.Name;
    tagBuilder.AddClientValidationAttributes((IDictionary<string, string>)Model.ClientValidationAttributes);

    if (!ViewData.ModelState.IsValidField(element.Name)) {
        tagBuilder.AddCssClass("input-validation-error");
    }
}

@if (element.ShowLabel) {
    <label for="@commonSettings.Id">@element.Label</label>
}
@Html.Raw(tagBuilder.ToString(TagRenderMode.SelfClosing))
@if (element.ValidationSettings.ShowValidationMessage == true) {
    @Html.ValidationMessage(element.Name)
}