@using Orchard.DynamicForms.Elements
@using Orchard.Layouts.Helpers
@using Orchard.Layouts.Settings
@{
    var element = (Enumeration)Model.Element;
    var commonSettings = element.State.GetModel<CommonElementSettings>();
    var attributes = (IDictionary<string, object>)TagBuilderExtensions.GetCommonElementAttributes(Model);
    var name = String.IsNullOrWhiteSpace(element.Name) ? "SelectList1" : element.Name;
    var options = (IEnumerable<SelectListItem>)Model.TokenizedOptions;
}
@if (element.ShowLabel) {
    <label for="@commonSettings.Id">@Html.Raw(element.Label)</label>
}
@Html.DropDownList(name, options, attributes)