@using Orchard;
@using Orchard.DisplayManagement.Descriptors;
@Display(Model.Metadata.ChildContent)
@{
	var workContext = ViewContext.GetWorkContext();
	var shapeTable = workContext.Resolve<IShapeTableManager>().GetShapeTable(workContext.CurrentTheme.ThemeName);
<!--    
	<ul>
		@foreach(var descriptor in shapeTable.Descriptors) {
			<li>@descriptor.Key : @descriptor.Value.BindingSource 
				@if(descriptor.Value.Wrappers.Any()){
					foreach(var wrapper in descriptor.Value.Wrappers) {
						@(" +"+wrapper)
					}
				}
			</li>
		}
	</ul>
-->
}