@using Orchard;
@using Orchard.DisplayManagement.Descriptors;
@Display(Model.Metadata.ChildContent)
@{
	var workContext = ViewContext.GetWorkContext();
	var shapeTable = workContext.Resolve<IShapeTableManager>().GetShapeTable(workContext.CurrentTheme.Name);
<!--    
	<ul>
		@foreach(var binding in shapeTable.Bindings) {
			<li>@binding.Key : @binding.Value.BindingSource</li>
		}
	</ul>
-->
}