<script>
    if (typeof jQuery == 'undefined') {
        document.write(unescape("%3Cscript src='/orchardlocal/modules/orchard.jquery/scripts/jquery-1.4.2.min.js'%3E%3C/script%3E"));
    }
</script>
<script>
    (function($) {
        $(function() {
            $("<div id='debug-control'><ul><li id='debug-shape-templates'>shape templates</li></ul><div id='debug-control-toggle'>&raquo;</div></div>")
                .appendTo("body");
            $("#debug-shape-templates").click(function() {
                var _this = $(this);
                $("html").toggleClass(_this.attr("id"));
                $(this).toggleClass("debug-active");
            });
            $("#debug-control-toggle").click(function() {
                var _this = $(this), open = "debug-open";
                if (_this.is(":animated")) {
                    alert("aghhhh!");
                    return;
                }
                if (_this.is("."+open)) {
                    _this.prev().hide("fast", function() {_this.removeClass(open).html("&raquo;");});
                } else {
                    _this.prev().show("fast", function() {_this.addClass(open).html("&laquo;");});
                }
            });
        });
    })(jQuery);
</script>
@Display(Model.Metadata.ChildContent)