@using Orchard;
@using Orchard.DisplayManagement.Descriptors;
@{
	var workContext = ViewContext.GetWorkContext();
	var shapeTable = workContext.Resolve<IShapeTableManager>().GetShapeTable(workContext.CurrentTheme.ThemeName);
	var descriptor = shapeTable.Descriptors[Model.Metadata.Type];	
}

<!-- ----DEBUG---- --><div class="thin-dotted-orange-border-with-a-little-padding" title="@Model.Metadata.Type @descriptor.BindingSource">
@Display(Model.Metadata.ChildContent)
</div><!-- ----/DEBUG---- -->