@using Orchard.Blogs.Extensions
@{
    Style.Require("BlogsAdmin");
}
@if (AuthorizedFor(Orchard.Blogs.Permissions.ManageBlogs)) {
<div class="item-properties actions">
    <p><a href="@Url.BlogEdit((string)Model.Slug)" class="edit">@T("Blog Properties")</a></p>
</div>
}