.contentItems {
    border:1px solid #D3D2D2;
}

button, .button, .button:link, .button:visited {
    cursor:pointer;
    padding: 4px 14px 4px 14px;
    text-align:center;
}

.button:link 
{
    
}

.button, .button:link, .button:visited {
    cursor:pointer;
    padding: 5px 14px 5px 14px;
    text-align:center;
}

.search-actions button {

   float:right;
   margin: 1px 0 0 5px;

}

.group {
zoom:1;
}
