.contentItems {
    border:1px solid #D3D2D2;
}

button, .button, .button:link, .button:visited {
    cursor:pointer;
    padding:0.1em 0.8em 0.2em 0.8em;
    text-align:center;
}

.button {
    line-height:inherit;
}