body{
	background:#fcfcfc;	
}
#branding 
{
	height:50px;
	margin:0 0 0 20px;
	background:transparent url(images/orchardLogo.gif) no-repeat scroll 0 0;
}
#branding h1 {
	padding:8px 0 0 38px;
}
#content {
	overflow:auto;
	padding:1.4em;
}

/* Navigation
----------------------------------------------------------*/

#navigation ul li {
    border:0;
	margin:0 0 0 4px;
}
#navigation li h3 a 
{
	color:#333;
	padding:6px 4px 8px 0px;
}

/* Forms
----------------------------------------------------------*/

legend {
	color:#333;
}

#AdminPassword, .text-box 
{
	border:1px solid #DDDEDF;
	padding:4px;
	width:98%;
}

.manage 
{
float:right;
width:15em;
margin:0 0 10px 8px;
overflow:hidden;
}

.manage a.button {
height:inherit;
margin-left:0.3em;
}

.manage a.primaryAction {
background:#4687AD none repeat scroll 0 0;
border:1px solid #8F8F8F;
color:#FFFFFF;
}

fieldset.bulk.actions {
width:30em;
clear:left;
text-align:left;
}

.button {
background:#F5F5F5 none repeat scroll 0 0;
display:inline;
text-align:right;
border:1px solid #999999;
color:#2D2F25;
cursor:pointer;
padding:0 0.8em 0.1em;
text-align:center;
}