/* begin: reset
   todo: (heskew) pare down and combine with existing selectors where appropriate */
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border:0;
	font-size:100%;
	margin:0;
	padding:0;
	vertical-align:baseline;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}
ins {
	text-decoration:none;
}
del {
	text-decoration:line-through;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
/* end: reset */


/* Base setup
----------------------------------------------------------*/
html {
    background:#2d2f25;
    color:#333;
}
body {
	color:#333;
    font-family:Segoe UI,Trebuchet,Arial,Sans-Serif;
    font-size:62.5%; /* 10px */
	line-height:1.6em;
    margin:0 auto 1em;
    min-width:94.6em; /* 946px */
    padding:0;
}
/*todo: (heskew) find out why I need this...*/
button {
    font-family:Segoe UI,Trebuchet,Arial,Sans-Serif;
    font-size:1.01em;
}
body#preview {
    min-width:0;
}
#content {
    background:#fcfcfc;
}


/* Layout

number of columns: 24; actual width: 946; column width: 26; gutter width:14

   |     24|     23|     22|     21|     20|     19|     18|     17|     16|     15|     14|     13|     12|     11|     10|      9|      8|      7|      6|      5|      4|      3|      2
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.5g|  0.759|  0.793|  0.829|  0.870|  0.914|  0.963|  1.017|  1.079|  1.148|  1.226|  1.316|  1.420|  1.542|  1.687|  1.862|  2.077|  2.349|  2.703|  3.182|  3.867|  4.930|  6.796| 10.938
 24|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
 23| 95.770|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
 22| 91.540| 95.583|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
 21| 87.310| 91.166| 95.379|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
 20| 83.080| 86.750| 90.758| 95.155|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
 19| 78.850| 82.333| 86.137| 90.311| 94.909|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
 18| 74.620| 77.916| 81.517| 85.466| 89.817| 94.635|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
 17| 70.390| 73.499| 76.896| 80.621| 84.726| 89.271| 94.331|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
 16| 66.161| 69.083| 72.275| 75.776| 79.634| 83.906| 88.663| 93.991|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
 15| 61.931| 64.666| 67.654| 70.932| 74.543| 78.542| 82.994| 87.982| 93.607|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
 14| 57.701| 60.249| 63.033| 66.087| 69.452| 73.177| 77.326| 81.972| 87.213| 93.170|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
 13| 53.471| 55.832| 58.412| 61.242| 64.360| 67.813| 71.657| 75.963| 80.820| 86.340| 92.669|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
 12| 49.241| 51.416| 53.791| 56.398| 59.269| 62.448| 65.988| 69.954| 74.426| 79.510| 85.338| 92.089|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
 11| 45.011| 46.999| 49.171| 51.553| 54.178| 57.084| 60.320| 63.945| 68.033| 72.680| 78.008| 84.178| 91.410|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
 10| 40.781| 42.582| 44.550| 46.708| 49.086| 51.719| 54.651| 57.935| 61.639| 65.849| 70.677| 76.268| 82.819| 90.602|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---|    ---
  9| 36.551| 38.165| 39.929| 41.863| 43.995| 46.355| 48.983| 51.926| 55.246| 59.019| 63.346| 68.357| 74.229| 81.205| 89.628|100.000|    ---|    ---|    ---|    ---|    ---|    ---|    ---
  8| 32.321| 33.749| 35.308| 37.019| 38.903| 40.990| 43.314| 45.917| 48.852| 52.189| 56.015| 60.446| 65.639| 71.807| 79.255| 88.427|100.000|    ---|    ---|    ---|    ---|    ---|    ---
  7| 28.091| 29.332| 30.687| 32.174| 33.812| 35.626| 37.645| 39.908| 42.459| 45.359| 48.684| 52.535| 57.048| 62.410| 68.883| 76.855| 86.913|100.000|    ---|    ---|    ---|    ---|    ---
  6| 23.861| 24.915| 26.066| 27.329| 28.721| 30.261| 31.977| 33.898| 36.066| 38.529| 41.353| 44.625| 48.458| 53.012| 58.511| 65.282| 73.826| 84.942|100.000|    ---|    ---|    ---|    ---
  5| 19.631| 20.498| 21.445| 22.484| 23.629| 24.897| 26.308| 27.889| 29.672| 31.699| 34.023| 36.714| 39.868| 43.614| 48.138| 53.709| 60.738| 69.884| 82.273|100.000|    ---|    ---|    ---
  4| 15.401| 16.082| 16.825| 17.640| 18.538| 19.532| 20.640| 21.880| 23.279| 24.869| 26.692| 28.803| 31.278| 34.217| 37.766| 42.136| 47.651| 54.826| 64.545| 78.453|100.000|    ---|    ---
  3| 11.171| 11.665| 12.204| 12.795| 13.446| 14.168| 14.971| 15.871| 16.885| 18.039| 19.361| 20.892| 22.687| 24.819| 27.394| 30.564| 34.564| 39.768| 46.818| 56.906| 72.535|100.000|    ---
  2|  6.941|  7.248|  7.583|  7.950|  8.355|  8.803|  9.302|  9.861| 10.492| 11.208| 12.030| 12.982| 14.097| 15.422| 17.021| 18.991| 21.477| 24.710| 29.091| 35.359| 45.070| 62.136|100.000
  1|  2.711|  2.831|  2.962|  3.106|  3.264|  3.439|  3.634|  3.852|  4.098|  4.378|  4.699|  5.071|  5.507|  6.024|  6.649|  7.418|  8.389|  9.653| 11.364| 13.812| 17.606| 24.272| 39.063
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
   |     24|     23|     22|     21|     20|     19|     18|     17|     16|     15|     14|     13|     12|     11|     10|      9|      8|      7|      6|      5|      4|      3|      2

----------------------------------------------------------*/
#header, #footer {
    width:100%;
}
#header {
    overflow:hidden;
}
#content {
    overflow:auto;
    padding:1.4em;
    background:#fcfcfc;
}
#main {
    display:inline;
    float:right;
    width:83.08%;
}
#navigation {
    display:inline;
    float:left;
    width:15.401%;
}
.wrapper, .sections {
    overflow:hidden;
}
.sections .primary {
    display:inline;
    float:left;
    width:74.543%;
}
.sections .secondary {
    display:inline;
    float:left;
    margin-left:1.71%;
    width:23.629%;
}

/* Headings and defaults
----------------------------------------------------------*/
h1, h2, h3, h4, h5, legend {
    padding:.4em 0;
    font-style: normal;
    font-weight:normal;
}
h1 { font-size:2.6em; } /* 26px */
h2 { font-size:2.1em; } /* 21px */
h2 span { font-size:.57em; } /* 12px */
h3 { font-size:1.8em; } /* 18px */
h4 { font-size:1.6em; } /* 16px */
h5 { font-size:1.4em; } /* 14px */

h6, p, label, /*input, select,*/ .button,
.message, .validation-summary-errors,
table.items th, table.items td, table.items caption { font-size:1.4em; line-height:1.4em; } /* 14px */
table.items p, table.items label, table.items input, table.items .button { font-size:1em; line-height:1em; }
p .button { font-size:inherit; }
.meta, .hint { font-size:1.2em; } /* 12px */

/* Links
----------------------------------------------------------*/
a, a:link, a:visited,
form.link button {
    color:#1e5d7d;
    text-decoration:none;
}
form.link button {
    height:1.3em;
}
a:hover, a:active, a:focus {
    color:#1e5d7d;
    text-decoration:underline;
}
form.link button:hover {
    border-bottom:1px solid #1e5d7d;
}

/* Header - Branding and Login  
----------------------------------------------------------*/
#header {
	background:#2d2f25 url(images/backgroundHeader.gif) no-repeat bottom right;
	height:50px;
}
#header #app {
    float:left;
    font-size:2.4em;
    padding:.4em 0;
}
#header #app a {
	background:url(images/orchardLogo.gif) no-repeat;
	display:block;
	height:60px;
	margin:-11px 0 0 14px;
	text-indent:-9999px;
	width:105px;
}
#header #app a {
	background:url(images/orchardLogo.gif) no-repeat;
	display:block;
	height:60px;
	margin:-11px 0 0 14px;
	text-indent:-9999px;
	width:35px;
}
#site {
    font-size:2em;
}
#site a, #site a:visited, #site a:active {
	color:#fff;
	float:left;
	line-height:2.2em;
	padding:0 0 0 6px;
	position:relative;
}
#login {
    font-size:1.5em;
	color:#fff;
	display:block;
	float:right;
	margin:16px 20px 0 0;
	white-space:nowrap;
}
#login a, #login a:link, #login a:visited {
    color:#fff;
    padding:0;
}
#login a:hover, #login a:active, #login a:focus {
    color:#ffea9b;
}


/* Navigation
----------------------------------------------------------*/
#navshortcut {
    height:0;
    overflow:hidden;
    width:0;
}
#navigation li {
	margin:7px 0 20px 0;
}
#navigation ul li {
    border:0;
    margin:0;
}
#navigation li h3 {
    padding:0;
}
#navigation li h3 a, #navigation li h3 span {
	border-bottom:1px solid #bdbcbc;
    display:block;
	padding:6px 4px 8px 8px;
}
#navigation li h3 a, #navigation li h3 a:link, #navigation li h3 a:visited {
    color:inherit;
}
#navigation li h3 a:hover, #navigation li h3 a:active, #navigation li h3 a:focus {
    text-decoration:none;
}
#navigation ul a, #navigation ul a:link, #navigation ul a:visited {
	color:#2d2f25;
	display:block;
	font-size:1.4em;
	height:28px;
	line-height:28px;
	padding:0 0 0 12px;
	text-decoration:none;
}
#navigation ul a:hover, #navigation ul a:active, #navigation ul a:focus {
	background:#f5f5f5;
	color: #000;
	text-decoration:underline;
}


/* Content
----------------------------------------------------------*/
#main h1 {
    margin:0 0 1em;
}
#main h2, #main h3 {
    margin:.5em 0;
}
#main p {
    margin:0 0 1.5em;
}
#main .main.actions {
    margin:0 0 1.4em;
}
#main .meta {
    margin:-.4em 0 .4em;
}
#main form {
    margin:.345em 0 1.38em;
}
#main form.inline {
    margin:0;
}
#main h1, #main h2 {
    border-bottom:1px solid #bdbcbc;
}


/* Confirmations, Messages and the like
----------------------------------------------------------*/
.message, .validation-summary-errors {
	margin:10px 0 4px 0;
    padding:4px;
}
span.message {
    display:block;
	margin:4px 0 4px 4px;
}
.message a {
    font-weight:bold;
}

.confirmation.message {
	background:#D1F2A5; /* green */
	border:1px solid #BCD994;
}
.warning.message {
	background:#fdf5bc; /* yellow */
	border:1px solid #ffea9b;
}
/* todo: (heskew) what else (other inputs) needs this? */
.critical.message, .validation-summary-errors,
.input-validation-error.text-box, .input-validation-error.text {
	border:1px solid #990808;
}
.critical.message, .validation-summary-errors {
	background:#e68585; /* red */
	color:#fff;
}
.info.message {
    background:#D1F2A5; /* green*/
	border:1px solid #BCD994;
	color:#062232;
}
.debug.message {
    background:#eee;
	border:1px dashed #D2D6C6;
	color:#7a7a7a;
	margin:20px 0 14px 0;
}
.debug.message:before {
    content:"DEBUG » ";
}


/* Forms   
----------------------------------------------------------*/
form.inline, form.inline fieldset { /* todo: (heskew) need something other than .inline ... */
    display:inline;
}
form.inline fieldset {
    margin:0;
}
fieldset.bulk.actions {
    display:inline;
    height:auto;
    margin:0 1.4em 0 0;
    padding-top:0;
}
legend {
    font-size:1.6em;
    font-weight:bold;
}
legend span {
    font-weight:normal;
}
label {
	display: block;
	color:#4c4c4c;
	font-weight:bold;
}
label.forcheckbox {
    display:inline;
    line-height:1.8em;
}
fieldset.bulk.actions label, label.sub {
    display:inline;
}
label span {
	font-weight:normal;
}
label input {
    vertical-align:text-top;
}
.hint {
    display:block;
}
.hint.forcheckbox {
    text-indent:3ex; /* todo: (heskew) this might look out of place */
}
/* todo: (heskew) try to get .text on stuff like .text-box */
select, textarea, input.text, input.textMedium, input.text-box {
	padding:2px;
	border:1px solid #bdbcbc;
}
input.text, input.textMedium, input.text-box {
    line-height:1.2em;
}
input.textMedium {
    width:26em;
}
select:focus, textarea:focus, input.text:focus, input.text-box:focus {
	border-color:#666d51;
}
input.check-box {
    margin-left:0;
    vertical-align:-.1em;
}
.permalink input {
    background:transparent;
    border-color:#EAE9D9;
    border-style:dashed;
    margin-left:0;
	width:350px;
}
.permalink input:focus {
    background:#FFF;
    border-color:#666d51;
    border-style:solid;
}
input.large.text, textarea, fieldset {
    clear:both;
}
fieldset {
    margin:0 0 1.3em 0;
    padding:6px 0 0;
}
/* Settings page styles */
.settings fieldset {
    margin:.5em 0;
    padding:1em;
}
.orchard-media fieldset div, .settings fieldset div, .orchard-media .button, .settings .button {
    margin:1em 0 .5em 1em;
}
.settings legend {
    margin:0 0 -.4em 0;
}
/* todo: This style is the same as textMedium. Consolidate if possible */
.settings input.text, .settings input.text-box {
    width:26em;
}
textarea {
    min-height:8em;
}
#main input.large.text, #main textarea {
    padding:4px;
    width:99%;
}
#main .primary input.large.text, #main .primary textarea {
    margin:0;
    padding:4px;
    width:98.8%;
}
/* todo: (heskew) move editor specific style elsewhere */
.primary .mceEditor {
    display:block;
    margin:0;
}
.secondary fieldset {
    margin:.446% 0 .446% .446%;
    padding:4px;
    width:98.662%;
}

button, .button, .button:link, .button:visited {
	background:#f5f5f5;
	border:1px solid #999;
	color:#2d2f25;
	cursor:pointer;
	text-align:center;
	padding:0 .8em .1em;
}
button {
    padding-top:.08em;
}
form.link button {
    background:inherit;
    border:0;
    padding:0;
    width:auto;
    margin:-2px -3px 0;
    
}
.primaryAction, .primaryAction:link, .primaryAction:visited {
	background:#4687ad;
	border:1px solid #8f8f8f;
	color:#fff;
}
button.remove, .remove.button, .remove.button:link, .remove.button:visited {
    background-color:#DECCCA;
    background-image:url(images/tableHeaderBackgroundRed.gif);
    border-color:#d6c9c7;
    color:#5c3732;
}
button:hover, .button:hover,
button:active, .button:active,
button:focus, .button:focus {
    background:#ffac40;
    border-color:#bb8b2d;
    color:#fff;
    text-decoration:none;
}
button:focus::-moz-focus-inner, .button:focus::-moz-focus-inner {
    border-color:#8a8f7a;
}
button.remove:hover, .remove.button:hover,
button.remove:active, .remove.button:active,
button.remove:focus, .remove.button:focus {
    background:#8f7c79;
    border-color:#6e5551;
    color:#faedeb;
}
button.remove:focus::-moz-focus-inner, .remove.button:focus::-moz-focus-inner {
    border-color:#8f7c79;
}
.delete.button {
    float:right;
}
.cancel {
    margin:0 0 0 .93em;
}
.manage {
    float:right;
    margin:0 0 10px 8px;
    overflow:hidden;
}
.actions {
    height:2em;
    overflow:hidden;
    padding:.6em 0 .1em;
    text-align:right;
}
.contentItems .actions li {
    background:inherit;
    border:0;
    padding:0;
}
.actions .construct {
    float:left;
}
.actions .destruct {
    float:right;
}
.manage a.button {
    float:right;
    height:inherit;
    margin-left:.3em;
}


/* Icon buttons
----------------------------------------------------------*/
.ibutton, .ibutton:link, .ibutton:visited,
button.ibutton, button.ibutton:hover, button.ibutton:focus, button.ibutton:active {
    background:url(images/icons.png) 0 -20px;
    border:0;
    display:inline;
    float:left;
    height:17px;
    overflow:hidden;
    padding:0 0 0 17px;
    width:0;
}
button.ibutton {
    text-indent:-9999em;
}
.ibutton:hover, .ibutton:active, .ibutton:focus { background-position:0 0; }
.ibutton.remove,
.ibutton.remove:link,
.ibutton.remove:visited { background-position:-20px -20px; }
.ibutton.remove:hover, .ibutton.remove:active, .ibutton.remove:focus { background-position:-20px 0; }
.ibutton.view,
.ibutton.view:link,
.ibutton.view:visited { background-position:-40px -20px; }
.ibutton.view:hover, .ibutton.view:active, .ibutton.view:focus { background-position:-40px 0; }
.ibutton.add.page,
.ibutton.add.page:link,
.ibutton.add.page:visited { background-position:-60px -20px; }
.ibutton.add.page:hover, .ibutton.add.page:active, .ibutton.add.page:focus { background-position:-60px 0; }
.ibutton.edit,
.ibutton.edit:link,
.ibutton.edit:visited { background-position:-80px -20px; }
.ibutton.edit:hover, .ibutton.edit:active, .ibutton.edit:focus { background-position:-80px 0; }
.ibutton.publish,
.ibutton.publish:link,
.ibutton.publish:visited { background-position:-100px -20px; }
.ibutton.publish:hover, .ibutton.publish:active, .ibutton.publish:focus { background-position:-100px 0; }
.ibutton.blog,
.ibutton.blog:link,
.ibutton.blog:visited { background-position:-120px -20px; }
.ibutton.blog:hover, .ibutton.blog:active, .ibutton.blog:focus { background-position:-120px 0; }


/* todo: (heskew) needs attention */
.withActions {
    overflow:hidden;
}
.withActions a {
    display:inline;
    float:left;
    margin-right:7px;
}


/* Content item lists
----------------------------------------------------------*/
.contentItems {
    background:#FFF;
    margin:1.4em 0;
    padding:2px;
}
.contentItems li {
    background:#FFF;
    border-bottom:1px solid #eaeaea;
    margin:0;
    overflow:hidden;
    padding:.4em 1.4em;
}
.contentItems li.first {
	background:#fff url(images/backgroundGradient.gif) repeat-x top left;
}
.contentItems li li.last {
    border-bottom:0;
}
#main .contentItems li h3 {
    border-bottom:0;
    margin-top:0;
}
#main .contentItems li .actions {
    color:#EAE9D9;
    height:auto;
    margin:-1.3em 0 0;
    padding:0 0 .1em;
}
#main .contentItems li .actions .ibutton {
    margin-right:6px;
}
#main .contentItems li .actions .destruct .ibutton {
    margin-left:8px;
    margin-right:0;
}
#main .contentItems li:hover .ibutton { background-position:0 0; }
#main .contentItems li:hover .ibutton.remove { background-position:-20px 0; }
#main .contentItems li:hover .ibutton.view { background-position:-40px 0; }
#main .contentItems li:hover .ibutton.add.page { background-position:-60px 0; }
#main .contentItems li:hover .ibutton.edit { background-position:-80px 0; }
#main .contentItems li:hover .ibutton.publish { background-position:-100px 0; }
#main .contentItems li:hover .ibutton.blog { background-position:-120px 0; }


/* (Items) Tables
----------------------------------------------------------*/
table.items {
	background:#fff;
	border:1px solid #eaeaea;
	border-bottom:none;
	border-collapse:separate;
	border-spacing:0;
	width:100%;
}
table.items caption {
	padding:8px 0;
	text-indent:0;
}
table.items col {
	border-spacing:0;
	display:table-column;
}
table.items colgroup 
{
	border-spacing:0;
	display:table-column-group;
}
table.items tbody {
	border-spacing:0;
	vertical-align:middle;
}
table.items thead, table.items th {
	background:#f5f5f5;
	font-weight:700;
	overflow:hidden;
	text-align:left;
}
/* todo: (heskew) hook back up */
table.items tr.hover {
    background-color:#f0f3d6;
}
table.items tr.critical {background:#e68585; border:inherit;}
table.items tr.warning {background:#fdf5bc; border:inherit;}
table.items th, table.items td {
	border-bottom:1px solid #eaeaea;
	border-spacing:0px;
	display:table-cell;
	padding:8px 12px;
	vertical-align:middle;
}
/* todo: Find a better way to do this. These are a fix for buttons and label fonts becomming too large in a table.*/
table label {
    font-size:1em;
}
table .button {
    font-size:1em;
}


/* MISC.
todo: (heskew) pull out into relevant modules where appropriate
----------------------------------------------------------*/

/* Pages
----------------------------------------------------------*/
#main .templates p {
    margin:0 0 .3em 0;
}
.templates li {
    margin:.8em;
    width:30%;
    display: -moz-inline-stack;
    display:inline-block;
    vertical-align:top;
    zoom:1;
    *display: inline;
}
.templates .inline button {
    font-size:1.2em;
}
.templates .wasFormInlineLink {
    font-size:1.4em;
}
.templates p {
    overflow:hidden;
}
.templates img, .themePreviewImage {
	border:1px solid #e8e8e8;
    height:200px;
    margin:.27em 0 .93em 0;
    display:block;
}
.previewImage {
	border:1px solid #525e50;
	height:50%;
	width:50%;
}
.themes #main h2 {
    margin:1em 0 0 0;
}
.themePreviewImage {
	height:300px;
}

/* Rounded borders and other "works in some browsers" additions
----------------------------------------------------------
#content, #navigation li, button, .button,
table.items, textarea, input.text, input.text-box,
.contentItems, .message, .validation-summary-errors {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
#navigation li h4 a {
	-moz-border-radius:3px 3px 0 0;
	-webkit-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
}*/



/* Added classes for new blog list layout
---------------------------------------------------------- */
.blogdescription {
    margin-top:1em;
}
.summary {
    overflow:auto;
    padding:1.2em .4em;
}
.actions {
    clear:right;
    height:auto;
    overflow:visible;
    padding:0;
    text-align:right;
}
.contentItems {
    clear:both;
    padding:0;
}
.properties {
    float:left;
}
.blogs.contentItems .properties {
    float:none;
}
#main .contentItems .properties h3 {
    border-bottom:none;
    margin:0;
    padding:0;
}
.related{
     font-size:1.4em;
     float:right;
     text-align:right;
}
/*todo: (heskew) cleanup */
.related .button {
    font-size:1em;    
}
/*end todo*/
.commentcount {
    line-height:2em;
}
.contentItems .properties ul li{
    border:0;
    float:left;
    padding:.8em 0;
    font-size:1.4em;
    background:inherit;
}
.icon {
    margin:0 .2em -.2em .2em;
}
h3 .icon {
    margin-bottom:-.05em;
}
.linkButton {
    border:none;
    padding:0;
    background:none;
    color:#1E5D7D; 
    }   
.linkButton:hover {
    background-color:Transparent;
    text-decoration:underline;
    color:#1E5D7D;
    }
   
 /* Added classes for new page list layout
---------------------------------------------------------- */  
.pageList {
     margin:0;
     padding:0;
     background:#FFFFFF url(images/backgroundGradient.gif) repeat-x scroll left top;
     }
.orchard-pages .contentItems {
     margin:1em 0 0 0;
     padding:0;
 }
.contentItems .properties ul.pageStatus {
    margin:0.8em 0 0 2em;
}    
.contentItems .properties ul.pageStatus li {
    margin:0;
    padding:0 0 .1em 0;
}
.properties h3 {
    display:inline;
}

/* Added classes for media
---------------------------------------------------------- */  
.breadCrumbs, .folderProperties {
    float:left;
    margin:-2em 0 0 0;
}
.folderProperties {
    float:right;
}
/* ---------- Generic ---------- */

.clearBoth {
	clear:both;
}