@{
    Style.Include("~/Modules/Orchard.Layouts/Styles/default-grid.css");
    Style.Include("Engine.JCarousel.css", "Engine.JCarousel.min.css");
    Script.Require("jQuery");
    Script.Include("Engine.JCarousel.js", "Engine.JCarousel.min.js");
}
@{
    var slides = (IList<dynamic>)Model.Slides;

    if (slides.Any())
    {
        <!-- Wrapper -->
        <div class="jcarousel-wrapper">

            <!-- Carousel -->
            <div class="jcarousel">
                <ul>
                    @foreach (var slide in slides)
                    {
                        <li>
                            @Display(slide)
                        </li>
                    }
                </ul>
            </div>

            <!-- Controls -->
            <a class="jcarousel-prev" href="#">@T("Prev")</a>
            <a class="jcarousel-next" href="#">@T("Next")</a>
        </div>
    }
}