<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net452" />
  <package id="log4net" version="2.0.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.0" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="MySql.Data" version="6.7.9" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="Npgsql" version="2.2.3" targetFramework="net452" />
  <package id="Orchard.NuGet.Core" version="1.1.0.0" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
</packages>