<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<naxosWebToolsConfig xmlns="urn:Naxos.Utility.WebTools">
  	  <naxosServicesAPI accessKey="AKIAJ3CTMHQ4T3QHWKEA" audioUrl="http://service.naxos.com/media/audio" privateKey="911mq5nzURIl37YvR+NADcEddyqthWjOIBYYM5rB" xdt:Transform="Insert"/>
	</naxosWebToolsConfig>
	<configSections>
    	<section name="naxosWebToolsConfig" type="Naxos.Utility.WebTools.NaxosWebToolsConfig, Naxos.Utility.WebTools, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" xdt:Transform="Insert" />
    </configSections>
</configuration>