<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <remove name="host" />
      <remove name="pages" />
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Enabled" value="false"/>
    <add key="log4net.Config" value="Config\log4net.config"/>

    <add key="price.issue.us" value="4.95"/>
    <add key="price.issue.ca" value="6.95"/>
    <add key="price.issue.any" value="12.95"/>
    <add key="price.subscription.us" value="9.90"/>
    <add key="price.subscription.ca" value="13.9"/>
    <add key="price.subscription.any" value="25.90"/>
    <add key="price.vpaper.us" value="4.95"/>
    <add key="price.vpaper.ca" value="4.95"/>
    <add key="price.vpaper.any" value="4.95"/>
	<add key="payment.redirect.vpaper" value="http://www.myvirtualpaper.com/doc/destination-wedding/destination-i-do-magazine---summer-2012/2012060501/#0" />
    
    <!-- staging settings -->
    <!--<add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="WepayAccessToken" value="STAGE_176a3ddc53821415dba83d037c327fdaa3e09483fed6c48c6c544cf4fd4cd1ed"/>
    <add key="WepayAccountId" value="132855832 "/>
    <add key="WepayClientSecret" value="976a2acc48 "/>
    <add key="WepayClientId" value="52222"/>
    <add key="ProductionMode" value="false" />-->
    <!-- production settings -->
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="WepayAccessToken" value="PRODUCTION_2579019cf8e14cb60277bcbb47d13899aee63b75e821bb024bebe8a8d639672a"/>
    <add key="WepayAccountId" value="1614257476"/>
    <add key="WepayClientSecret" value="6aed3922a9"/>
    <add key="WepayClientId" value="199862"/>
    <add key="ProductionMode" value="true" />
  </appSettings>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <pages pageBaseType="Orchard.Mvc.ViewEngines.Razor.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
        <add namespace="Orchard.Mvc.Html" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <!-- 
        Set default transaction timeout to 30 minutes so that interactive debugging 
        is easier (default timeout is less than one minute)
  -->
  <system.transactions>
    <defaultSettings timeout="00:30:00" />
  </system.transactions>
  <system.web>
    <!--<trust level="Medium" originUrl="" />-->
    <httpRuntime requestValidationMode="2.0" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
    <compilation debug="false" targetFramework="4.0" batch="true" numRecompilesBeforeAppRestart="250" optimizeCompilations="true">
      <buildProviders>
        <add extension=".csproj" type="Orchard.Environment.Extensions.Compilers.CSharpExtensionBuildProviderShim" />
      </buildProviders>
      <assemblies>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <remove assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <remove assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <remove assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <remove assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <remove assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <remove assembly="System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <remove assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <remove assembly="System.Activities, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <remove assembly="System.ServiceModel.Activities, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <remove assembly="System.WorkflowServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <remove assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <remove assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Forms">
      <forms loginUrl="~/Users/Account/AccessDenied" timeout="60" />
    </authentication>
    <sessionState timeout="60" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
    -->
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
        <add namespace="Orchard.Mvc.Html" />
      </namespaces>
    </pages>
    <httpHandlers>
      <!-- see below -->
      <clear />
      <!-- This section registers some static files to be served
      <add path="robots.txt" verb="GET" type="System.Web.StaticFileHandler" />
      <add path="sitemap.xml" verb="GET" type="System.Web.StaticFileHandler" />
      -->
      <add path="*" verb="*" type="System.Web.HttpNotFoundHandler" />
    </httpHandlers>
    <httpModules>
      <add name="WarmupHttpModule" type="Orchard.WarmupStarter.WarmupHttpModule, Orchard.WarmupStarter, Version=1.0.20, Culture=neutral" />
    </httpModules>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="WarmupHttpModule" />
      <add name="WarmupHttpModule" type="Orchard.WarmupStarter.WarmupHttpModule, Orchard.WarmupStarter, Version=1.0.20, Culture=neutral" />
    </modules>
    <handlers accessPolicy="Script">
      <!-- clear all handlers, prevents executing code file extensions, prevents returning any file contents -->
      <clear />
      <!-- This section registers some static files to be served
      <add name="Robots" path="robots.txt" verb="GET" modules="StaticFileModule" preCondition="integratedMode" resourceType="File" requireAccess="Read" />
      <add name="SiteMap" path="sitemap.xml" verb="GET" modules="StaticFileModule" preCondition="integratedMode" resourceType="File" requireAccess="Read" />
      -->
      <!-- Return 404 for all requests via managed handler. The url routing handler will substitute the mvc request handler when routes match. -->
      <add name="NotFound" path="*" verb="*" type="System.Web.HttpNotFoundHandler" preCondition="integratedMode" requireAccess="Script" />
      <!-- WebApi -->
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!-- Prevent IIS 7.0 from returning a custom 404/500 error page of its own -->
    <httpErrors existingResponse="PassThrough" />
    
		<rewrite>
			<rules>
				<rule name="AWS entrance" stopProcessing="true">
					<match url="(.*$)" ignoreCase="true" />
						<conditions>
							<add input="{HTTP_HOST}" pattern="destination.azurewebsites.net" />
						</conditions>
				</rule>

        <rule name="to 'about us'" stopProcessing="true">
          <match url="^(the_destination_wedding_magazine)|(about_mag)/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/about-us" redirectType="Permanent" />
        </rule>
        
        <rule name="to 'articles'" stopProcessing="true">
          <match url="^(featured_articles)/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/articles" redirectType="Permanent" />
        </rule>
        
        <rule name="to 'home'" stopProcessing="true">
          <match url="^(buzz)|(testimonials)/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com" redirectType="Permanent" />
        </rule>
				
				<rule name="to 'subscription'" stopProcessing="true">
          <match url="^(subscribe)|(magazine_subscription)/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/subscription" redirectType="Permanent" />
        </rule>
				
				<rule name="to 'back issues'" stopProcessing="true">
          <match url="^(order_backissues)/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/back-issues" redirectType="Permanent" />
        </rule>
        				
				<rule name="to 'sign up'" stopProcessing="true">
          <match url="^(sign_up)/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/sign-up" redirectType="Permanent" />
        </rule>
        				
				<rule name="to 'contact form'" stopProcessing="true">
          <match url="^(request_adrates)/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/contact-form" redirectType="Permanent" />
        </rule>
        				
				<rule name="to 'advertise'" stopProcessing="true">
          <match url="^(media_kit)/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/advertise" redirectType="Permanent" />
        </rule>
        				
				<rule name="to 'contact-us1'" stopProcessing="true">
          <match url="^contact/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/contact-us" redirectType="Permanent" />
        </rule>

				<rule name="to 'contact-us2'" stopProcessing="true">
          <match url="^contact_us/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/contact-us" redirectType="Permanent" />
        </rule>
        				
				<rule name="to 'submission-guidelines'" stopProcessing="true">
          <match url="^(submission_guidelines)/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/submission-guidelines" redirectType="Permanent" />
        </rule>
        				
				<rule name="to 'blog'" stopProcessing="true">
          <match url="^(_the_blog)/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/blog" redirectType="Permanent" />
        </rule>
        
        <rule name="Blog /blog" stopProcessing="true">
          <match url="(.*)/?$" ignoreCase="true" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="destinationidoblog.com" />
          </conditions>
          <action type="Redirect" url="http://destinationido.com/blog/{R:1}" redirectType="Permanent" />
        </rule>

        <rule name="Remove trailing slash or .html" stopProcessing="true">
          <match url="(.*)/$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="{R:1}" />
        </rule>

        <rule name="Remove trailing .html" stopProcessing="true">
          <match url="(.*)\.html$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="{R:1}" />
        </rule>
				
				<rule name="to 'did'" stopProcessing="true">
          <match url="^(did)/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/" redirectType="Permanent" />
        </rule>

				<rule name="quick facts antigua" stopProcessing="true">
          <match url="^Quick_Facts/Antigua_and_Barbuda/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/antigua-and-barbuda" redirectType="Permanent" />
        </rule>
        
				<rule name="quick facts big-islan" stopProcessing="true">
          <match url="^Quick_Facts/Big_Island_of_Hawaii/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/big-island-of-hawaii" redirectType="Permanent" />
        </rule>
        
				<rule name="quick facts british-virginia" stopProcessing="true">
          <match url="^Quick_Facts/British_Virgin_Islands/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/british-virgin-islands" redirectType="Permanent" />
        </rule>
                
				<rule name="quick facts cayman" stopProcessing="true">
          <match url="^Quick_Facts/Cayman_Islands/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/cayman-islands-2" redirectType="Permanent" />
        </rule>
                
				<rule name="quick facts cayman" stopProcessing="true">
          <match url="^Quick_Facts/Dominican_Republic/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/Dominican-Republic" redirectType="Permanent" />
        </rule>
                         
				<rule name="quick great britain" stopProcessing="true">
          <match url="^Quick_Facts/Great_Britain/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/great-britain" redirectType="Permanent" />
        </rule>
                
				<rule name="quick new mexico" stopProcessing="true">
          <match url="^Quick_Facts/New_Mexico/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/new-mexico" redirectType="Permanent" />
        </rule>
                
				<rule name="quick new york" stopProcessing="true">
          <match url="^Quick_Facts/New_York/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/new-york" redirectType="Permanent" />
        </rule>
                
				<rule name="quick new zealand" stopProcessing="true">
          <match url="^Quick_Facts/New_Zealand/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/new-zealand" redirectType="Permanent" />
        </rule>
                
				<rule name="quick new jersey" stopProcessing="true">
          <match url="^Quick_Facts/New_Jersey/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/new-jersey" redirectType="Permanent" />
        </rule>
                        
				<rule name="quick fact North_Carolina" stopProcessing="true">
          <match url="^Quick_Facts/North_Carolina/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/north-carolina" redirectType="Permanent" />
        </rule>
                        
				<rule name="quick fact Nova_Scotia" stopProcessing="true">
          <match url="^Quick_Facts/Nova_Scotia/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/nova-scotia" redirectType="Permanent" />
        </rule>
                        
				<rule name="quick fact Puerto_Rico" stopProcessing="true">
          <match url="^Quick_Facts/Puerto_Rico/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/puerto-rico" redirectType="Permanent" />
        </rule>
                        
				<rule name="quick fact Rhode_Island" stopProcessing="true">
          <match url="^Quick_Facts/Rhode_Island/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/rhode-island" redirectType="Permanent" />
        </rule>
                
				<rule name="quick fact St._Kitts" stopProcessing="true">
          <match url="^Quick_Facts/St\._Kitts/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/st-kitts" redirectType="Permanent" />
        </rule>
                
				<rule name="quick fact St._Lucia" stopProcessing="true">
          <match url="^Quick_Facts/St\._Lucia/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/st-lucia" redirectType="Permanent" />
        </rule>
                
				<rule name="quick fact _Vincent_the_Grenadines" stopProcessing="true">
          <match url="^Quick_Facts/St\._Vincent_&amp;_the_Grenadines/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/st-vincent-the-grenadines" redirectType="Permanent" />
        </rule>
                        
				<rule name="quick fact Turcs_and_Caicos" stopProcessing="true">
          <match url="^Quick_Facts/Turcs_and_Caicos/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/turcs-and-caicos" redirectType="Permanent" />
        </rule>
                
				<rule name="quick fact US_Virgin_Islands" stopProcessing="true">
          <match url="^Quick_Facts/US_Virgin_Islands/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/us-virgin-islands" redirectType="Permanent" />
        </rule>
                
				<rule name="quick facts" stopProcessing="true">
          <match url="^Quick_Facts/([^/]*)/?$" ignoreCase="true" />
          <action type="Redirect" url="http://destinationido.com/{R:1}" redirectType="Permanent" />
        </rule>
        
        <rule name="Domain Name Check">
					<match url="(.*$)" ignoreCase="true" />
						<conditions>
							<add input="{HTTP_HOST}" negate="true" pattern="destinationido.com" />
						</conditions>
						<action type="Redirect" url="http://destinationido.com/{R:1}" redirectType="Permanent" />
				</rule>

        					
			</rules>
		</rewrite>

    
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="App_Data/Dependencies" />
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" />
        <bindingRedirect oldVersion="2.2.0.0-2.6.3.862" newVersion="2.6.3.862" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>