@model dynamic
<h1>@Html.TitleForPage(T("Change Password").ToString())</h1>
<p>@T("Your password has been changed successfully.")</p>
@if ((bool)ViewData["InvalidateOnPasswordChange"]) {
    <p>@T("Please, login using your new password.")</p>
}
