@model dynamic
<h1>@Html.TitleForPage(T("User Registration Pending").ToString()) </h1>
<p>@T("Your user account has been created but has to be approved before it can be used.")</p>
@if (Url.IsLocalUrl(Request.QueryString["ReturnUrl"])) {
    <p>@Html.Link(T("Go back to where you were"), Url.Content(Request.QueryString["ReturnUrl"]))</p>    
}