@using Orchard.Layouts.Elements
@{
    var element = (Snippet) Model.Element;
}
<div class="element-snippet layout-placeholder">
    <span class="fa fa-circle"></span>
    @T("{0} Snippet", element.Descriptor.DisplayText)
</div>