html.dyn label.forpicker {
    display:none;
}
/* todo: (heskew) let themes take care of this */
html.dyn input.hinted {
    color:#ccc;
    font-style:italic;
}
input#PublishLater_ScheduledPublishDate {
    width:49%;
}
input#PublishLater_ScheduledPublishTime {
    width:43%;
}