html.dyn label.forpicker {
    display:none;
}
/* todo: (heskew) let themes take care of this */
html.dyn input.hinted {
    color:#ccc;
    font-style:italic;
}

fieldset.publish-later-datetime {
    float:left;
    clear:none;
    white-space: nowrap;
    vertical-align: middle;
}
fieldset.publish-later-datetime legend {
    display:none;
}
fieldset.publish-later-datetime input {
    padding:1px;
    text-align:center;
    color:#666;
}

input#PublishLater_ScheduledPublishDate {
    width:10em;
    margin:0 0 0 12px;
}
input#PublishLater_ScheduledPublishTime {
    width:7em;
}
