@model IEnumerable<Orchard.Comments.Models.CommentPart>
@using Orchard.Comments.Models;
@using Orchard.Utility.Extensions;
<ul class="comments">
@foreach (var comment in Model) {
    <li>
        <article class="comment" id="comment-@comment.Id">
            <header>
                <h4>
                    <span class="who">@Display.CommentAuthor(ContentPart: comment)</span>
                    <span class="when">@Display.CommentMetadata(ContentPart: comment)</span>
                </h4>
            </header>
            <p class="text">@(new MvcHtmlString(Html.Encode(comment.Record.CommentText).Replace("\r\n", "<br />\r\n")))</p>
        </article>
    </li>
}
</ul>

