<ul class="comments">
@foreach (var comment in Model.CommentShapes) {
    <li>
        @{
            comment.Id = "comment-" + comment.ContentPart.Id;
            var tag = Tag(comment, "article"); // using Tag so the comment can be altered by custom modules
            tag.AddCssClass("comment");
        }
                
        @tag.StartElement
            @Display(comment)
        @tag.EndElement
                
        @if(comment.CommentShapes != null) {
            @Display.ListOfComments(CommentShapes: comment.CommentShapes)
        }
    </li>
}
</ul>
