@model IEnumerable<Orchard.Comments.Models.CommentPart>
@using Orchard.Comments.Models;

<ul class="comments">
@foreach (var comment in Model) {
    <li>
        <article class="comment">
            <header>
                <h4>
                    <span class="who">@Html.LinkOrDefault(comment.Record.UserName, comment.Record.SiteName, new { rel = "nofollow" })
                    </span>
                    <span class="when">said <time datetime="@comment.Record.CommentDateUtc.GetValueOrDefault()">@Html.Link(Display.DateTimeRelative(dateTime: comment.Record.CommentDateUtc.GetValueOrDefault()).ToString(), "#")</time>
                    </span>
                </h4>
            </header>
            <p class="text">@comment.Record.CommentText</p>
        </article>
    </li>
} 
</ul>

