@using Orchard.Comments.Models
@using Orchard.ContentManagement

@{
    var comment = (CommentPart) Model.ContentPart;
}

<header>
    <h4>
        <span class="who">@Display.CommentAuthor(ContentPart: comment)</span>
        <span class="when">@Display.CommentMetadata(ContentPart: comment)</span>
        @if (comment.CommentedOnContentItem.As<CommentsPart>().ThreadedComments) {
            <span class="reply">@Display.CommentReplyButton(ContentPart: comment)</span>
        }
    </h4>
</header>
<p class="text">@Html.Raw(Convert.ToString(Model.FormattedText))</p>


