<ul class="pageStatus">
    <li>
        @Display.CommentSummaryLinks(item: Model.ContentPart.ContentItem, count: Model.CommentCount, pendingCount: Model.PendingCount)
        @T(" | ")&nbsp;
    </li>
</ul>