@using Orchard.Comments.Models
@{
    CommentsPart commentsPart = Model.ContentPart;
    
    // add 'comments' class on the list container
    Model.List.Classes.Add("comments");
    Model.List.Id = string.Format("comments_{0}", commentsPart.ContentItem.Id);
}

<h2 class="comment-count">@T.Plural("No Comments", "1 Comment", "{0} Comments", (int)Model.CommentCount)</h2>
@Display(Model.List)

@* render reply button if threaded comments enabled *@
@if(commentsPart.ThreadedComments) {
    Script.Require("Comments.Threaded").AtFoot();
}