@model Orchard.Tags.ViewModels.TagsAdminCreateViewModel
@{
    Style.Require("TagsAdmin");
}
<div class="form-inline">
    @Html.TextBoxFor(m => m.TagName, new { @class = "form-control", placeholder = T("New Tag Name") })
    <button class="btn btn-primary" type="submit" name="submit.Create" value="yes"><i class="fa fa-plus"></i> @T("Add Tag")</button>
</div>
