@model Orchard.Tags.ViewModels.TagsAdminCreateViewModel
@{
    Style.Require("TagsAdmin");
}
<fieldset class="bulk-actions">
    <div class="input-group">
        @Html.TextBoxFor(m => m.TagName, new { @class = "form-control auto-size", placeholder = T("New Tag Name") })
        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" name="submit.Create" value="yes"><i class="fa fa-plus"></i> @T("Add Tag")</button>
        </span>
    </div>
</fieldset>