.contents #main h2 {
    margin:1.5em 0 .5em;
}
.manage.add-to-type {
    margin-top:-4em;
}

.manage-part h3 {
    border-bottom:1px solid #EAEAEA;
}
.manage-part .manage {
    font-size:1.4em;
    margin-top:-2.4em;
}
.manage-part .manage.minor {
    margin-top:-1.7em;
}