table.items .actions {
    white-space:nowrap;   
}
table.items tr {
    background:#f7f7f7;   
}
table.items tr.anonymous {
    background:#fff;   
}
.anonymous-commenter-id,
.authenticated-commenter-id {
    font-style:italic;
}