@model Orchard.Search.ViewModels.SearchViewModel

@using(Html.BeginForm("index", "search", new { area = "Orchard.Search" }, FormMethod.Get, new { @class = "search" })) { 
    <fieldset>
        @Html.TextBox("q", Model.Query)
        <button type="submit">@T("Search")</button>
    </fieldset>
} 
