<html>
<!-- This page is on the same domain as the parent, so can
communicate with it to order the iframe window resizing
to fit the content -->
<head>
    <script type="text/javascript">
        // Tell the parent iframe what height the iframe needs to be
        function resizeFrame() {
            var height = window.location.hash.substr(1);
            parent.parent.resizeIframe(height);
        }
    </script>
</head>
<body onload="resizeFrame()">
</body>
</html>
