@using Orchard.Blogs.Extensions;
@{
    Style.Include("pagination.css");
}
@if (Model.ThereIsANextPage || Model.Page > 1) {
    <ul class="blog-pagination">
    @if(Model.ThereIsANextPage) {
        <li class="older">
        @Html.ActionLink(T("Older Posts").Text, "Item", new { Area = "Orchard.Blogs", blogSlug = Model.BlogSlug, page = Model.Page + 1 })
        </li>
    }
    @if(Model.Page > 1) {
        <li class="newer">
        @Html.ActionLink(T("Newer Posts").Text, "Item", new { Area = "Orchard.Blogs", blogSlug = Model.BlogSlug, page = Model.Page - 1 })
        </li>
    }
    </ul>
}