@using Orchard.Utility.Extensions

@{ Layout.Title = T("Migrate Taxonomies").ToString(); }

@using (Html.BeginFormAntiForgeryPost()) {
    Html.ValidationSummary();
    <fieldset>
        <legend>@T("Migrating Taxonomies:")</legend>
        <span class="hint">@T("This migration step will convert the Contrib.Taxonomies content items to Orchard.Taxonomies.")</span>
    </fieldset>
    <fieldset>
        @if (ViewBag.CanMigrate) {
            <button type="submit">@T("Migrate")</button>
        }
    </fieldset>
}