@using Orchard.Utility.Extensions

@{ Layout.Title = T("Migrate Media Files").ToString(); }

@using (Html.BeginFormAntiForgeryPost()) {
    Html.ValidationSummary();
    <fieldset>
        <legend>@T("Migrating Media Files:")</legend>
        <span class="hint">@T("This migration step will create and organize new Media Content Items based on the media files in your ~/Media folder.")</span>
    </fieldset>
    <fieldset>
        <button type="submit">@T("Migrate")</button>
    </fieldset>
}