
<div>
    @model Orchard.DisplayManagement.Descriptors.ShapeTable
    <ul>
        @foreach(var descriptor in Model.Descriptors) {
            <li>
            @descriptor.Key
            <p>@descriptor.Value.BindingSource</p>
            </li>
        }
    </ul>
</div>