@model BodyEditorViewModel
@using Orchard.Core.Common.ViewModels;
<fieldset>
    <label>@T("Body")</label>
    @Display.Body_Editor(Text: Model.Text, EditorFlavor: Model.EditorFlavor, Required: false, AutoFocus: false, ContentItem: Model.BodyPart.ContentItem)
    @Html.ValidationMessageFor(m => m.Text)
</fieldset>