@using Orchard.Mvc.Html;

@if ((Model.IsPublished && Model.ScheduledArchiveUtc != null && Model.ScheduledArchiveUtc > DateTime.UtcNow)) { 
<ul class="pageStatus">
    <li>
        @Display.Image(Src: "~/Modules/Orchard.ArchiveLater/Content/Admin/images/scheduled.gif", Classes: "icon", Alt: T("Scheduled"), Title: T("The page is scheduled for archiving"))@T("Unpublish on")
        @Html.DateTime((DateTime)Model.ScheduledArchiveUtc.ToLocalTime(), T("M/d/yyyy h:mm tt"))
        &nbsp;&#124;&nbsp;
    </li>
</ul>
} 
