.message-status {
    background: url('./images/message-status.png') no-repeat -17px -17px;
    padding-left: 25px;
    line-height: 16px;
    vertical-align: middle;
}

.message-status.pending {
    background-position: -17px -17px;
}

.message-status.sending {
    background-position: -17px -67px;
}

.message-status.sent {
    background-position: -17px -116px;
}

.message-status.faulted {
    background-position: -17px -166px;
}

fieldset.summary ul li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

fieldset.summary ul li label,
fieldset.summary ul li span {
    float: left;
    display: block;
}

fieldset.summary ul li label {
    width: 200px;
    font-weight: bold;
}

fieldset.summary ul li label:after {
    content: ":";
}

span.queue-status {
    margin-right: 1.5em;
}

table.queues {
    clear: both;
}

table.queues td {
    vertical-align: middle;
}

ul.horizontal li {
    float: left;
}

.clear {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}