@using Orchard.Core.Contents.ViewModels;
@using Orchard.Utility.Extensions;
@using Orchard.Blogs.Extensions;
@using Orchard.Blogs.Models;
@{
    var pageSizes = new List<int?>() { 10, 50, 100 };
    var defaultPageSize = WorkContext.CurrentSite.PageSize;
    if (!pageSizes.Contains(defaultPageSize))
    {
        pageSizes.Add(defaultPageSize);
    }
    Layout.Tail.Add(New.ConfirmationDialog());
}


@using (Html.BeginFormAntiForgeryPost(Url.Action("List", "Admin", new { area = "Contents", id = "" })))
{
    <div class="panel-body">
        <fieldset class="content-items bulk-items content-items-with-actions">
            @Display(Model.ContentItems)
        </fieldset>
    </div>
    <div class="panel-footer">
        @Display(Model.Pager)
    </div>
}
