@{
    IEnumerable<object> blogPosts = Model.ContentItems;
    Model.ContentItems.Classes.Add("content-items");
    Model.ContentItems.Classes.Add("blog-posts");
}
@Display(Model.ContentItems)
@if (blogPosts == null || blogPosts.Count() < 1) {

    <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="no-content">
                @T("There are no posts for this blog.")</h3>
        </div>
    </div>
}
