@{ Layout.Title = T("Install a module from your computer").ToString(); }

@using (Html.BeginFormAntiForgeryPost(Url.Action("InstallLocally", "PackagingServices", new { redirectUrl = HttpContext.Current.Request["returnUrl"] }), FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.ValidationSummary();
    <fieldset>
        <label for="ModulePackage">@T("Module Package")</label>
        <input type="file" id="ModulePackage" size="64" name="ModulePackage" />
    </fieldset>
    <button type="submit" class="primaryAction">@T("Install")</button>
}