@using Orchard.Utility.Extensions

@{ Layout.Title = T("Migrate Messaging").ToString(); }

@using (Html.BeginFormAntiForgeryPost()) {
    Html.ValidationSummary();
    <fieldset>
        <legend>@T("Migrating Email Activities:")</legend>
        <span class="hint">@T("This migration step will update the existing Send Email activities to use the new Message Queueing functionality.")</span>
    </fieldset>
    <fieldset>
        <button type="submit">@T("Migrate")</button>
    </fieldset>
}