<system.diagnostics>
  <sources>
    <source name="Default" switchValue="Verbose">
      <listeners>
        <add name="AzureDiagnostics" />
      </listeners>
    </source>
    <source name="Orchard.Localization" switchValue="Verbose">
      <listeners>
        <add name="AzureDiagnostics" />
      </listeners>
    </source>
    <source name="Orchard.Data.SessionLocator" switchValue="Verbose">
      <listeners>
        <add name="AzureDiagnostics" />
      </listeners>
    </source>
  </sources>
  <sharedListeners>
    <add name="AzureDiagnostics" type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </sharedListeners>
</system.diagnostics>
