<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<configSections>
		<section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
	</configSections>
	
	<autofac defaultAssembly="Orchard.Framework">
		<components>
		
			<component instance-scope="single-instance" type="Orchard.Localization.Services.CultureDateTimeFormatProvider, Orchard.Framework" service="Orchard.Localization.Services.IDateTimeFormatProvider"></component>
			
			<!-- Configure Orchard to store shell settings in Windows Azure Blob Storage. -->
			<component instance-scope="single-instance" type="Orchard.FileSystems.Media.ConfigurationMimeTypeProvider, Orchard.Framework" service="Orchard.FileSystems.Media.IMimeTypeProvider"></component>
			<component instance-scope="single-instance" type="Orchard.Azure.Services.Environment.Configuration.AzureBlobShellSettingsManager, Orchard.Azure" service="Orchard.Environment.Configuration.IShellSettingsManager"></component>
			
			<!-- Configure Orchard to use role instance ID instead of Windows machine name for task lease records. -->
			<component instance-scope="single-instance" type="Orchard.Azure.Services.Environment.AzureApplicationEnvironment, Orchard.Azure" service="Orchard.Environment.IApplicationEnvironment, Orchard.Framework"></component>
			
		</components>
	</autofac>
	
</configuration>
