<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>

  <autofac defaultAssembly="Orchard.Framework">
    <components>

      <component instance-scope="single-instance"
                 type="Orchard.Azure.Environment.Configuration.AzureShellSettingsManager, Orchard.Azure"
                 service="Orchard.Environment.Configuration.IShellSettingsManager">
      </component>

    </components>
  </autofac>

</configuration>
