<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>

  <autofac defaultAssembly="Orchard.Framework">
    <components>

      <component instance-scope="single-instance"
                 type="Orchard.Azure.Environment.Configuration.AzureShellSettingsManager, Orchard.Azure"
                 service="Orchard.Environment.Configuration.IShellSettingsManager">
      </component>

      <component instance-scope="single-instance"
                 type="Orchard.Azure.Storage.AzureBlobStorageProvider, Orchard.Azure"
                 service="Orchard.Storage.IStorageProvider">
        <parameters>
          <parameter name="shellName" value="Default" />
        </parameters>
      </component>

      <component instance-scope="single-instance"
                 type="Orchard.Azure.Environment.Configuration.AzureAppDataFolder, Orchard.Azure"
                 service="Orchard.Environment.Configuration.IAppDataFolder">
        <parameters>
          <parameter name="shellName" value="Default" />
        </parameters>
      </component>

      
    </components>
  </autofac>

</configuration>

