<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	
	<root>
		<!-- Value of priority may be ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF. -->
		<priority value="WARN" />
		<appender-ref ref="AzureAppender" />
	</root>

	<appender name="AzureAppender" type="Orchard.Azure.Services.Logging.AzureDiagnosticsAppender, Orchard.Azure">
		<filter type="log4net.Filter.LevelRangeFilter">
			<!-- Only warning, error and fatal messages end up in this target, even if child loggers accept lower priority. -->
			<levelMin value="WARN" />
		</filter>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %logger - %P{Tenant} - %message%newline %P{Url}%newline" />
		</layout>
	</appender>
	
</log4net>
