<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <!-- Value of priority may be ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
    <priority value="WARN" />
    <appender-ref ref="AzureAppender" />
  </root>

  <!--
  <logger name="Orchard.Localization">
    <priority value="WARN" />
    <appender-ref ref="RollingLogFileAppender" />
  </logger>
  -->

  <appender name="AzureAppender" type="Orchard.Azure.Logging.AzureAppender, Orchard.Azure">

    <filter type="log4net.Filter.LevelRangeFilter">
      <!-- only error and fatal messages end up in this target, even if child loggers accept lower priority -->
      <levelMin value="ERROR" />
    </filter>
    
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %logger - %message%newline" />
    </layout>
  </appender>
</log4net>
