<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
	</configSections>

	<autofac defaultAssembly="Orchard.Framework">
    
    <!-- 
      To create tenant specific configurations, copy this file to ~/Congig/Sites.{tenant}.config 
      where {tenant} is the technical name of the targetted tenant
    -->
    <components>
      <!-- 
        Uncomment to use ReadUncommitted as the default isolation level. Please not that
        Sql Server Ce doesn't support ReadUncommitted.
      -->
      <!--
      <component instance-scope="per-lifetime-scope"
                   type="Orchard.Data.SessionLocator, Orchard.Framework"
                   service="Orchard.Data.ISessionLocator">
        <properties>
          <property name="IsolationLevel" value="ReadUncommitted" />
        </properties>
      </component>
      -->
    </components>
	</autofac>

</configuration>