<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>

  <autofac defaultAssembly="Orchard.Framework">
    <components>

      <component instance-scope="per-lifetime-scope"
                 type="Orchard.Azure.FileSystems.Media.AzureBlobStorageProvider, Orchard.Azure"
                 service="Orchard.FileSystems.Media.IStorageProvider">
      </component>

    </components>
  </autofac>

</configuration>

