/* Reset
***************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* Tell the browser to render HTML 5 elements as block */  
header, footer, aside, nav, article {  
	display: block;  
}  

/* Clearing Float
***************************************************************/
.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }

/*.group {display: inline-block;}*/  /* for IE/Mac */

/* Typography (Optional)
***************************************************************/



/* General
***************************************************************/
/* Default font settings. 
   The font-size 62.5% sets the base font to 10px */
body { 
  font-size: 62.5%;
  color: #333; 
  background: #fff;
  font-family: Tahoma, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

a {}
a:link {}
a:hover{}
a:visited{}

/* Headings */

h1,h2,h3,h4,h5,h6 { font-weight: normal; margin:.6em 0;}

h1 { font-size: 2em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }
h5 { font-size: 1em;   }
h6 { font-size: 1em; }

h1 img, h2 img, h3 img, 
h4 img, h5 img, h6 img {
  margin: 0;
}


/* TODO: We wrap all widgets with consistent html so we get predictable font sizing */

p, footer, .meta {
	font-size:1.3em;
	line-height:1.8em;
}

p {
    margin-bottom: 1em;
}

/* Structure
***************************************************************/
#layout-header, #layout-content, #layout-footer {
	width:960px;
	margin:0 auto;
}

#layout-header {
    background: #53a4ca;
    padding: 12px 0;
    margin-bottom:12px;
}

#branding a {
    color:#fff;
    text-decoration:none;
    padding:0 12px;
}

#layout-wrapper {
}

#layout-footer {
    border-top: 1px solid #999;
    margin-top:12px;
}

       
/* Navigation */

#navigation {
    width: 960px;
	margin: 12px auto;
	display:block;
    border-bottom: 1px solid #999;
}

nav ul {
	padding: 0 0 0 8px;
}

nav ul li
 {
	border:1px solid #999;
	background:#f6f6f6;
	display:block;
	float:left;
	margin:0 2px -1px 0;
}

nav ul li.current {
	border-bottom: 1px solid #fff;
	background:#fff;
}

nav ul a {
	padding:0 18px;
    display:block;
	float:left;
    color: #333;
    font-size:1.4em;
    text-decoration:none;
    line-height:24px;
}

/* Main
***************************************************************/

#content, .aside, .about {
    padding:6px;
}

/* One Sidebar on */
.has-sidebar #content {
	width: 588px;
	float:left;
}

.has-sidebar .aside.first {
    width: 348px;
	float:right;
}

/* Sidebar on the left */
.has-sidebar-left #content {
	width: 588px;
	float:right;
}

.has-sidebar-left .aside.second {
    width: 348px;
	float:left;
}

/* Two Sidebars on */
.has-sidebars #content {
	width: 588px;
}

.has-sidebars .aside.first, .has-sidebars .aside.second {
    width: 168px;
}

.has-sidebars .aside.first, .has-sidebars .aside.second, .has-sidebars #content {
    float:left;
}

/* Secondary
***************************************************************/

/* Forms
***************************************************************/
label             { font-weight: normal; display:block; }
label.forcheckbox { margin:0 0 0 .4em; display:inline; }
fieldset          { padding:0em; margin: 0 0 0em 0; border: 0px solid #ccc; }
legend            { font-weight: 600; font-size:1.2em; }


input[type="text"], #CommentText, #password, #confirmPassword {
    border:1px solid #999;
    display: block;
    padding:6px;
    width:50%;
}

form.search {
    margin-bottom:2em;
}

.search input[type=text] {
    display:inline;
    width:17em;
}

fieldset div {margin:1.6em 0 0 0}
    
legend {
	font-size: 1.4em;
	border:none;
}

label {
    font-size: 1.3em;
    margin:0 0 .3em 0;
    }

input[type="checkbox"] {
    margin:.2em 0 1.2em 0;
}

input[type="submit"], input[type="button"], button, .button, .button:link, .button:visited {
	color:#333;
    background:#F5F5F5;
	background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#cbcbcb));
	background:-moz-linear-gradient(top , #F5F5F5, #cbcbcb);
	border:1px solid #999;
	cursor:pointer;
    margin:.2em 0 2em 0;
	padding:.3em 1.8em;
	text-align:center;
}

input[type="submit"]:hover, input[type="button"]:hover,
input[type="submit"]:active, input[type="button"]:active,
input[type="submit"]:focus, input[type="button"]:focus,
button:hover, .button:hover,
button:active, .button:active,
button:focus, .button:focus {
    text-decoration:none; 
    background: #ffac40;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffac40), to(#f06015));
	background: -moz-linear-gradient(top,  #ffac40,  #f9760d);
    background: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#ebebeb));
	background:-moz-linear-gradient(top , #e1e1e1, #ebebeb);
}


/* Misc
***************************************************************/

/* For testing purposes */
#comments {
    font-weight:600;
    margin:1.2em 0 1.2em 1.2em;
}

ul.comments, form.comment {
    margin:1.2em 0 1.2em 1.2em;
}

div.comment span {
    font-size:1.3em;
}

ul.comments li div.text {
    margin:.6em 0;
}

.user-display {
    display:inline;
}

.aside.third {
    border-top:1px solid #999999;
    clear:both;
}

.aside.third div > div {
     float:left;
     width:304px;
     padding:12px 6px 0 6px;
}

/* Featured Zone - switch to an image */

.featuredimage {
    float:left;
    border: 1px solid #ccc;
    width: 462px;
    height: 240px;
    margin: 6px;
}

/* Recent Zone */

#zone-recent ul li {
    float:left;
    width: 462px;
    margin: 6px;
}


.clearfix {
	clear:both;
}