@{ Layout.Title = T("Create New Content").ToString(); }

@foreach (var type in Model.ContentTypes) {
    <p>@Display.ActionLink(Value: type.DisplayName, Action: "Create", Area: "Contents", RouteValues: new { Id = (string)type.Name, ContainerId = Model.ContainerId, ReturnUrl = Request.QueryString["ReturnUrl"] })</p>
}