@{ Layout.Title = T("Create New Content").ToString(); }

<div class="panel panel-default">
    <div class="panel-body">
        @foreach (var type in Model.ContentTypes) {
            <div>
                <a class="btn btn-link" href="@Url.Action( "Create", new { Area = "Contents", Id = (string)type.Name, ContainerId = Model.ContainerId, ReturnUrl = Request.QueryString["ReturnUrl"] })">
                   <i class="fa fa-plus-circle"></i> @((string)T(type.DisplayName).Text)
                </a>
            </div>
        }
    </div>
</div>