@using Orchard.Core.Contents.Extensions
@{
    var typeDisplayName = Model.ContentItem.TypeDefinition.DisplayName;
    var pageTitle = T("Edit Content");
    if (!string.IsNullOrWhiteSpace(typeDisplayName)) {
        pageTitle = T("Edit {0}", T(typeDisplayName));
    }

    Layout.Title = pageTitle;
    Html.AdminBreadcrumbs(new { CurrentItem = Model.ContentItem });
}

<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginFormAntiForgeryPost(Url.Action("Edit"), FormMethod.Post, new { enctype = "multipart/form-data", @class = "no-multisubmit" })) {
            @Html.ValidationSummary()
            @Display(Model)
        }
    </div>
</div>