@using Orchard.Experimental.Models;

<div class="debug message">
    Experimental: displaying @Html.ActionLink(T("{0} #{1} v{2}", Model.ContentItem.ContentType, Model.ContentItem.Id, Model.ContentItem.Version).ToString(), "details", "content", new { area = "Orchard.Experimental", Id = (int)Model.ContentItem.Id, Version = (int)Model.ContentItem.Version }, new { }))
</div>