@using Orchard.Experimental.Models;

<div class="debug message">
    Experimental: displaying @Display.ActionLink(Value: T("{0} #{1} v{2}", Model.ContentItem.ContentType, Model.ContentItem.Id, Model.ContentItem.Version), Action: "details", Controller: "content", Area: "Orchard.Experimental", RouteValues: new { Model.ContentItem.Id, Model.ContentItem.Version })
</div>