@using Orchard.ContentManagement;
<div class="widget widget-manage">
<div class="actions">@Html.ItemEditLinkWithReturnUrl(T("Edit").Text, (ContentItem)Model.ContentItem)</div>
@Display(Model.Main)
</div>