
<div class="panel-body">
    <div class="edit-widget">
        <div class="primary">
            @Display(Model.Content)
        </div>
    </div>
</div>
<div class="panel-footer">
    <div class="secondary edit-item-sidebar">
        @Display(Model.Sidebar)
    </div>
</div>