<div class="edit-widget">
    <div class="edit-item-primary">
        @Display(Model.Content)
    </div>
    <div class="edit-item-secondary group">
        <div class="edit-item-sidebar group">
            @Display(Model.Sidebar)
        </div>
    </div>
</div>
