@using Orchard.Environment.Extensions.Models
@if (HasText(Model.ZonePreviewImage)) {
<p id="widgets-theme-zone-preview">@Display.Image(Src: Model.ZonePreviewImage, Alt: T("{0} zone preview", (string)Model.CurrentTheme.Name))</p>
}